In [2]:
# import needed
import pandas as pd # data processing
import pandas_profiling as pp
import numpy as np # linear algebra
import pprint #indet json 
import requests #make http requests
from qwikidata.sparql  import return_sparql_query_results #return sparql results

In [ ]:
df_netflix = pd.read_csv('originalDataset/netflix_titles.csv')
df_amazon = pd.read_csv('originalDataset/amazon_prime_titles.csv')
print(len(df_netflix))
print(len(df_amazon))

:

:

In [6]:
df_netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [7]:
df_amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [8]:
df_netflix["date_added"] = pd.to_datetime(df_netflix['date_added']) #turn dates into dates


""" df_netflix['month_added']=df_netflix['date_added'].dt.month
df_netflix['month_name_added']=df_netflix['date_added'].dt.month_name() #add separate column 4 year date month(?)
df_netflix['year_added'] = df_netflix['date_added'].dt.year
 """
df_netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [14]:
netflix = df_netflix.query("type == 'Movie'") #keep only movies
netflix.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
netflix.head(3)

NameError: name 'df_netflix' is not defined

In [13]:

#QUERY!!!!!!!!!!!!!

'''SELECT ?film ?film_label ?director ?director_label ?dir_gen ?dir_gen_label ?distributor ?distributor_label ?review_score
WHERE
{
  ?film wdt:P31 wd:Q11424 .
  ?film rdfs:label "Zubaan"@en .
  ?film rdfs:label ?film_label .
  FILTER(lang(?film_label) = 'en')
  ?film wdt:P57 ?director . 
  ?director rdfs:label ?director_label .    
  FILTER(lang(?director_label) = 'en')
  ?director wdt:P21 ?dir_gen . 
  ?dir_gen rdfs:label ?dir_gen_label .
  FILTER(lang(?dir_gen_label) = 'en')
  ?film wdt:P750 ?distributor . 
  ?distributor rdfs:label ?distributor_label .
  FILTER(lang(?distributor_label) = 'en')
  ?film wdt:P444 ?review_score .
}'''

'SELECT ?film ?film_label ?director ?director_label ?dir_gen ?dir_gen_label ?distributor ?distributor_label ?review_score\nWHERE\n{\n  ?film wdt:P31 wd:Q11424 .\n  ?film rdfs:label "Zubaan"@en .\n  ?film rdfs:label ?film_label .\n  FILTER(lang(?film_label) = \'en\')\n  ?film wdt:P57 ?director . \n  ?director rdfs:label ?director_label .    \n  FILTER(lang(?director_label) = \'en\')\n  ?director wdt:P21 ?dir_gen . \n  ?dir_gen rdfs:label ?dir_gen_label .\n  FILTER(lang(?dir_gen_label) = \'en\')\n  ?film wdt:P750 ?distributor . \n  ?distributor rdfs:label ?distributor_label .\n  FILTER(lang(?distributor_label) = \'en\')\n  ?film wdt:P444 ?review_score .\n}'

In [14]:
p = pprint.PrettyPrinter(indent=1)
# funzia piu o mno come una ricerca su wikidata
API_WD = "https://www.wikidata.org/w/api.php"
params = {
    'action': 'wbsearchentities',# <------------ web search from wikidata
    'format': 'json',
    'language': 'en',
    'search': 'Dick Johnson Is Dead' # the query string
}

# query wd API    
r = requests.get(API_WD, params = params).json() 
p.pprint(r)

{'search': [{'concepturi': 'http://www.wikidata.org/entity/Q84366622',
             'description': '2020 documentary film by Kirsten Johnson',
             'display': {'description': {'language': 'en',
                                         'value': '2020 documentary film by '
                                                  'Kirsten Johnson'},
                         'label': {'language': 'en',
                                   'value': 'Dick Johnson Is Dead'}},
             'id': 'Q84366622',
             'label': 'Dick Johnson Is Dead',
             'match': {'language': 'en',
                       'text': 'Dick Johnson Is Dead',
                       'type': 'label'},
             'pageid': 83667587,
             'repository': 'wikidata',
             'title': 'Q84366622',
             'url': '//www.wikidata.org/wiki/Q84366622'}],
 'searchinfo': {'search': 'Dick Johnson Is Dead'},
 'success': 1}

In [15]:
from SPARQLWrapper import SPARQLWrapper, JSON #questo serve a vedere la struttura delle risposte
import ssl

p = pprint.PrettyPrinter(indent=1)
ssl._create_default_https_context = ssl._create_unverified_context #????? ceracare poi (lezioni daquino)

# get the endpoint API
wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql" #<---------- Non è l'endpoint, stiamo fetchando della documentazione di qualche tipo

# prepare the query : 10 random triples
my_SPARQL_query = """
SELECT *
WHERE {?s ?p ?o}
LIMIT 10
"""

# set the endpoint 
sparql_wd = SPARQLWrapper(wikidata_endpoint)
# set the query
sparql_wd.setQuery(my_SPARQL_query)
# set the returned format
sparql_wd.setReturnFormat(JSON)
# get the results
results = sparql_wd.query().convert()

p.pprint(results)

{'head': {'vars': ['s', 'p', 'o']},
 'results': {'bindings': [{'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:29Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:31Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:32Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:33Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:34Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:35Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:37Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:39Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:40Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}},
                          {'o': {'datatype': 'http://www.w3.org/2001/XMLSchema#dateTime',
                                 'type': 'literal',
                                 'value': '2021-09-24T23:11:41Z'},
                           'p': {'type': 'uri',
                                 'value': 'http://schema.org/dateModified'},
                           's': {'type': 'uri',
                                 'value': 'http://wikiba.se/ontology#Dump'}}]}}

In [3]:
import time
for x in range(6):
  if x == 3:
    time.sleep(5)
    print(x)
  else:
    print(x)

0
1
2
3
4
5

In [17]:
title = list(netflix['title']) #printa una lista di titoli da netflix
#print(title[0:100], title[100:200])
#print(title[0:100], title[100:200])
print(len(title))

6131

In [22]:
#print(film)
ciccio_prova = title[0:20] 
print(ciccio_prova)

['Dick Johnson Is Dead', 'My Little Pony: A New Generation', 'Sankofa', 'The Starling', 'Je Suis Karl', 'Confessions of an Invisible Girl', "Europe's Most Dangerous Man: Otto Skorzeny in Spain", 'Intrusion', 'Avvai Shanmughi', 'Go! Go! Cory Carson: Chrissy Takes the Wheel', 'Jeans', 'Minsara Kanavu', 'Grown Ups', 'Dark Skies', 'Paranoia', 'Ankahi Kahaniya', 'The Father Who Moves Mountains', 'The Stronghold', 'Birth of the Dragon', 'Jaws']

In [ ]:
""" print("film1 should be []")
print(film) """


p = pprint.PrettyPrinter(indent=1)

def wikidata_reconciliation(query):

    oneundred_ttls = [ciccio_prova[x:x + 100] for x in range(0, len(ciccio_prova), 100)]
    for i in range(0, len(oneundred_ttls)):
        time.sleep(25)
        

        ssl._create_default_https_context = ssl._create_unverified_context
    
    
    # get the endpoint API
        wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"
        """ print("query = title[0:2]")
        print(query)
        print("film should be []")
        print(film) """

        for x in oneundred_ttls[i]:
            print(x)
            my_SPARQL_query = """
            SELECT ?film ?film_label ?director ?director_label ?dir_gen ?dir_gen_label ?distributor ?distributor_label ?review_score
            WHERE
            {
            ?film wdt:P31 wd:Q11424 .
            ?film rdfs:label """+'"'+ x +'"' +"""@en .
            ?film rdfs:label ?film_label .
            FILTER(lang(?film_label) = 'en')
            ?film wdt:P57 ?director . 
            ?director rdfs:label ?director_label .    
            FILTER(lang(?director_label) = 'en')
            ?director wdt:P21 ?dir_gen . 
            ?dir_gen rdfs:label ?dir_gen_label .
            FILTER(lang(?dir_gen_label) = 'en')
            ?film wdt:P750 ?distributor . 
            ?distributor rdfs:label ?distributor_label .
            FILTER(lang(?distributor_label) = 'en')
            ?film wdt:P444 ?review_score .
            }
            """
            # set the endpoint 
            sparql_wd = SPARQLWrapper(wikidata_endpoint)
            # set the query
            sparql_wd.setQuery(my_SPARQL_query)
            # set the returned format
            sparql_wd.setReturnFormat(JSON)
            # get the results
            
            results = sparql_wd.query().convert()
            response = requests.head(wikidata_endpoint)
            """if response.status_code == 429:
                print("riproviamo")
                time.sleep(int(response.headers["Retry-After"]))"""
            
            if results['results']['bindings'] == []:
                print(""+x+" not found")
            else:
                film.append(results['results']['bindings'][0]['film_label']['value'])
                director.append(results['results']['bindings'][0]['director_label']['value'])
                gender.append(results['results']['bindings'][0]['dir_gen_label']['value'])
                distributor.append(results['results']['bindings'][0]['distributor_label']['value'])
                    
            
    print(len(film))



wikidata_reconciliation(ciccio_prova)

#wikidata_reconciliation(title[100:200])

Dick Johnson Is Dead
My Little Pony: A New Generation
My Little Pony: A New Generation not found
Sankofa
Sankofa not found
The Starling
Je Suis Karl
Je Suis Karl not found
Confessions of an Invisible Girl
Confessions of an Invisible Girl not found
Europe's Most Dangerous Man: Otto Skorzeny in Spain
Europe's Most Dangerous Man: Otto Skorzeny in Spain not found
Intrusion
Intrusion not found
Avvai Shanmughi
Avvai Shanmughi not found
Go! Go! Cory Carson: Chrissy Takes the Wheel
Go! Go! Cory Carson: Chrissy Takes the Wheel not found
Jeans
Jeans not found
Minsara Kanavu
Minsara Kanavu not found
Grown Ups
Dark Skies
Paranoia
Ankahi Kahaniya
Ankahi Kahaniya not found
The Father Who Moves Mountains
The Father Who Moves Mountains not found
The Stronghold
The Stronghold not found
Birth of the Dragon
Jaws
Jaws 2
Jaws 3
Jaws 3 not found
Jaws: The Revenge
My Heroes Were Cowboys
My Heroes Were Cowboys not found
Safe House
Training Day
InuYasha the Movie 2: The Castle Beyond the Looking Glass
InuYasha the Movie 2: The Castle Beyond the Looking Glass not found
InuYasha the Movie 3: Swords of an Honorable Ruler
InuYasha the Movie 3: Swords of an Honorable Ruler not found
InuYasha the Movie 4: Fire on the Mystic Island
InuYasha the Movie 4: Fire on the Mystic Island not found
InuYasha the Movie: Affections Touching Across Time
InuYasha the Movie: Affections Touching Across Time not found
Naruto Shippuden the Movie: Blood Prison
Naruto Shippuden the Movie: Blood Prison not found
Naruto Shippûden the Movie: Bonds
Naruto Shippûden the Movie: Bonds not found
Naruto Shippûden the Movie: The Will of Fire
Naruto Shippûden the Movie: The Will of Fire not found
Naruto Shippuden: The Movie
Naruto Shippuden: The Movie not found
Naruto Shippuden: The Movie: The Lost Tower
Naruto Shippuden: The Movie: The Lost Tower not found
Naruto the Movie 2: Legend of the Stone of Gelel
Naruto the Movie 2: Legend of the Stone of Gelel not found
Naruto the Movie 3: Guardians of the Crescent Moon Kingdom
Naruto the Movie 3: Guardians of the Crescent Moon Kingdom not found
Naruto the Movie: Ninja Clash in the Land of Snow
Naruto the Movie: Ninja Clash in the Land of Snow not found
Nightbooks
Schumacher
Schumacher not found
A StoryBots Space Adventure
A StoryBots Space Adventure not found
King of Boys
King of Boys not found
You vs. Wild: Out Cold
You vs. Wild: Out Cold not found
Little Singham - Black Shadow
Little Singham - Black Shadow not found
Tughlaq Durbar
Tughlaq Durbar not found
Tughlaq Durbar (Telugu)
Tughlaq Durbar (Telugu) not found
Firedrake the Silver Dragon
Firedrake the Silver Dragon not found
Kate
Omo Ghetto: the Saga
Omo Ghetto: the Saga not found
Prey
Blood Brothers: Malcolm X & Muhammad Ali
Blood Brothers: Malcolm X & Muhammad Ali not found
Paradise Hills
The Women and the Murderer
The Women and the Murderer not found
JJ+E
JJ+E not found
Show Dogs
If I Leave Here Tomorrow: A Film About Lynyrd Skynyrd
If I Leave Here Tomorrow: A Film About Lynyrd Skynyrd not found
Untold: Breaking Point
Untold: Breaking Point not found
Shadow Parties
Shadow Parties not found
Angamaly Diaries
Angamaly Diaries not found
A Champion Heart
A Champion Heart not found
Worth
Worth not found
Afterlife of the Party
Anjaam
Anjaam not found
Bright Star
Dhanak
Final Account
Final Account not found
Gurgaon
Gurgaon not found
Here and There
In the Cut
Shikara
Shikara not found
A Cinderella Story
Agatha Christie's Crooked House
Agatha Christie's Crooked House not found
An Unfinished Life
Barbie Big City Big Dreams
Barbie Big City Big Dreams not found
Blade Runner: The Final Cut
Blade Runner: The Final Cut not found
Chappie
Clear and Present Danger
Cliffhanger
Cold Mountain
Crocodile Dundee in Los Angeles
Dear John
Do the Right Thing
El patrón, radiografía de un crimen
El patrón, radiografía de un crimen not found
Extraction
Freedom Writers
Green Lantern
House Party
House Party 2
House Party 3
House Party 3 not found
I Got the Hook Up
In Too Deep
Initial D
Janoskians: Untold and Untrue
Janoskians: Untold and Untrue not found
Labyrinth
Letters to Juliet
Level 16
Level 16 not found
Love Don't Cost a Thing
Love in a Puff
Love in a Puff not found
Mars Attacks!
Marshall
My Boss's Daughter
Mystery Men
Once Upon a Time in America
Open Season 2
Open Season 2 not found
Osmosis Jones
Osmosis Jones not found
Poseidon
Rhyme & Reason
Same Kind of Different as Me
School of Rock
Snervous Tyler Oakley
Snervous Tyler Oakley not found
Tears of the Sun
The Blue Lagoon
The Golden Child
The Guns of Navarone
The Interview
The Nutty Professor
The Nutty Professor II: The Klumps
The Nutty Professor II: The Klumps not found
Welcome Home Roscoe Jenkins
In the Line of Fire
Untold: Crime & Penalties
Untold: Crime & Penalties not found
2 Alone in Paris

HTTPError: HTTP Error 429: Too Many Requests

# New

In [4]:
df_newdata = pd.read_csv('new_data.csv')
df_newdata = df_newdata.loc[:, ~df_newdata.columns.str.contains('^Unnamed')]
df_newdata.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
df_newdata['title'] = df_newdata['title'].replace({'"':''}, regex=True)

df_newdata.head(2)
#print(len(df_newdata))

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,description,netflix,amazon,date_added_amazon
0,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,1,0,1000
1,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",No Data,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,1,0,1000

In [5]:
movie_to_find = df_newdata.query("type == 'Movie'") #keep only movies
serie_to_find = df_newdata.query("type == 'TV Show'")


movie_to_find.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
movie_to_find.head(1)

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,description,netflix,amazon,date_added_amazon
0,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",No Data,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,1,0,1000

In [6]:
print(len(df_newdata))
print(len(movie_to_find))
print(len(serie_to_find))
print(12214 -12036)

12214
12036
178
178

In [7]:
movie_title = list(movie_to_find['title'])


print(movie_title.index("Gabriel Fluffy Iglesias: One Show Fits All"))
#print(movie_title[2399:])
print(len(movie_title))
print(movie_title[11876:11877])
print(movie_title.index("Zinzana"))

2399
12036
['Cover-Up']
5513

In [ ]:
# old query
"""
            SELECT ?film ?film_label ?director ?director_label ?dir_gen ?dir_gen_label ?distributor ?distributor_label ?review_score
            WHERE
            {
            ?film wdt:P31 wd:Q11424 .
            ?film rdfs:label """+'"'+ x +'"' +"""@en .
            ?film rdfs:label ?film_label .
            FILTER(lang(?film_label) = 'en')
            OPTIONAL {?film wdt:P57 ?director . 
            ?director rdfs:label ?director_label .    
            FILTER(lang(?director_label) = 'en')}
            OPTIONAL {?director wdt:P21 ?dir_gen . 
            ?dir_gen rdfs:label ?dir_gen_label .
            FILTER(lang(?dir_gen_label) = 'en')}
             OPTIONAL {?film wdt:P750 ?distributor . 
            ?distributor rdfs:label ?distributor_label .
            FILTER(lang(?distributor_label) = 'en')}
            }
"""

In [8]:
from SPARQLWrapper import SPARQLWrapper, JSON #questo serve a vedere la struttura delle risposte
import ssl

p = pprint.PrettyPrinter(indent=1)

In [ ]:
# "In Your Hands" == error 500

In [16]:
distributor = []
imdbID = []
rottenscore = []

In [17]:
film = [] #facciamo un po' di liste che ci divertiamo
director = []
gender = []

In [9]:
import time
not_found = []

In [18]:

p = pprint.PrettyPrinter(indent=1)
import urllib.error
from xml.etree.ElementPath import xpath_tokenizer_re

def wikidata_reconciliation(query):

    
    # get the endpoint API
    wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"
        

    for x in query:
        
        try:

            print(x)
            my_SPARQL_query = """
            SELECT ?film ?film_label ?director ?director_label ?dir_gen ?dir_gen_label 
            WHERE
            {
            ?film wdt:P31 wd:Q11424 .
            ?film rdfs:label """+'"'+ x +'"' +"""@en .
            ?film rdfs:label ?film_label .
            FILTER(lang(?film_label) = 'en')
            OPTIONAL {?film wdt:P57 ?director . 
            ?director rdfs:label ?director_label .    
            FILTER(lang(?director_label) = 'en')
            OPTIONAL {?director wdt:P21 ?dir_gen . 
            ?dir_gen rdfs:label ?dir_gen_label .
            FILTER(lang(?dir_gen_label) = 'en')}}
            
            }
            """
            # set the endpoint 
            sparql_wd = SPARQLWrapper(wikidata_endpoint)
            # set the query
            sparql_wd.setQuery(my_SPARQL_query)
            # set the returned format
            sparql_wd.setReturnFormat(JSON)
            # get the results
            
            results = sparql_wd.query().convert()

            if results['results']['bindings'] == []:
                not_found.append(""+x+"")
                print(""+x+" not found")
                
            else:
                film.append(results['results']['bindings'][0]['film_label']['value'])
                if "director_label" in results['results']['bindings'][0]:
                    director.append(results['results']['bindings'][0]['director_label']['value'])
                else:
                    director.append("no_data")
                if "dir_gen_label" in results['results']['bindings'][0]:
                    gender.append(results['results']['bindings'][0]['dir_gen_label']['value'])
                else:
                    gender.append("no_data")
                


        except urllib.error.HTTPError as e:
            print("!!!!!HELP!!!!!")
            print(e.headers)
            print(e.headers["retry-after"])
            time.sleep((int(e.headers["retry-after"])) + 1)
            error_title = query.index(x)
            print(x)
            print(error_title)
            print(query[error_title])
            wikidata_reconciliation(query[error_title:])
            
   



wikidata_reconciliation(movie_title[2637:])

Anjaan
Bathinda Express
Bathinda Express not found
Delhi 6
Delhi 6 not found
Dev.D
Dil Vil Pyaar Vyaar
Dushman
Ek Main Aur Ekk Tu
Freedom at Midnight
Freedom at Midnight not found
Haani
Happy Go Lucky
Harishchandrachi Factory
Jagga Jasoos
Jatt James Bond
Jodhaa Akbar
Judge Singh LLB
Kaminey
Khido Khundi
Khoobsurat
Kisaan
Kismat Konnection
Kurbaan
Lock

KeyboardInterrupt:

In [58]:
#print(not_found)

['My Little Pony: A New Generation', 'Je Suis Karl']

In [10]:
from http.client import IncompleteRead

In [23]:


import urllib.error
from xml.etree.ElementPath import xpath_tokenizer_re

def wikidata_reconciliation1(query):

    
    # get the endpoint API
    wikidata_endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"
        

    for x in query:

        try:

            
            my_SPARQL_query = """
            SELECT ?film ?film_label ?distributor ?distributor_label ?imdbID ?rottenscore
            WHERE
            {
            ?film wdt:P31 wd:Q11424 .
            ?film rdfs:label """+'"'+ x +'"' +"""@en .
            ?film rdfs:label ?film_label .
            FILTER(lang(?film_label) = 'en')
            OPTIONAL {?film wdt:P750 ?distributor . 
            ?distributor rdfs:label ?distributor_label .
            FILTER(lang(?distributor_label) = 'en')}
            OPTIONAL {?film wdt:P345 ?imdbID.}
            OPTIONAL {?film wdt:P444 ?rottenscore.}
            }
            """
            # set the endpoint 
            sparql_wd = SPARQLWrapper(wikidata_endpoint)
            # set the query
            sparql_wd.setQuery(my_SPARQL_query)
            # set the returned format
            sparql_wd.setReturnFormat(JSON)
            # get the results
            
            results = sparql_wd.query().convert()

            if results['results']['bindings'] == []:
                print(""+x+" not found")
            else:
                film.append(results['results']['bindings'][0]['film_label']['value'])
                if "distributor_label" in results['results']['bindings'][0]:
                    distributor.append(results['results']['bindings'][0]['distributor_label']['value'])
                else:
                    distributor.append("no_data")
                if "imdbID" in results['results']['bindings'][0]:
                    imdbID.append(results['results']['bindings'][0]['imdbID']['value'])
                else:
                    imdbID.append("no_data")
                if "rottenscore" in results['results']['bindings'][0]:
                    rottenscore.append(results['results']['bindings'][0]['rottenscore']['value'])
                else:
                    rottenscore.append("no_data")



        except urllib.error.HTTPError as e:

            print(e.headers["retry-after"])
            time.sleep((int(e.headers["retry-after"])) + 1)
            error_title = query.index(x)
            wikidata_reconciliation1(query[error_title:])
        except IncompleteRead:
            # Oh well, reconnect and keep trucking
            continue
            




wikidata_reconciliation1(movie_title[8089:9000])

Asin_tombstone_test_target not found
You Belong To Me not found
Tom Clancy's Without Remorse not found
The Man From Kathmandu not found
Solar Impact not found
Silence (Tamil) not found
Seduced not found
Scotland, PA not found
Paranormal Investigation Agency not found
Night of a Lone Owl not found
Mike Case in: The Big Kiss Off not found
Maikol Yordan 2: The faraway cure not found
Ghost Box not found
Edgar Allan Poe's The Oval Portrait not found
Dominick Dunne: After The Party not found
Capturing the Light not found
Bacterium not found
100M Criminal Conviction not found
Younger & Younger not found
The Struggle 2: The Dilemma not found
The Manchurian Candidate (2004) not found
The Luck Of Ginger Coffey not found
The House of Screaming Death not found
The House Across The Bay not found
The Bone Garden not found
Sweet Mahogany 2: Pure Indulgence not found
Sugarbaby not found
Ruin Agency not found
Rogue Cell 2: Shadow Warrior not found
Rim Of The Canyon not found
Riders Of The Whistling Pines not found
Psycho Kickboxer not found
Phantom of the Grindhouse not found
Music & Murder 2 not found
Landshark not found
Gulaebaghavali not found
Ghetto Dawg not found
Five Last Days not found
Clive Barker's Underworld not found
Border Blues not found
Beauty Queen Butcher not found
To Tokyo not found
The History of Time Travel not found
Love and Friendship not found
Journey to Royal: A WWII Rescue Mission not found
Aamchya Sarkhe Aamhich not found
A Haunting on Hamilton Street not found
Hellkat not found
Viswacharyudu not found
The Love Between Us not found
Snoop Dogg Presents The Bad Girls of Comedy not found
Perfect Plan not found
Once Upon a Time in the Apocalypse not found
Mariah Carey's All I Want For Christmas Is You not found
Living with the enemy not found
Frank & Fearless not found
Extreme Raheem not found
Contract Lovers not found
Brooklyn Love Stories not found
Bol Baby Bol not found
Attention Please not found
Ape Canyon not found
Actress Wanted not found
Abuses not found
A quiet heart not found
45 Days To Be Rich not found
15 Minute Forest Stream Meditation not found
Time Sleeper not found
The woman I lost not found
The Tell Tale Heart not found
The Prankster not found
The Husband's Lethal Intentions not found
Suburban Nightmare not found
Samayam Ledhu Mithrama not found
Nightingale: A Melody of Life not found
Mr. Weekend not found
L'Enfant Terrible not found
Kuriyan Jawan Bapu Preshaan not found
Killing Eva Braun not found
History of a Scoundrel not found
Fack Ju Goehte - Suck Me Shakespeer not found
Baby Shark and More Kids Songs not found
American Mobster: Retribution not found
A Sweetest Kiss not found
10 Hours for Christmas not found
Who Killed the Electric Car not found
Uzumaki (Spiral) (English subtitled) not found
Shadows of the Evening not found
Scientology not found
Paradise Park not found
Number One of the Secret Service not found
Nepotism not found
Mitzi Gaynor (2nd Special 1969) not found
Loyal Opposition not found
Hunt vs Lauda: F1's Greatest Racing Rivals not found
Goblin not found
Give not found
Ghar Pe Bataao not found
Cut the Rope - Om Nom Stories Video Blog not found
Captain Rana Pratap not found
At Granny's House not found
Tad: The Lost Explorer not found
Sisters And The Shrink 2 not found
Mitzi... Zings into Spring not found
Mitzi... What's Hot, What's Not not found
Mitzi Gaynor, The First Time not found
Mitzi Gaynor, A Tribute to the American Housewife not found
Mitzi Gaynor Razzle Dazzle! The Special Years not found
Mitzi Gaynor and 100 Guys not found
Mitzi (NBC 1968) not found
In The Hood not found
Idi Na Selfie not found
Hobo Heyseus not found
Good Grief It's Friday not found
Cut The Rope: Om Nom Stories - Challenging Games not found
Chelli Kosam not found
Catching Up not found
Blacksmith not found
Babyface not found
Axeman At Cutter's Creek not found
Atma Vasikaranam not found
And There Were 4 not found
Toys Storage 2 not found
Tomorrow's Star not found
Red wine night not found
Prema Kiligal not found
Paquete #3 not found
Nau Mahine Nau Divas not found
Hoop Soldiers not found
Gubbacchi Goravanka not found
El Cid, The Legend not found
Cut The Rope: Om Nom Stories - Cooking and Shopping not found
Imprisoned | Laurence Fishburne not found
Hal King not found
Before/During/After not found
About Hope not found
A Marriage of Convenience not found
Turned Out not found
Spelling my Germany not found
Love You Right not found
Istha Sakhi not found
Broken Vows (2016) not found
Romance Analyst not found
NWA & Eazy-E: Kings of Compton not found
Max Cloud not found
Majili (Kannada) not found
Loli Paradicka not found
Lewberger Live At Lincoln Hall In Chicago not found
Kadhal Paravgal not found
Chikati Kathalu not found
Cheating Hearts not found
All Babes Want To Kill Me not found
A Dog's Courage not found
Zara Si Bhool - A Small Mistake not found
Rudraksharam not found
Protibimbo not found
Prey Before You Eat 2 not found
Prey Before You Eat not found
Lalaloopsy: Band Together not found
Jabillikosam akasamalle not found
In the box not found
Feeding the Masses not found
Evan Straw not found
Cinemavala not found
Tributaries not found
The Rise Of Jordan Peterson not found
The Project not found
8 Days not found
Sinbad: Where U Been? not found
Itwaar not found
Gaurav Gupta: Market Down Hai not found
Egypt's Lost Queens not found
Dandupalya 2 not found
Cut The Rope: Om Nom Stories - Sweet Adventures not found
A FRIENDSHIP not found
Wrong Swipe not found
Viswadabhirama not found
The Wrong Car not found
The Purple Night not found
The Perfect Daughter not found
The Kung Fu Master not found
Terror at Bigfoot Pond not found
Step In My Shoes not found
Shubh Bol Narya not found
Restricted Area (Baron Palace) not found
Raleigh, I Kinda Like You not found
Quest for the Unicorn not found
Prem Gajra Chilli Chicken not found
One Hit From Home not found
Nuvvante Pichhe not found
Nora's Hair Salon 3 not found
No Witnesses not found
Nightmare Nurse not found
Love me tender not found
Line Walker 2: Invisible Spy not found
I Am Watching You not found
House Of Setnakht not found
Good Kisser not found
Cut The Rope: Om Nom Stories - Learning Time not found
Cut The Rope: Om Nom Stories - Getting Healthy not found
Corridor Digital not found
Corporate Prey not found
American Cannibal not found
911 Nightmare not found
When Margaux Meets Margaux not found
The Cat in the Hat Knows a Lot About Camping! not found
The Blackwell Ghost not found
Street Dancer 3D not found
Standing Eight not found
Odd Squad - The World Turned Odd not found
Honesty Weekend not found
Pak Pak Pakaak not found
Asin_tombstone_test_target_04 not found
Unlawful Duties not found
Un Regalo Esencial not found
The Time Traveler not found
T-Rex Ranch - Giant T-Rex Dinosaurs - Dinosaur Videos for Kids not found
Scare Attraction not found
Predatory Lender not found
Miracle In The Woods not found
Midnight Devils not found
Mega Dinosaur Fun T-Rex Ranch not found
Blood Pi not found
Asintombstonetest-target not found
Yakov Smirnoff: United We Laugh not found
Tooth Fairy 2: The Root of Evil not found
Parentesi Tonde not found
Murder in Gavea not found
Evil Boy not found
Dream Visions not found
Break Even not found
Alejandro not found
Yakov Smirnoff's Happily Ever Laughter not found
Trip to the Tax Paradise not found
Take Me to Tarzana not found
Not Left In Vegas not found
Major Ajay Krishna not found
Krishnan not found
Josh Blue: Broccoli not found
Dope Fiend not found
As It Happened: Tarawa not found
Theeran Adhigaaram Ondru not found
The Ghazi Attack (Hindi) not found
Silence (Malayalam) not found
SI 3 not found
Raaz Reboot not found
Penguin (Malayalam) not found
OK Jaanu not found
Nukazooka Special not found
Marriage of Lies not found
Losing My Marbles not found
Kabhi Kabhie not found
Kaashmora not found
Ghazi (Telegu) not found
Ghazi (Tamil) not found
Dil Bole Hadippa not found
Dhruvangal Pathinaru not found
Dhoom:2 not found
Detective Byomkesh Bakshy not found
Adhe Kangal not found
Aaha Kalyanam (Telugu Dubbed) not found
The Secrets of the Dead Sea Scrolls not found
The Extraordinary Tale of William Buckley: The great untold story of Australia's Robinson Crusoe not found
Sharknado not found
Red Woods not found
LOCAS POR EL CAMBIO not found
Little Baby Bum - Bath Song and More Nursery Rhymes not found
Knives Out (4K UHD) not found
Dinosaur Toy Family Play T-Rex Ranch not found
Close Encounters of the Fifth Kind: Contact Has Begun not found
Baby Shark & More Kids Songs (Little Treehouse) not found
Welcome To The Sticks not found
Unicorn not found
Undying Love not found
Psychophony not found
Light Visions not found
Donna not found
Cut The Rope: Om Nom Stories - Play Time not found
Christmas Time with Little Baby Bum not found
Where Love Lives not found
Romang not found
Morti's Law not found
Love Lust And Money not found
Land without Evil not found
CBI Vs Lovers not found
Wedding Swingers not found
We Have Fun Singing and Dancing - LooLoo Kids not found
The Alliance not found
Street of no return not found
Sing and Learn with Johny - LooLoo Kids not found
Road Head not found
Playtime Fun for Kids - LooLoo Kids not found
La mansión de los horrores not found
Kruty 1918 not found
Fack Ju Goehte 3 not found
Engada Iruthinga Ivvalavu Naala not found
Dons of Disco not found
Cries from the Heart not found
Camino a Bali not found
Travis Turner not found
The beach is my office not found
Swapnarajyam (The Dreamland) not found
Summer House not found
Shadow Valley not found
Paai - The Mat not found
Meet The Girl - Award Winning Short Comedy Movie 2021 not found
Lock Him Up, Tie Me Down not found
For My Daughter's Honor not found
El Gran McLintock not found
Thottu Vidum Thooram not found
The Delivered not found
Sound of Water not found
Snitch'd not found
Pururava not found
No Strings not found
God's Compass not found
Dhoom:3 not found
Dark Disciple not found
D.W. Griffith's Abraham Lincoln - The Walter Huston 1930 Classic not found
As Long as We Both Shall Live not found
South Sea Adventures - A Colorful Dramatized Travelogue Featuring the Pacific Islands not found
Life With Father - A Restored Color Classic with William Powell & Elizabeth Taylor not found
Haikara-san: Here Comes Miss Modern Pt. 1 not found
Gangs Of Madras (Telugu) not found
Bland Larceny not found
Eni not found
Tracking Baby Dinosaur T-Rex Ranch not found
Switchin' The Script not found
Little Baby Bum - Heads, Shoulders, Knees and Toes And More Kids Songs not found
Hungry T-Rex Adventure! Dinosaur Video for kids - T-Rex Ranch not found
Diamond in the Rough not found
Decades Apart: The Noir Cut not found
Vampiro: Night Warrior not found
Trap Flix Party not found
Translated not found
The Paper Boat not found
The Curse Of The Blind Dead not found
The Cowboy And The Indians not found
Take a Stan not found
Sons Of New Mexico not found
Santo: The Fury Of The Karate Masters not found
Santo: The Fist Of Death not found
Sabretooth not found
Riders In The Sky not found
Mahler On The Couch not found
Love Of Fate: The Law not found
Love Of Fate: Amore Fati not found
Little Did He Know not found
Deadly Promises not found
Cronos: The Relic Of Time not found
Cannibal Women In The Avocado Jungle Of Death not found
Blue Demon: Death Night not found
Blanco not found
Bigfoot, UFOs and Jesus not found
Bewakoofiyaan not found
Athaiyum Thaandi Punithamaanathu not found
Adithya (Creative Genius) not found
Voyage Of The Chimera not found
The Lost Valley not found
Thallana not found
RiffTrax Live: Time Chasers not found
Republic Z not found
Quiet Room Bears not found
Meaner Than Hell not found
Lockdowners not found
Hyde not found
Dosham not found
Charlene not found
BalaMitra not found
Wish Upon A Star not found
Wild Kratts: Creepy Creatures not found
Survive the Night (4K UHD) not found
Sheep & Wolves not found
Road Less Traveled not found
Once Upon A Time In Philly not found
Mazurkas not found
Little White Lie not found
Little Baby Bum - Learn Colors, Shapes and Number! & More Educational Videos for Kids not found
Kho Kho not found
Jet Li's Contract Killer not found
James Brown - Mr Dynamite: The Rise Of James Brown not found
It Never Sleeps not found
Human experiments not found
Hitman's Hero not found
God's Miracles not found
Gamera 2: Attack of the Legion not found
Fire In The Sky not found
Dubsmash not found
Dead Sound not found
Dante's Inferno: an Animated Epic not found
Beyond The Mask not found
Betting On The Bride not found
You May Now Kill The Bride not found
The Reunited States not found
Thanaha not found
Ru-Ba-Ru not found
ReWilding Kernwood not found
Ratsasan not found
Nigahen not found
Nazi Undead not found
Kittie: Live at the London Music Hall not found
Jurassic Dinosaur playtime! T-Rex Ranch not found
Joyful Praise not found
Inmate Zero not found
Elyse not found
DIVOS! not found
Dark Prince: The True Story of Dracula not found
Brightheart: Let Your Light Shine not found
Alag - He Is Different - He Is Alone not found
A Million Hits not found
Yakov Smirnoff: What A Country! not found
Yakov Smirnoff: Just Off The Boat not found
Tom Clancy's The Division: Agent Origins (4K UHD) not found
The Silencing not found
Poison Rose not found
Jesse Stone: Stone Cold not found
Danger Close not found
Brittany Runs A Marathon not found
American Tragedy not found
A Man Possessed not found
10 Minutes Gone (4K UHD) not found
Message Man not found
Woodwind not found
Personally Yours not found
Parol Tamil not found
La Cadena not found
Chiriakhana not found
PrimeVideoQATestMovie16 US not found
Monster From Green Hell not found
Hollow Scream not found
Hello Madam not found
Hampton's Legion not found
Gila! not found
Gamera: The Giant Monster not found
Gamera: Guardian of the Universe not found
El Duende Satiro not found
DEPARTURE not found
Blippi - Explore With Blippi and Learn About Vehicles not found
Beyond Adversity not found
Yatra (Tamil) not found
Throwback Holiday not found
The Christmas Toy not found
The Alpha Test not found
Plug Love not found
Pinocchio (2020) [English Subtitled] not found
Pinocchio (2020) (4K UHD) [English Subtitled] not found
Josh Blue: Sticky Change not found
Yakov Smirnoff: As Long As We Both Shall Laugh not found
White Blessing not found
Up In Smoke not found
Unacknowledged: An Expose of the World's Greatest Secret not found
Toxic Shark not found
Titeuf not found
The Thieves Code not found
The Secret Diaries of Miss Anne Lister not found
The Rolling Stones - From The Vault: Hampton Colesium Live In 1981 not found
The Pizza Joint not found
The Magnetic Monster - One of the best 50's Sci-Fi Movies not found
The Horrific Evil Monsters not found
The Edge of Marlene not found
Taken In not found
Seven Days In Utopia not found
Sebastian LIVE not found
Rolling Stones - Sticky Fingers Live At The Fonda Theatre 2015 not found
Recognize not found
Octagon not found
Nose not found
Mary Higgins Clark's: Lucky Day not found
Mary Higgins Clark's: Before I Say Goodbye not found
Mary 4 Mayor not found
Manifest Destiny: The Lewis & Clark Musical Adventure not found
Mama's Song not found
Lea & Pop - Twinkle Twinkle Little Star & More Kids Songs not found
Lea & Pop - Baby Shark & More Kids Songs not found
La fille aux deux visages not found
Jurassic Dinosaur Quest T-Rex Ranch not found
Eruption LA not found
Ed Hill: Candy and Smiley not found
Drastic Measures not found
Crucified not found
Bastaard not found
Back For Good not found
Absurd Accident not found
15 Killings not found
Warmed-Over Krautrock not found
Tales of an American Hoodrat not found
Strictly For The Streets Vol. 1 not found
Road to Damascus not found
Pazhagiya Naatkal not found
Mala Aai Vhhaychy not found
Lake of the Woods not found
It's All Gone, Pete Tong not found
Hawk & Rev: Vampire Slayers not found
Be Dune Saade Chaar not found
Back to Gaya not found
After the Reign not found
Aalas Motaapa Ghabraahat not found
A I 1.O not found
Wheels on the Bus and More Kids Songs not found
Tula Shikwin Changlach Dhada not found
The Patron Saint Of Liars not found
The Fabulous Joe - In Cinecolor! A Talking Dog Comedy not found
Randolph Scott & Robert Mitchum in Gung Ho! - A WWII Marine Classic not found
Nee Needala not found
Meera Mathur not found
Kopy Kings not found
Karuppankaatu Valasu not found
Hangmen Also Die - WWII Suspense Classic, Produced & Directed By Fritz Lang, Uncut! not found
Gaiir not found
Fiesta - 1941 Color Musical Comedy w/ Jorge Negrete, Anne Ayars not found
Fatal Fury not found
Ed Wood's The Violent Years - An Exploitation Schlock Classic not found
Coming For The King not found
Cisco Kid in - Wedding Blackmail & False Marriage not found

In [11]:
print(len(film))

print(len(director))
print(len(gender))
print(len(distributor))
print(len(imdbID))
print(imdbID[-1])
print(film[-1])
print(len(rottenscore))

NameError: name 'film' is not defined

In [1]:
dict = {"title": film, "director": director,
        "director gender": gender}

lists_df = pd.DataFrame(dict)

lists_df.head(5)

NameError: name 'film' is not defined

In [25]:
dict1 = {"title": film, "distributor": distributor, "id": imdbID, "rating score": rottenscore}
lists1_df = pd.DataFrame(dict1)

lists1_df.head(5)

                     title        distributor         id rating score
0  Slappy and the Stinkers   TriStar Pictures  tt0120213       3.3/10
1               Sky Racket        Sam Katzman  tt0140551      no_data
2      Sitting on the Moon  Republic Pictures  tt0028260      no_data
3                     Sita            no_data  tt9665402      no_data
4         Sing Sing Nights            no_data  tt0027003      no_data

In [76]:
lists_df.to_csv('savelist.csv')

In [26]:
lists1_df.to_csv('6000-9000.csv')

In [24]:
print(film)

['Dick Johnson Is Dead', 'The Starling', 'Grown Ups', 'Dark Skies', 'Paranoia', 'Birth of the Dragon', 'Jaws']

# Clean New Dataset

In [12]:

#open datasets
df_movie_title = pd.read_csv('savelist.csv')
#df_movie_id = pd.read_csv('savelist2.csv')
df_serie_title = pd.read_csv('series_director.csv')
df_serie_id = pd.read_csv('series.csv')

In [ ]:
#open the tree datasets that contain rottenrate ids distributer

In [13]:

df_first = pd.read_csv('0-6000.csv')
df_first = df_first.loc[:, ~df_first.columns.str.contains('^Unnamed')]
df_first.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
df_first.head(5)
df_first.info()
print(len(df_first))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9375 entries, 0 to 9374
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         9375 non-null   object
 1   distributor   9375 non-null   object
 2   id            9375 non-null   object
 3   rating score  9375 non-null   object
dtypes: object(4)
memory usage: 293.1+ KB
9375

In [14]:

df_last = pd.read_csv('9000_end.csv')
df_last = df_last.loc[:, ~df_last.columns.str.contains('^Unnamed')]
df_last.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
df_last.head(5)

df_last.info()
print(len(df_last))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3511 entries, 0 to 3510
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3511 non-null   object
 1   distributor   3511 non-null   object
 2   id            3511 non-null   object
 3   rating score  3511 non-null   object
dtypes: object(4)
memory usage: 109.8+ KB
3511

In [15]:
df_but_last = pd.read_csv('6000-9000.csv')
df_but_last = df_but_last.loc[:, ~df_but_last.columns.str.contains('^Unnamed')]
df_but_last.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
df_but_last.head(5)
df_but_last.info()
print(len(df_but_last))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331 entries, 0 to 1330
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1331 non-null   object
 1   distributor   1331 non-null   object
 2   id            1331 non-null   object
 3   rating score  1331 non-null   object
dtypes: object(4)
memory usage: 41.7+ KB
1331

In [16]:
#drop duplicates
df_but_last_copy = df_but_last.drop_duplicates(keep='first')
df_last_copy = df_last.drop_duplicates(keep='first')
df_first_copy = df_first.drop_duplicates(keep='first')

In [17]:
#make a single dataset -> df_movie_id

df_movie_id = pd.concat([df_first_copy, df_but_last_copy, df_last_copy],axis=0, join="outer", sort=False)
df_movie_id.head(5)
#print(len(df_first_copy))
#print(len(df_but_last_copy))
#print(len(df_last_copy))
#print(len(df_first_copy)+len(df_but_last_copy)+len(df_last_copy))
#print(len(df_movie_id))

#print(df_movie_id.info())

                              title distributor          id rating score
0                           Sankofa     no_data   tt0108041       8.2/10
1                      The Starling     Netflix   tt5164438       4.2/10
2  Confessions of an Invisible Girl     Netflix  tt15204288      no_data
3                         Intrusion     no_data   tt5563324       4.5/10
4                   Avvai Shanmughi     no_data   tt0139872      no_data

In [148]:
df_movie_id.to_csv('prova.csv')

In [149]:
df_movie_id.query("title == 'Harry Brown'")

            title distributor         id rating score
1405  Harry Brown   Lionsgate  tt1289406          63%

# oi

In [155]:


titles = df_movie_id['title'].tolist()
print(titles[-1])

7118
The Trench

In [207]:

#sistema gli index
df_movie_title = df_movie_title.loc[:, ~df_movie_title.columns.str.contains('^Unnamed')]
df_movie_title.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')

#df_movie_id = df_movie_id.loc[:, ~df_movie_id.columns.str.contains('^Unnamed')] l'index è gia a posto
#df_movie_id.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')

df_serie_title = df_serie_title.loc[:, ~df_serie_title.columns.str.contains('^Unnamed')]
df_serie_title.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')

df_serie_id = df_serie_id.loc[:, ~df_serie_id.columns.str.contains('^Unnamed')]
df_serie_id.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')

In [211]:
#problema #1 dobbiamo essere sicuri che gli autori dei film scaricati da wikidata matchino quelli che abbiamo già(quindi non avere film con stesso titolo ma diverso autore)

df_movie_title.head(7)
#df_movie_title.info()
#print(len(df_movie_title))

                              title           director director gender
0                           Sankofa       Haile Gerima            male
1                      The Starling     Theodore Melfi            male
2  Confessions of an Invisible Girl            no_data         no_data
3                         Intrusion            no_data         no_data
4                   Avvai Shanmughi    K. S. Ravikumar            male
5                             Jeans  Nicolette Krebitz          female
6                    Minsara Kanavu        Rajiv Menon            male

In [225]:
match_titles = df_movie_title['title'].unique()
print(len(match_titles))
match_titles1 = df_movie_id['title'].unique()
print(len(match_titles1))

6677
6677

In [206]:
ids = df_movie_id['id'].tolist()
print(ids)

['tt0108041', 'tt5164438', 'tt15204288', 'tt5563324', 'tt0139872', 'tt0279885', 'tt0282003', 'tt1375670', 'tt2387433', 'tt1413495', 'tt15250998', 'no_data', 'tt5238240', 'tt2720826', 'tt0073195', 'tt0077766', 'tt0093300', 'tt1599348', 'tt0139654', 'tt10521144', 'tt10322274', 'tt8329618', 'no_data', 'tt7737528', 'tt0468536', 'tt15095938', 'tt6127004', 'tt5691024', 'tt10168094', 'tt6167894', 'tt8009744', 'tt11742798', 'tt0109134', 'tt0810784', 'tt4088588', 'tt4699202', 'tt1118045', 'tt0199626', 'tt10930586', 'tt0356470', 'tt0350261', 'tt1823672', 'tt0109444', 'tt0106582', 'tt0159365', 'tt0231402', 'tt0989757', 'tt0097216', 'tt4382872', 'tt0463998', 'tt1133985', 'tt0099800', 'tt0102065', 'tt0110064', 'tt0131436', 'tt0099834', 'tt0439630', 'tt4841640', 'tt0091369', 'tt0892318', 'tt4006302', 'tt0337592', 'tt1602479', 'tt0116996', 'tt5301662', 'tt0270980', 'tt0132347', 'tt0087843', 'tt0409182', 'tt0120014', 'tt1230168', 'tt0332379', 'tt5073746', 'tt0314353', 'tt0080453', 'tt0091129', 'tt0054953', 'tt0120714', 'tt0057372', 'tt0494652', 'tt0107206', 'tt1077097', 'tt0135707', 'tt1170399', 'tt4590256', 'tt0488840', 'tt0408976', 'tt0348662', 'tt0456500', 'tt5290620', 'tt2027138', 'tt0297241', 'tt1395054', 'tt1890513', 'tt2609218', 'tt0811066', 'tt1954206', 'tt14539744', 'tt8722624', 'tt12829958', 'tt4779326', 'tt11657662', 'tt1579550', 'tt3479250', 'tt6281994', 'tt1758692', 'tt12881516', 'tt0112553', 'tt4271820', 'tt11594766', 'tt2463288', 'tt0107822', 'tt15526612', 'tt10230994', 'tt9174358', 'tt8857316', 'tt12783454', 'tt2058107', 'tt1441951', 'tt6060444', 'tt13113544', 'tt0078350', 'tt6338498', 'tt2112124', 'no_data', 'tt0108291', 'tt2385126', 'tt4581576', 'tt0113280', 'tt0448375', 'tt0106375', 'tt0442933', 'tt3344680', 'tt0264464', 'tt0149261', 'tt0091042', 'tt6472976', 'tt0349467', 'tt0452625', 'tt1375666', 'tt0175880', 'tt0110443', 'tt0102492', 'tt0110613', 'tt0910936', 'tt5125894', 'tt0329575', 'tt0186566', 'tt0372588', 'tt1878870', 'tt1457765', 'tt0102266', 'tt1189340', 'tt0480255', 'tt0361862', 'tt0113957', 'tt0236388', 'tt0817230', 'no_data', 'tt0165526', 'tt2993406', 'tt11991748', 'tt0063037', 'tt2662230', 'tt12929990', 'tt14315566', 'tt2186731', 'tt0026718', 'tt8000718', 'tt1853728', 'tt13920016', 'tt14961160', 'tt6402468', 'tt13412252', 'no_data', 'tt16235600', 'no_data', 'no_data', 'tt6417854', 'no_data', 'no_data', 'no_data', 'no_data', 'no_data', 'tt0097116', 'tt13445916', 'tt12851396', 'tt9165740', 'tt13657102', 'tt11762434', 'tt4105584', 'tt9701942', 'tt0066819', 'tt4572792', 'tt1325004', 'tt1259571', 'tt0119594', 'tt0391397', 'tt14910946', 'tt13136084', 'tt10077998', 'tt12877640', 'tt8368408', 'tt11991786', 'tt4465572', 'tt15149712', 'tt3316948', 'tt0996982', 'tt9701940', 'tt13540496', 'tt5719700', 'no_data', 'tt3164256', 'tt1430612', 'tt5599692', 'tt7601480', 'tt12424356', 'tt1425624', 'tt11133472', 'tt8726116', 'tt9866736', 'tt0157132', 'tt6566576', 'tt11027830', 'tt1706620', 'tt14781176', 'tt1072748', 'tt0118571', 'tt0295178', 'tt0118655', 'tt0145660', 'tt0118749', 'tt5033998', 'tt0112715', 'tt0106701', 'tt10622410', 'tt7587604', 'tt5153236', 'tt1055292', 'tt1258744', 'tt0397535', 'tt0095631', 'tt0113855', 'tt0081186', 'tt0187357', 'tt0277371', 'tt5690810', 'tt7615302', 'tt0814314', 'tt0815236', 'tt0184907', 'tt0796366', 'tt0164912', 'tt8484012', 'tt0415306', 'tt1440728', 'tt0054678', 'tt0119174', 'tt1155076', 'tt0091326', 'tt0289992', 'tt0081071', 'tt0436697', 'tt0482606', 'tt15251228', 'tt0320691', 'tt1496025', 'tt0834001', 'tt2603600', 'tt0120889', 'tt0123324', 'tt0071408', 'tt7558302', 'tt11460976', 'tt1764234', 'tt0493464', 'tt1735870', 'tt7080970', 'tt3758814', 'tt0013590', 'tt8231668', 'tt14549558', 'tt0454839', 'tt0493828', 'tt3764686', 'tt1568815', 'tt4733624', 'tt10661848', 'tt11831084', 'tt11809034', 'tt11271990', 'tt0080403', 'tt4661188', 'tt4146132', 'tt6670074', 'tt1045658', 'tt11188850', 'tt1366338', 'tt3501112', 'tt0132513', 'tt1663207', 'tt0469589', 'tt7646322', 'tt6964940', 'tt2828996', 'tt1918638', 'tt2459156', 'tt7741602', 'tt13292444', 'tt3012648', 'tt12792598', 'tt2368254', 'tt11822492', 'tt10888862', 'no_data', 'tt11658120', 'tt13032716', 'tt5616176', 'tt1823059', 'tt0244000', 'tt1123894', 'tt0185183', 'tt0978649', 'tt0139098', 'tt1466054', 'tt2555426', 'tt0306685', 'tt0249478', 'tt1117385', 'tt0817177', 'tt0041379', 'tt10377292', 'tt1255916', 'tt0277027', 'tt0119572', 'tt0405159', 'tt1978480', 'tt1754264', 'tt1186367', 'tt0462482', 'tt3776288', 'tt0335438', 'tt0088194', 'tt14586752', 'tt0244244', 'tt0079216', 'tt1254322', 'tt0373926', 'tt4501454', 'tt0117057', 'tt0075029', 'tt7645780', 'tt0019585', 'tt4859168', 'tt0098631', 'tt14544192', 'tt14211236', 'tt4682786', 'tt7084386', 'tt13446126', 'tt14025788', 'tt3522136', 'tt1014762', 'tt7559180', 'tt0993840', 'tt13409790', 'tt1764141', 'tt1826603', 'tt1517489', 'tt0476884', 'tt0117533', 'tt5751998', 'tt11213600', 'tt4573516', 'no_data', 'tt11602582', 'tt14554338', 'tt9013182', 'tt4881302', 'tt0037469', 'tt0375912', 'tt9000388', 'tt0160620', 'tt14928724', 'tt11604676', 'tt0220827', 'tt10097544', 'tt12779208', 'tt0340855', 'tt0453533', 'tt7716120', 'tt2101341', 'tt6256978', 'tt6269368', 'tt12517908', 'tt0104245', 'tt5794440', 'tt1231583', 'tt0947810', 'tt1028532', 'tt5460522', 'tt0327056', 'tt1023111', 'tt0091959', 'tt0111282', 'tt0473705', 'tt4867110', 'tt1093357', 'tt0380510', 'tt0253867', 'tt0190138', 'tt3503406', 'tt0105690', 'tt1007028', 'tt0114369', 'tt1618390', 'tt7979580', 'tt1285009', 'no_data', 'tt1322269', 'tt1217613', 'tt7295450', 'tt6958152', 'tt4003066', 'tt3347976', 'tt12282600', 'tt0270053', 'tt9203694', 'no_data', 'tt4452274', 'tt10648198', 'tt4540710', 'tt0103671', 'tt1934231', 'tt0473367', 'no_data', 'tt0417528', 'tt1447508', 'tt0986264', 'tt14091818', 'tt13454122', 'tt2554274', 'tt2723358', 'tt11867144', 'tt10662234', 'tt1979320', 'tt9016974', 'tt1730768', 'tt4815122', 'tt9271164', 'tt0313532', 'tt0097775', 'tt0083365', 'no_data', 'tt9633480', 'tt13269670', 'tt0234793', 'tt0038778', 'tt1315590', 'tt10121392', 'no_data', 'tt0116980', 'tt13297136', 'tt9264728', 'tt0765446', 'tt0384793', 'tt0047805', 'tt8846176', 'tt9680512', 'no_data', 'tt12154638', 'tt10307724', 'tt1024255', 'tt2114504', 'tt1190080', 'tt1187043', 'tt2122340', 'tt1591095', 'tt5595168', 'tt0250494', 'tt13773882', 'tt0117011', 'tt0058385', 'tt6014472', 'tt5090828', 'tt6977240', 'tt1135084', 'tt11668994', 'tt10963790', 'tt0253474', 'tt0094035', 'tt0176269', 'tt4303010', 'tt5635638', 'tt1068680', 'tt6938828', 'tt2304771', 'tt1212450', 'tt11388278', 'tt0159382', 'tt11142762', 'tt13932162', 'tt2431286', 'tt0065853', 'tt9624766', 'no_data', 'no_data', 'tt13465592', 'tt14111726', 'tt9387250', 'tt3532608', 'tt11474480', 'no_data', 'tt2473602', 'tt1615065', 'tt11803618', 'tt0006382', 'tt4324242', 'tt13045890', 'tt2066951', 'no_data', 'tt8747160', 'tt8435324', 'tt11829884', 'tt11734264', 'no_data', 'tt1904996', 'tt1702439', 'tt6432466', 'tt2883434', 'tt11112526', 'tt14058484', 'tt1156506', 'tt0099348', 'tt5571754', 'tt0095953', 'tt0365830', 'tt9204164', 'tt3553976', 'tt0442236', 'tt0110678', 'tt1637706', 'tt3631112', 'tt1223975', 'tt11936782', 'tt0972883', 'tt1457767', 'tt3065204', 'tt12899858', 'tt5208252', 'tt9893250', 'tt2202471', 'tt9343754', 'tt13853720', 'tt0319020', 'tt4902904', 'tt6997574', 'tt12423052', 'tt8090564', 'tt10882938', 'tt11313944', 'tt1032817', 'tt11307814', 'tt13846542', 'tt0037368', 'tt13669344', 'tt2005151', 'tt12397078', 'tt12676326', 'tt12838766', 'tt11428926', 'tt0118708', 'tt9067182', 'tt1130884', 'tt0200465', 'tt2197936', 'tt1999890', 'tt1641388', 'tt3661210', 'tt13728764', 'tt0038285', 'tt7268736', 'tt6317656', 'tt3266724', 'tt10279104', 'tt1458175', 'no_data', 'tt8431078', 'tt3547306', 'tt10303430', 'tt2312718', 'tt3416532', 'tt1830643', 'tt6317180', 'tt11821818', 'tt10451914', 'tt6955298', 'tt13866142', 'tt11841144', 'tt1675434', 'tt0451631', 'tt0373856', 'no_data', 'tt11161474', 'tt13696668', 'tt0282554', 'tt0091767', 'tt3766424', 'tt0795351', 'tt11247064', 'tt0065780', 'tt0119215', 'tt1213585', 'tt0758758', 'tt0095690', 'tt10338308', 'tt1401152', 'tt13667212', 'tt0108550', 'tt3359290', 'tt11749980', 'tt13212006', 'tt0069919', 'tt0173105', 'tt13567480', 'tt0118912', 'tt11651796', 'no_data', 'tt10600398', 'tt10589924', 'tt7885874', 'tt10156112', 'tt10539608', 'tt10329134', 'tt10362466', 'tt13528526', 'tt4685806', 'tt1985017', 'tt2420194', 'tt10514222', 'tt0863091', 'tt1351669', 'tt13607632', 'tt5001754', 'nm10640262', 'tt7127344', 'tt2244376', 'tt3216348', 'tt4550098', 'tt13529992', 'tt5932728', 'tt13055780', 'tt11394338', 'tt0083612', 'tt7805960', 'tt0093062', 'tt3837166', 'tt0117628', 'no_data', 'tt11530234', 'tt10287954', 'tt1712261', 'tt8784956', 'tt13446424', 'tt10044704', 'tt7343574', 'tt13354204', 'tt2769454', 'tt11692986', 'tt2172934', 'tt0808151', 'tt2883512', 'tt0232295', 'tt0102744', 'tt0382625', 'tt1308728', 'tt0070848', 'tt6610158', 'tt11697484', 'tt8741182', 'tt0094716', 'tt1911644', 'tt0080718', 'tt9252468', 'tt7686876', 'tt6508228', 'tt13528990', 'no_data', 'tt13353508', 'tt6772802', 'tt13353486', 'tt13276386', 'tt0357169', 'tt2002718', 'tt13483050', 'tt11332750', 'tt0400234', 'tt1729637', 'tt1578261', 'tt4338154', 'tt5662932', 'tt1948150', 'tt11199410', 'tt9248252', 'tt1397492', 'tt9140354', 'tt0066017', 'tt0047673', 'tt7736496', 'tt10627584', 'tt1243381', 'tt0012173', 'tt2334649', 'tt3707316', 'tt11254858', 'tt0081383', 'tt13279528', 'tt11481312', 'tt7937168', 'tt1588878', 'no_data', 'tt13318052', 'tt2590280', 'tt13236566', 'tt11199310', 'tt7946422', 'tt4177856', 'tt7390588', 'tt4560436', 'tt6516314', 'tt3774114', 'tt0376782', 'tt0110657', 'tt8508734', 'tt10235600', 'tt10127684', 'tt5603212', 'tt9866072', 'tt11240506', 'tt1252596', 'tt9185316', 'tt0029365', 'tt8678108', 'tt11284280', 'tt8835552', 'tt1648186', 'tt8769032', 'tt6866224', 'tt8949056', 'tt0032976', 'tt8322060', 'tt0497335', 'tt2552296', 'tt4989182', 'tt0116890', 'tt0102058', 'tt1754578', 'tt0377610', 'tt1094275', 'tt0157183', 'tt0202683', 'tt0448267', 'tt8972556', 'tt1433811', 'tt3608930', 'no_data', 'tt3713166', 'tt4844150', 'tt12217814', 'tt0422236', 'tt13150606', 'tt0367657', 'tt0208903', 'tt4333674', 'tt0419058', 'tt0319736', 'tt6988208', 'tt10543680', 'tt10642834', 'tt13161318', 'tt10682266', 'tt11497544', 'tt11989890', 'tt8510324', 'tt9725830', 'tt10230414', 'tt10914452', 'tt8976576', 'tt13118012', 'tt1785288', 'tt2396369', 'tt1124037', 'tt4698684', 'tt0436724', 'tt0309276', 'tt0114313', 'tt5952138', 'tt10407902', 'tt8360146', 'tt0065488', 'tt3614516', 'tt2675978', 'tt1092005', 'tt0362771', 'tt1345777', 'tt1093370', 'tt0206921', 'tt0920464', 'no_data', 'tt0279065', 'tt0433035', 'tt7846844', 'tt8618654', 'tt5659164', 'tt10515086', 'tt0375611', 'tt3479858', 'tt9176296', 'tt0174336', 'tt12982218', 'tt11568878', 'tt11127690', 'tt0426596', 'tt0316188', 'tt7819668', 'tt12721188', 'tt7867076', 'tt8784906', 'tt1343080', 'tt7613166', 'tt5323386', 'tt11024272', 'tt0381940', 'tt9196192', 'tt11827806', 'tt11464826', 'tt10620868', 'tt1753866', 'tt0067952', 'tt7939766', 'tt10217780', 'tt10888456', 'tt4489160', 'no_data', 'tt11100856', 'tt0785006', 'tt12486200', 'tt1016321', 'tt5341036', 'tt0177606', 'tt1135985', 'tt0120157', 'tt0165384', 'tt11060730', 'tt10933680', 'tt3155342', 'tt11769162', 'tt5827790', 'tt0138414', 'tt11242242', 'tt1002563', 'tt8943224', 'tt12987838', 'tt3661298', 'tt10230422', 'tt12536776', 'tt10888708', 'tt0341564', 'tt10915060', 'tt5037840', 'tt2459282', 'tt10643918', 'tt1707386', 'tt1242530', 'tt0106881', 'tt6851966', 'tt7550000', 'tt9632590', 'tt4666726', 'tt1790834', 'tt10350626', 'tt4257940', 'tt14605694', 'tt8058874', 'tt10078502', 'tt10276470', 'tt12724622', 'tt0401792', 'tt11032990', 'tt0777808', 'tt2967226', 'tt4943322', 'tt7073710', 'tt9038290', 'tt12567088', 'tt11010144', 'tt12806000', 'tt7761590', 'no_data', 'no_data', 'tt1893256', 'tt8477336', 'no_data', 'tt0235212', 'tt10508838', 'tt5714802', 'tt0020640', 'tt12599350', 'tt7304824', 'tt9784456', 'tt2076298', 'tt10912990', 'tt11057594', 'tt1730704', 'tt0097076', 'tt8326250', 'tt12715158', 'tt0415141', 'tt0025941', 'tt11489288', 'tt11378264', 'tt4712076', 'tt2255934', 'tt2246595', 'tt2571140', 'tt2229848', 'tt4354740', 'tt4430212', 'tt2424988', 'tt4219300', 'tt2094854', 'tt3001638', 'tt1906426', 'tt4045666', 'no_data', 'tt2951576', 'tt3984356', 'no_data', 'tt1784589', 'tt4430136', 'tt3322420', 'tt1836912', 'tt2377938', 'tt1694542', 'tt3357416', 'tt1545304', 'tt5804038', 'tt12058774', 'tt9616700', 'tt10655608', 'tt0150377', 'tt0486655', 'no_data', 'tt0100802', 'tt10941528', 'tt1730705', 'tt0964586', 'tt7600382', 'tt8580274', 'tt10887282', 'no_data', 'tt3595298', 'tt0494290', 'tt12393526', 'tt10728764', 'tt11230868', 'tt7229730', 'tt4677924', 'tt11005162', 'tt8747450', 'tt0016322', 'tt10714856', 'tt10456740', 'tt11988512', 'tt0191670', 'tt6760876', 'tt0084042', 'tt0051390', 'tt9071322', 'tt13239776', 'no_data', 'tt0276799', 'tt0042260', 'tt5164412', 'tt6518270', 'tt1878841', 'tt1130898', 'tt10279102', 'tt8011344', 'tt8747548', 'tt9777644', 'tt12357266', 'tt8328740', 'tt1666287', 'tt9600178', 'tt1251757', 'tt1691916', 'tt4641602', 'tt10187680', 'tt1130982', 'tt5233554', 'tt3254796', 'tt11651780', 'tt1552211', 'tt4925292', 'tt0864691', 'tt7867670', 'tt8976464', 'tt7981318', 'tt3521126', 'tt1680140', 'tt0069050', 'tt12282598', 'tt4323594', 'tt5727208', 'tt12539758', 'tt8851668', 'tt1666555', 'tt1624426', 'tt9014248', 'tt1650844', 'tt0441627', 'tt1822275', 'tt2258858', 'tt0827788', 'tt8530796', 'tt2046090', 'tt7583280', 'tt9359344', 'tt7843946', 'tt9648942', 'tt9877170', 'tt2637378', 'tt8541826', 'tt0045795', 'tt9619798', 'tt1396208', 'tt0109117', 'tt12133722', 'tt8170298', 'tt10816484', 'tt5314138', 'no_data', 'tt12221748', 'tt8130558', 'tt7370952', 'tt7562334', 'tt2937390', 'tt0010640', 'tt8246392', 'tt12240368', 'tt1899240', 'tt10230426', 'tt0054215', 'tt0068687', 'tt0286788', 'tt10183816', 'tt0105256', 'tt0214890', 'tt5608972', 'tt1275863', 'tt6937368', 'tt11199356', 'tt0114581', 'tt1655442', 'tt0949503', 'tt6280858', 'tt5514296', 'tt11777040', 'tt10397734', 'tt8743032', 'tt5206260', 'no_data', 'tt10092752', 'tt9806336', 'tt1333656', 'tt7304802', 'tt10984818', 'tt0475290', 'tt3614530', 'tt3730510', 'tt0166274', 'tt10991188', 'tt7493184', 'tt8844480', 'tt6259380', 'tt8783532', 'tt0018130', 'tt8902948', 'tt0938283', 'tt5649144', 'tt9135260', 'tt5715874', 'tt6189022', 'tt9898858', 'tt4686844', 'tt0098999', 'tt0765010', 'tt2798620', 'tt1185420', 'tt0301231', 'tt0164550', 'tt1842367', 'tt2275794', 'tt0107060', 'tt3173910', 'tt3678938', 'tt0415908', 'tt0449999', 'tt0347304', 'tt4900716', 'tt0172684', 'tt0192255', 'tt0073645', 'tt2392447', 'tt5085924', 'tt2950418', 'tt5672286', 'tt11875456', 'tt11953628', 'tt10307440', 'tt10864040', 'tt9261218', 'tt11316824', 'tt6435258', 'tt6774588', 'tt9345754', 'tt10937434', 'tt9465600', 'tt11561866', 'tt2758904', 'tt9176260', 'tt9817760', 'tt8116640', 'tt0064526', 'tt3111426', 'tt2659414', 'no_data', 'tt0757859', 'tt1582244', 'tt9358200', 'tt8629748', 'tt5305246', 'tt1403047', 'tt0456149', 'tt8781414', 'tt0111549', 'tt1536048', 'tt9766280', 'tt1290138', 'tt0970179', 'tt4189494', 'tt0469494', 'tt9741588', 'tt4527090', 'tt0075314', 'tt5811182', 'no_data', 'tt9026184', 'tt8535968', 'tt0201485', 'tt7456312', 'tt10230436', 'tt3707106', 'tt2978102', 'tt3387542', 'tt9806322', 'tt11802938', 'no_data', 'no_data', 'tt4846232', 'tt10643938', 'tt5598292', 'tt6445414', 'no_data', 'tt8630282', 'tt11388406', 'tt1087457', 'tt4400994', 'tt9711106', 'tt8310924', 'tt0458176', 'tt2078768', 'tt4460854', 'tt0107296', 'tt4329242', 'tt10813338', 'tt6156138', 'tt6974886', 'tt11388580', 'tt1420554', 'tt6527586', 'tt4486148', 'tt6333086', 'tt10883506', 'tt4993990', 'tt10731748', 'tt0331370', 'tt9172840', 'tt2132285', 'tt11390036', 'tt1411704', 'tt0030287', 'tt0089469', 'tt2080374', 'tt8659050', 'tt3625516', 'tt0118768', 'tt1316064', 'tt1935302', 'tt6265828', 'tt9063902', 'tt9809140', 'tt8422000', 'no_data', 'no_data', 'tt5516328', 'tt0268397', 'tt0457430', 'no_data', 'tt0064895', 'tt1319733', 'tt10081210', 'tt4355838', 'tt10061256', 'tt15150348', 'tt11385066', 'tt0045763', 'tt8749922', 'tt5454506', 'tt10946934', 'tt3016748', 'tt8211214', 'tt6926236', 'tt4387222', 'tt4512896', 'no_data', 'tt8404614', 'tt11248800', 'tt0810819', 'tt3422462', 'tt0292490', 'tt4110568', 'tt0077451', 'tt1285241', 'no_data', 'tt1772872', 'tt0808306', 'tt6685776', 'tt1373156', 'tt0323013', 'tt0886539', 'tt6950250', 'tt1230165', 'tt1562872', 'tt6334740', 'tt0016138', 'tt10871460', 'tt8902990', 'tt4695012', 'tt6836936', 'tt10738914', 'tt8149090', 'no_data', 'tt7653254', 'tt6911110', 'no_data', 'tt10006006', 'tt10326928', 'tt1661820', 'tt11156614', 'tt5917052', 'tt8665634', 'tt0262828', 'tt0100931', 'tt8304386', 'tt15150376', 'tt0069067', 'tt0271946', 'tt0399201', 'tt10091530', 'tt1034303', 'no_data', 'tt8230872', 'tt1302006', 'tt7228072', 'tt4633690', 'tt0222851', 'tt10060094', 'tt10883004', 'tt9742362', 'tt11163008', 'tt4209802', 'tt3077214', 'tt2403021', 'tt8178486', 'tt10577906', 'tt10638296', 'tt0116571', 'tt1315981', 'tt1950235', 'tt7511008', 'tt8733898', 'tt7358154', 'tt2386295', 'tt0038297', 'tt10763618', 'tt6843446', 'tt3810760', 'tt0069820', 'tt1037004', 'tt0780504', 'tt11219046', 'tt0396688', 'tt9646240', 'tt9665400', 'tt8795582', 'tt8526872', 'no_data', 'tt9113332', 'tt11101698', 'tt7262882', 'tt4158096', 'tt0046865', 'tt10499474', 'tt4786638', 'tt0349260', 'tt6555772', 'tt0007326', 'tt9742582', 'no_data', 'tt8631800', 'tt11066130', 'tt2752772', 'tt7455754', 'tt10958282', 'tt9243946', 'tt2193191', 'tt10410186', 'tt10987544', 'tt4008566', 'tt1799508', 'no_data', 'tt6514218', 'tt4687108', 'tt9533342', 'tt6736198', 'tt8610996', 'tt0367089', 'tt7871636', 'tt0925248', 'tt10305616', 'tt1462900', 'tt7832848', 'tt10076106', 'tt6251390', 'tt9398640', 'tt8983202', 'tt8836988', 'tt10857582', 'tt1045889', 'tt10924716', 'tt6628322', 'tt9252508', 'tt10847306', 'tt10324144', 'tt5580778', 'tt9378320', 'tt0426581', 'tt0090685', 'no_data', 'tt9860728', 'tt9213932', 'tt10856726', 'tt6899800', 'tt10346206', 'tt8976710', 'tt9271408', 'tt8268916', 'tt8998738', 'tt8130968', 'tt5066564', 'tt4377918', 'tt5280664', 'tt10662450', 'tt7109106', 'tt9382396', 'tt10121762', 'no_data', 'tt4995776', 'tt9010900', 'tt8723216', 'tt0291172', 'tt8426270', 'tt0095086', 'tt0398373', 'tt0934949', 'tt9419834', 'tt8826936', 'tt6685074', 'tt4397342', 'tt8613876', 'tt0062138', 'tt10438648', 'tt9799992', 'tt8550208', 'tt7019942', 'tt9149838', 'tt10438652', 'tt1821480', 'tt10376958', 'tt0040904', 'tt0418550', 'tt6018556', 'tt7458762', 'tt8530978', 'tt3813310', 'tt9466786', 'tt8458202', 'tt1618434', 'tt8890582', 'tt9577852', 'tt8846072', 'tt6704898', 'tt6292852', 'tt8908002', 'tt5870322', 'tt8108202', 'tt10289996', 'tt7776430', 'tt5791986', 'tt7200946', 'tt10076722', 'tt10243678', 'tt8207768', 'tt9597190', 'tt7299298', 'tt8917752', 'tt8179388', 'tt7772580', 'tt10376068', 'tt7594584', 'tt8743064', 'tt0040395', 'no_data', 'tt7527082', 'tt8172466', 'tt6312802', 'tt8459250', 'tt1869721', 'tt6869362', 'tt8169446', 'tt9150970', 'tt2481498', 'tt7738048', 'tt0494969', 'tt8983240', 'tt2302755', 'tt8965432', 'tt7059506', 'tt8442644', 'tt8286926', 'tt8436026', 'tt2820452', 'tt8075260', 'tt9239888', 'tt2639254', 'tt2194499', 'tt0303733', 'tt0461209', 'tt0411469', 'tt0347278', 'tt0382188', 'tt0409527', 'tt4505006', 'tt1560993', 'tt0057611', 'tt9562694', 'tt8959820', 'tt2338454', 'tt9044128', 'tt8108164', 'tt5143450', 'tt6091936', 'tt8529070', 'tt0053374', 'tt8758086', 'tt7497366', 'tt0271935', 'tt0027309', 'tt1860242', 'tt1198186', 'tt5820544', 'tt0368962', 'tt0800325', 'tt3828220', 'tt6088634', 'tt5755796', 'tt6271264', 'tt10177712', 'tt0254324', 'tt2933544', 'tt4971258', 'tt8254556', 'tt0806102', 'tt2058636', 'tt2461736', 'tt1295909', 'tt8234502', 'tt0990433', 'tt5755912', 'tt3860092', 'tt7151438', 'tt7502214', 'tt1488606', 'tt0026552', 'tt0365545', 'tt2590214', 'tt3528284', 'tt4170436', 'tt4202506', 'tt9815714', 'tt4944460', 'tt0019214', 'tt0091860',

In [163]:
# droppiamo i duplicati per essere sicuri che nel merge non sino saltati fuori dei doppioni
df_movie_title_copy = df_movie_title.drop_duplicates(keep='first')
print(len(df_movie_title_copy))

df_movie_id_copy = df_movie_id.drop_duplicates(keep='first')
len(df_movie_id_copy)

6688

7034

In [212]:
#controlliamo i film che hanno stesso titolo ma diverso autore
pd.concat(g for _, g in df_movie_title_copy.groupby("title") if len(g) > 1)

                title               director director gender
2410        Abhinetri       Subodh Mukherjee            male
5692        Abhinetri         Satish Pradhan            male
322             Bliss          Abdullah Oğuz            male
6057            Bliss           Doris Dörrie          female
924              Boss            R. Raghuraj            male
4464             Boss           V. N. Aditya            male
6774             Jack   Francis Ford Coppola            male
6827             Jack     Elisabeth Scharang          female
1594        Lionheart        Genevieve Nnaji          female
5071        Lionheart        Sheldon Lettich            male
3118            Money  Steven Hilliard Stern            male
6425            Money           Doris Dörrie          female
2135           Sahara          Ineke Houtman          female
6289           Sahara           Zoltan Korda            male
956              Skin           Afraa Batous          female
4962             Skin         Hanro Smitsman            male
6768       Snow White       J. Searle Dawley            male
6821       Snow White           Michael Berz            male
3474  The Competition          Joel Oliansky            male
3977  The Competition           Claire Simon          female
1939     The Outsider              Béla Tarr            male
3903     The Outsider         Alf Brustellin            male

In [226]:
df_movie_title_copy.query('title == "Abhinetri"')

          title          director director gender
2410  Abhinetri  Subodh Mukherjee            male
5692  Abhinetri    Satish Pradhan            male

In [24]:
df_newdata.head(2) #riprendiamo il nostro dataset netflix/amazon

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,description,netflix,amazon,date_added_amazon
0,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,1,0,1000
1,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",No Data,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,1,0,1000

In [25]:
pd.concat(g for _, g in df_newdata.groupby("title") if len(g) > 1)

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,description,netflix,amazon,date_added_amazon
3695,Movie,A Family Man,Mark Williams,"Gerard Butler, Gretchen Mol, Alison Brie, Will...","Canada, United States","December 15, 2019",2016,R,110 min,Dramas,A ruthless corporate headhunter battles his ri...,1,0,1000
12130,Movie,A Family Man,Mark Williams,"Gerard Butler, Gretchen Mol, Alison Brie, Will...","United States, Canada",1000,2017,R,110 min,Drama,Dane Jensen (Gerard Butler) is a hard-driven h...,0,1,1000
2461,Movie,A Second Chance,Cathy Garcia-Molina,"John Lloyd Cruz, Bea Alonzo, Dimples Romana, J...",Philippines,"February 27, 2019",2015,TV-MA,130 min,"Dramas, International Movies, Romantic Movies","Following their storybook wedding, Popoy and B...",1,0,1000
7324,Movie,A Second Chance,Grayson Stroud,"Chico Benymon, Jennifer Freeman, Malinda Willi...",No Data,1000,2019,13+,94 min,Comedy,When best friends Daniella and Cheyann both st...,0,1,1000
3805,Movie,APEX: The Story of the Hypercar,"J.F. Musial, Josh Vietze",Zachary Levi,United States,"August 1, 2016",2016,NR,86 min,Documentaries,A visionary carmaker introduces his fuel-effic...,1,1,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12066,Movie,What Lies Beneath,Menno Meyjes,"Monic Hendrickx, Fedja van Huêt, Daan Schuurma...",No Data,1000,2016,13+,95 min,Suspense,"After many years abroad, a woman's homecoming ...",0,1,1000
5657,Movie,Wolves,Bart Freundlich,"Michael Shannon, Carla Gugino, Taylor John Smi...",United States,"March 29, 2019",2016,R,109 min,"Dramas, Independent Movies, Sports Movies",A promising high school basketball player has ...,1,1,1000
12019,Movie,Wolves,David Hayter,"Jason Momoa, Lucas Till, Stephen McHattie, Mer...",No Data,1000,2014,R,90 min,"Action, Horror, Science Fiction",A high-school student wakes to find he is chan...,0,1,1000
60,Movie,Worth,Sara Colangelo,"Michael Keaton, Stanley Tucci, Amy Ryan, Shuno...",No Data,"September 3, 2021",2021,PG-13,119 min,Dramas,"In the wake of the Sept. 11 attacks, a lawyer ...",1,1,1000
9296,Movie,Worth,Jenn Page,Eric Roberts,No Data,1000,2021,13+,90 min,"Drama, Special Interest, Suspense",Johnny was a young seminary student who lost h...,1,1,1000

In [26]:
dir_title = []#facciamo touple director/title prendendo i titoli da wikidata e i director del dataset netflix/amazon
unique_titles = df_movie_title_copy['title'].unique()
wikidata_titles = unique_titles.tolist()
print(len(wikidata_titles))

for  i, x in df_newdata['title'].iteritems():
    
    director = df_newdata['director'][i]
    title = x
    if title in wikidata_titles:
        dir_title.append((title, director))
print(len(dir_title)) # aumenta perchè nel dataset netflix/amazon abbiamo diversi film con stesso titolo ma più autori
print(dir_title[0:7])

# df_amazon['title']

6677
6779
[('Sankofa', 'Haile Gerima'), ('The Starling', 'Theodore Melfi'), ('Confessions of an Invisible Girl', 'Bruno Garotti'), ('Intrusion', 'Adam Salky'), ('Avvai Shanmughi', 'K.S. Ravikumar'), ('Jeans', 'S. Shankar'), ('Minsara Kanavu', 'Rajiv Menon')]

In [213]:
df_movie_title_copy.query('title=="Abhinetri"')

          title          director director gender
2410  Abhinetri  Subodh Mukherjee            male
5692  Abhinetri    Satish Pradhan            male

In [230]:
index_to_drop =[] #ripuliamo il dataframe di wikidata da tutti i film con autori che non matchano
for  index_n, title in df_movie_title_copy['title'].iteritems():
    director = df_movie_title_copy['director'][index_n]
    for tupla in dir_title:
        if tupla[0] == title and tupla[1] != director and director != "no_data" :

            index_to_drop.append(index_n)
    
df_movie_directors = df_movie_title_copy.drop(index_to_drop)
        
        
print(len(index_to_drop))

2018

In [215]:
df_movie_directors.head(7)#dataframe con giusti autori

                              title        director director gender
0                           Sankofa    Haile Gerima            male
1                      The Starling  Theodore Melfi            male
2  Confessions of an Invisible Girl         no_data         no_data
3                         Intrusion         no_data         no_data
6                    Minsara Kanavu     Rajiv Menon            male
8                        Dark Skies   Scott Stewart            male
9                          Paranoia  Robert Luketic            male

In [189]:
wikidata_titles_clean_autors = df_movie_directors["title"].tolist()
print(wikidata_titles_clean_autors[0:40]) #facciamo una lista dei titoli con autori che matchano

['Sankofa', 'Intrusion', 'Dark Skies', 'The Father Who Moves Mountains', 'Jaws', 'Jaws 2', 'Jaws: The Revenge', 'Training Day', 'Kate', 'Paradise Hills', 'Angamaly Diaries', 'Bright Star', 'Dhanak', 'Gurgaon', 'Shikara', 'An Unfinished Life', 'Chappie', 'Do the Right Thing', 'Green Lantern', 'In Too Deep', 'Love in a Puff', 'Mystery Men', 'School of Rock', 'Snervous Tyler Oakley', 'The Golden Child', 'The Guns of Navarone', 'Welcome Home Roscoe Jenkins', 'In the Line of Fire', 'C Kkompany', "He's All That", 'Koi Aap Sa', 'Kyaa Kool Hai Hum', 'Kyaa Super Kool Hain Hum', 'Kyo Kii... Main Jhuth Nahin Bolta', 'Ragini MMS 2', 'Shootout at Lokhandwala', 'The Dirty Picture', 'The Old Ways', 'A Faraway Land', 'Like Crazy']

In [ ]:
#problemi futuri
# 1 doppio id per stesso titolo(speriamo non siano troppi controllo a vista)
# 2 cancellati film con stesso autore ma scritto in modo diverso/presenti più autori(forse necessario controllo a vista)

In [237]:

pd.concat(g for _, g in df_movie_directors.groupby("title") if len(g) > 1)

ValueError: No objects to concatenate

In [227]:
""" for x in dir_title:
    if x[0]=="Abhinetri":
        print(x)
for x in dir_title:
    if x[0]=="Bliss":
        print(x) """
for x in dir_title:
    if x[0]=="Kucch To Hai":
        print(x)
#df_movie_title_copy.query('title=="Avvai Shanmughi"')
#df_movie_title_copy.query('title=="Sankofa"')
df_movie_title_copy.query('title=="Kucch To Hai"')
#df_movie_title_copy.query('title=="The Witcher: Nightmare of the Wolf"')

('Kucch To Hai', 'Anil V. Kumar, Anurag Basu')

           title     director director gender
87  Kucch To Hai  Anurag Basu            male

In [232]:
df_movie_directors.query('title=="Kucch To Hai"')

Empty DataFrame
Columns: [title, director, director gender]
Index: []

In [31]:
#problema #2 abbiamo diversi distributor e rating per stesso titolo/id
pd.concat(g for _, g in df_movie_id_copy.groupby("title") if len(g) > 1)

                           title       distributor         id rating score
1401  10 Things I Hate About You           Disney+  tt0147800          69%
1511  10 Things I Hate About You           Netflix  tt0147800          69%
1258              10 to Midnight  The Cannon Group  tt0085121          40%
2612              10 to Midnight           Netflix  tt0085121          40%
772        A Chinese Ghost Story           no_data  tt1861421      no_data
...                          ...               ...        ...          ...
6998                    Zandalee           Netflix  tt0101004         4/10
3784                         Zoe           Netflix  tt6010628       4.3/10
5546                         Zoe    Amazon Studios  tt6010628       4.3/10
3780                  Zombieland          InterCom  tt1156398       7.4/10
6992                  Zombieland           Netflix  tt1156398       7.4/10

[699 rows x 4 columns]

In [177]:
df_movie_id_copy.head(7)
df_movie_id_copy.query('title=="10 Things I Hate About You"')

                           title distributor         id rating score
1401  10 Things I Hate About You     Disney+  tt0147800          69%
1511  10 Things I Hate About You     Netflix  tt0147800          69%

In [101]:
#df_movie_id_copy.iloc[3]
distr =[]
for i in df_movie_id_copy["distributor"][0]:
    distrib = df_movie_id_copy["distributor"][0]
    distr.append(i)
    di= tuple(distr)
print(di)

('no_data', 'TriStar Pictures', 'no_data')

In [105]:
df_movie_id_copy.at[1511,'distributor']

1511    Star Cinema
1511        Netflix
Name: distributor, dtype: object

In [178]:
df_movie_id_clean = df_movie_id_copy.groupby(['title', 'id']).agg(tuple).reset_index()
df_movie_id_clean.head(7)  #prima trasformiamo in tuple i valori che hanno in comune la stessa coppia id/title (succede anche se il valore è singolo ma così abbiamo le tuple fatte)

              title          id            distributor rating score
0            #Alive  tt10620868             (Netflix,)       (88%,)
1             #Home  tt10534500  (Amazon Prime Video,)   (no_data,)
2             #Roxy   tt5646082              (iTunes,)   (no_data,)
3      #realityhigh   tt6119504             (Netflix,)       (40%,)
4               '76   tt2385126             (YouTube,)   (no_data,)
5  1 Chance 2 Dance   tt2388856             (Netflix,)   (no_data,)
6     1 Mile to You   tt2184233   (Gravitas Ventures,)   (no_data,)

In [179]:
df_movie_id_clean.query('title=="10 Things I Hate About You"')

                         title         id         distributor rating score
13  10 Things I Hate About You  tt0147800  (Disney+, Netflix)   (69%, 69%)

In [180]:
df_movie_id_clean["distributor"]

0                  (Netflix,)
1       (Amazon Prime Video,)
2                   (iTunes,)
3                  (Netflix,)
4                  (YouTube,)
                ...
6817               (no_data,)
6818    (Paramount Pictures,)
6819               (Netflix,)
6820               (Netflix,)
6821               (Netflix,)
Name: distributor, Length: 6822, dtype: object

In [181]:
df_movie_id_clean_copy = df_movie_id_clean.copy() #estraiamo i valori singoli dalle tuple e manteniamo un vlore solo se sono duplicati i rotten rates
for n_index, title in df_movie_id_clean_copy['title'].iteritems():
    distributor = df_movie_id_clean_copy["distributor"][n_index]
    rating = df_movie_id_clean_copy["rating score"][n_index]
    
    if len(distributor)== 1:
        df_movie_id_clean_copy.at[n_index,'distributor']=distributor[0]

    if len(rating) > 1:
        
        for i in rating:
            rating_check = set()
            rating_check.add(i)
            
            if len(rating_check) <= 1:
                df_movie_id_clean_copy.at[n_index,'rating score']=rating[0]
                

    if len(rating) == 1:
        
        df_movie_id_clean_copy.at[n_index,'rating score']=rating[0] #puo darsi che tuplare e stuplare i valori non sia bellissimo ma alla fine mi è sembrato più semplice

In [182]:
df_movie_id_clean_copy

                            title          id         distributor rating score
0                          #Alive  tt10620868             Netflix          88%
1                           #Home  tt10534500  Amazon Prime Video      no_data
2                           #Roxy   tt5646082              iTunes      no_data
3                    #realityhigh   tt6119504             Netflix          40%
4                             '76   tt2385126             YouTube      no_data
...                           ...         ...                 ...          ...
6817                       Zubaan   tt3776484             no_data      no_data
6818                     Æon Flux   tt0402022  Paramount Pictures       3.5/10
6819                  Çarsi Pazar   tt4324242             Netflix      no_data
6820  Çok Filim Hareketler Bunlar   tt1640202             Netflix      no_data
6821                      Òlòtūré   tt9725830             Netflix      no_data

[6822 rows x 4 columns]

In [183]:
df_movie_id_clean_copy.query('title=="10 Things I Hate About You"')

                         title         id         distributor rating score
13  10 Things I Hate About You  tt0147800  (Disney+, Netflix)          69%

In [184]:
df_movie_id_clean_copy["distributor"][13]  #

('Disney+', 'Netflix')

In [185]:
pd.concat(g for _, g in df_movie_id_clean_copy.groupby("title") if len(g) > 1) #ci rimangono i film con stesso titolo diversa id (da controllare a mano?)

,title,id,distributor,rating score
114,A Chinese Ghost Story,tt0093978,Netflix,67%
115,A Chinese Ghost Story,tt1861421,no_data,no_data
167,A Perfect Day,tt0469692,Netflix,no_data
168,A Perfect Day,tt3577624,Teodora Film,6.8/10
182,A Second Chance,tt2150139,Netflix,no_data
...,...,...,...,...
6729,Wolves,tt0021558,Woolf & Freedman Film Service,no_data
6730,Wolves,tt1403241,Entertainment One,4.5/10
6731,Wolves,tt4623856,Netflix,4.8/10
6789,"Yours, Mine and Ours",tt0063829,United Artists Corporation,6.5/10
6790,"Yours, Mine and Ours",tt0443295,Paramount Pictures,6%

# uniamo tutto

In [217]:
df_movie_id_clean_copy #contiene title, id, distributor, rottenscore,
df_movie_directors #contiene title, director, director gender

                                 title        director director gender
0                              Sankofa    Haile Gerima            male
1                         The Starling  Theodore Melfi            male
2     Confessions of an Invisible Girl         no_data         no_data
3                            Intrusion         no_data         no_data
6                       Minsara Kanavu     Rajiv Menon            male
...                                ...             ...             ...
6775                      Dard Divorce  Olaf Ittenbach            male
6776              A Place at the Table         no_data         no_data
6777        10 Things I Hate About You      Gil Junger            male
6781                       Harry Brown   Daniel Barber            male
6821                        Snow White    Michael Berz            male

[4727 rows x 3 columns]

In [216]:
df_movie_directors.head(7)

                              title        director director gender
0                           Sankofa    Haile Gerima            male
1                      The Starling  Theodore Melfi            male
2  Confessions of an Invisible Girl         no_data         no_data
3                         Intrusion         no_data         no_data
6                    Minsara Kanavu     Rajiv Menon            male
8                        Dark Skies   Scott Stewart            male
9                          Paranoia  Robert Luketic            male

In [218]:
match_titles = df_movie_directors['title'].unique()
print(len(match_titles))
match_titles1 = df_movie_id_clean_copy['title'].unique()
print(len(match_titles1))

4727
6677

In [219]:
#wikidata_titles_clean_autors = df_movie_directors["title"].tolist() (già fatto sopra)
len(wikidata_titles_clean_autors) #facciamo una lista dei titoli con autori giusti

3397

In [220]:
index_to_drop =[] #ripuliamo il dataframe di wikidata da tutti i film con autori che non matchano
for  index_n, title in df_movie_id_clean_copy['title'].iteritems():
    if title not in wikidata_titles_clean_autors:

            index_to_drop.append(index_n)
    
df_movie_id_cleaned_drctr = df_movie_id_clean_copy.drop(index_to_drop)
        
        
print(len(df_movie_id_cleaned_drctr))

3297

In [221]:
df_movie_id_cleaned_drctr1 = df_movie_id_cleaned_drctr['title'].unique()
len(df_movie_id_cleaned_drctr1)

3260

In [222]:
print(len(df_movie_id_cleaned_drctr['title']))
print(len(df_movie_directors['title']))

3297
4727

# merge film dataframes

In [223]:
df_movie_id_cleaned_drctr.head()

              title          id         distributor rating score
1             #Home  tt10534500  Amazon Prime Video      no_data
2             #Roxy   tt5646082              iTunes      no_data
3      #realityhigh   tt6119504             Netflix          40%
4               '76   tt2385126             YouTube      no_data
5  1 Chance 2 Dance   tt2388856             Netflix      no_data

In [224]:
df_movie_directors_copy = df_movie_directors.copy()
df_movie_directors_copy["distributor"] = " "
df_movie_directors_copy["id"] = " "
df_movie_directors_copy["rating score"] = " "
df_movie_directors_copy.head()

,title,director,director gender,distributor,id,rating score
0,Sankofa,Haile Gerima,male,,,
1,The Starling,Theodore Melfi,male,,,
2,Confessions of an Invisible Girl,no_data,no_data,,,
3,Intrusion,no_data,no_data,,,
6,Minsara Kanavu,Rajiv Menon,male,,,

In [240]:
for index_n, title in df_movie_directors_copy['title'].iteritems():
    for index_id, title_id in df_movie_id_cleaned_drctr['title'].iteritems():
        distributor = df_movie_id_cleaned_drctr["distributor"][index_id]
        id = df_movie_id_cleaned_drctr["id"][index_id]
        rating = df_movie_id_cleaned_drctr["rating score"][index_id]
        
        if title == title_id:
            
            df_movie_directors_copy.at[n_index,'distributor']=distributor
            df_movie_directors_copy.at[n_index,'id']=id
            df_movie_directors_copy.at[n_index,'rating score']=rating

In [241]:
df_movie_directors_copy.head(7)

,title,director,director gender,distributor,id,rating score
0,Sankofa,Haile Gerima,male,,,
1,The Starling,Theodore Melfi,male,,,
2,Confessions of an Invisible Girl,no_data,no_data,,,
3,Intrusion,no_data,no_data,,,
6,Minsara Kanavu,Rajiv Menon,male,,,
8,Dark Skies,Scott Stewart,male,,,
9,Paranoia,Robert Luketic,male,,,

# Series

In [14]:
df_serie_title.head(7)

                                  title       director   gender
0                             Ganglands        no_data  no_data
1                         Midnight Mass  Mike Flanagan     male
2         The Great British Baking Show        no_data  no_data
3                 The Smart Money Woman        no_data  no_data
4  King of Boys: The Return of the King   Kemi Adetiba   female
5                               Valeria   Nely Reguera   female
6                        I Need Romance        no_data  no_data

In [15]:
df_serie_id.head(7)

                                  serie brodcaster      imdbID rottenscore
0                             Ganglands    no_data     no_data     no_data
1                         Midnight Mass    Netflix  tt10574558     no_data
2         The Great British Baking Show    BBC One   tt1877368     no_data
3                 The Smart Money Woman    Netflix     no_data     no_data
4  King of Boys: The Return of the King    Netflix     no_data     no_data
5                               Valeria  Univision   tt1483311     no_data
6                        I Need Romance        tvN   tt3340752     no_data