In [2]:
import pandas as pd # queried_data processing
import pandas_profiling as pp
import numpy as np # linear algebra

In [3]:
import pprint #indet json 
import requests #make http requests
import json
from qwikidata.sparql  import return_sparql_query_results #return sparql results
from SPARQLWrapper import SPARQLWrapper, JSON #questo serve a vedere la struttura delle risposte
import ssl
from http.client import IncompleteRead
import time
import urllib.error
from xml.etree.ElementPath import xpath_tokenizer_re

In [58]:
data = pd.read_csv('final_dataset.csv')
data.dropna(subset=['imdb_id'], inplace=True)
data.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
data

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,...,languages,director_gender,distributor,imDbRating,imDbRatingVotes,rottenTomatoes,budget,gross,keywords,awards
0,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",USA,"September 24, 2021",2021.0,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",...,English,male,Netflix,7.7,110057.0,NaN,NaN,NaN,"island,vampire,community,secret,tv mini series","Nominated for 1 Primetime Emmy, 4 wins & 29 no..."
1,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993.0,TV-MA,125 min,"Dramas, Independent Movies, International Movies",...,"Akan, English",male,NaN,7.0,704.0,8.2/10,"$1,000,000 (estimated)","$2,198,984","west indies,model,fashion,plantation,africa","Awards, 1 nomination"
2,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021.0,TV-14,9 Seasons,"British TV Shows, Reality TV",...,English,NaN,BBC One,8.6,10022.0,NaN,NaN,NaN,"baking competition,baking bread,baker,food tas...","Won 2 BAFTA Awards, 10 wins & 21 nominations t..."
3,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021.0,PG-13,104 min,"Comedies, Dramas",...,"English, Spanish",male,Netflix,6.3,12944.0,4.2/10,NaN,NaN,"bird,mother,father,home,starling","Awards, 1 win"
4,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,"Pino Maniaci, Silvana Saguto, Bartolomeo Parrino","UK, Italy","September 24, 2021",2021.0,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",...,"English, Italian",NaN,NaN,6.7,278.0,NaN,NaN,NaN,tv mini series,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8308,TV Show,Terrahawks,Desmond Saunders,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",UK,0,1983.0,ALL,3 Seasons,TV Shows,...,English,male,ITV,7.1,748.0,NaN,NaN,NaN,"timeframe 2020s,alien invasion sci fi,aunt nep...","Awards, 2 nominations"
8309,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,0,2021.0,16+,93 min,"Drama, Science Fiction, Suspense",...,NaN,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8310,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",UK,0,2008.0,R,90 min,Action,...,English,male,Netflix,5.8,17347.0,NaN,"$300,000 (estimated)","$463,377","nazi zombie,mercenary,ex soldier,bar,nazi",NaN
8311,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...","USA, Argentina",0,2021.0,TV-MA,1 Season,"Drama, Sports",...,"Spanish, Italian, English",NaN,Amazon Prime Video,7.1,1875.0,NaN,NaN,NaN,"football,male nudity,athlete,female nudity,futbol",NaN
8312,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,0,2010.0,R,103 min,"Action, Drama, Suspense",...,NaN,male,Lionsgate,NaN,NaN,63%,NaN,NaN,NaN,NaN

In [5]:
ids = set(data['imdb_id'].to_list())
print(len(ids))

ids_list = list(ids)
print(ids_list[6])
print(len(ids_list))

8206
tt1320291
8206

In [8]:
def imdb(data, filename):
    json_list = []
    for id in data[:2]:

        #url = "https://imdb-api.com/API/UserRatings/k_12345678/"+id+""

        resp = requests.get(url)
        data = resp.json()
        json_list.append(data)

        with open(filename, 'w') as file_object:  #open the file in write mode
            json.dump(json_list, file_object)

imdb(ids_list, 'user_rate.json')

NameError: name 'url' is not defined

In [ ]:
data1 = ids_list[1:]
json_list = []
for id in data1:
    

        #url = "https://imdb-api.com/API/UserRatings/k_2xtxoo0v/"+id+""

        resp = requests.get(url)
        res = resp.json()
        json_list.append(res)

In [ ]:
print(len(json_list))

8205

In [9]:
with open('user_reviws.json', 'w') as file_object:  #open the file in write mode
            json.dump(json_list, file_object)

NameError: name 'json_list' is not defined

In [59]:
data.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added_netflix',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'netflix', 'amazon', 'date_added_amazon', 'imdb_id', 'languages',
       'director_gender', 'distributor', 'imDbRating', 'imDbRatingVotes',
       'rottenTomatoes', 'budget', 'gross', 'keywords', 'awards'],
      dtype='object')

In [66]:
for i in data.columns:
    null_rate = data[i].isna().sum() / len(data) * 100 
    if null_rate > 0 :
        print("{} null rate: {}%".format(i,round(null_rate,2)))

director null rate: 15.91%
cast null rate: 0.23%
country null rate: 13.76%
rating null rate: 0.01%
languages null rate: 24.02%
director_gender null rate: 27.58%
distributor null rate: 26.18%
imDbRating null rate: 22.88%
imDbRatingVotes null rate: 22.88%
rottenTomatoes null rate: 62.58%
budget null rate: 78.98%
gross null rate: 68.45%
keywords null rate: 27.63%
awards null rate: 50.55%

In [61]:
set(data['date_added_netflix'].to_list())

{'January 15, 2019',
 'October 30, 2020',
 'June 20, 2020',
 'June 22, 2017',
 'November 15, 2019',
 'September 30, 2017',
 'September 24, 2021',
 'June 4, 2019',
 'November 14, 2014',
 'March 7, 2019',
 'November 28, 2019',
 'May 4, 2021',
 'October 22, 2020',
 'September 5, 2021',
 'September 15, 2020',
 'April 16, 2020',
 'September 28, 2020',
 'July 4, 2021',
 'October 7, 2020',
 'July 25, 2019',
 'July 2, 2018',
 'October 23, 2020',
 'January 5, 2018',
 'August 19, 2017',
 'April 23, 2021',
 'October 22, 2015',
 'December 27, 2017',
 'December 17, 2018',
 'March 25, 2020',
 'April 7, 2020',
 'December 20, 2019',
 ' April 17, 2016',
 'August 5, 2021',
 'December 2, 2019',
 'October 14, 2017',
 'April 18, 2017',
 'August 5, 2019',
 'November 24, 2020',
 'September 3, 2020',
 'September 17, 2020',
 'January 22, 2021',
 'August 2, 2019',
 'September 29, 2018',
 'March 15, 2018',
 'March 3, 2019',
 'January 30, 2018',
 'January 23, 2016',
 'November 2, 2019',
 'August 25, 2021',
 ' December 15, 2015',
 'November 12, 2017',
 'July 28, 2020',
 'April 18, 2020',
 'December 29, 2018',
 'April 6, 2019',
 'June 30, 2019',
 'June 3, 2017',
 'November 22, 2017',
 'February 17, 2021',
 'August 13, 2019',
 'August 8, 2019',
 'May 9, 2019',
 'March 6, 2019',
 'April 27, 2021',
 'October 1, 2019',
 'October 2, 2015',
 'January 21, 2021',
 'May 15, 2017',
 'November 9, 2018',
 'July 31, 2019',
 'August 26, 2021',
 'June 25, 2019',
 'November 17, 2020',
 'September 22, 2020',
 'May 14, 2021',
 'April 15, 2018',
 'January 11, 2019',
 'March 27, 2020',
 'August 20, 2017',
 'January 7, 2017',
 'April 3, 2021',
 'September 1, 2020',
 'March 17, 2019',
 'July 6, 2019',
 'May 13, 2018',
 'June 23, 2018',
 'April 15, 2016',
 'July 2, 2019',
 'May 1, 2017',
 'October 2, 2018',
 'May 20, 2019',
 'September 8, 2017',
 'January 2, 2021',
 'January 9, 2018',
 'August 25, 2017',
 'August 9, 2017',
 'November 17, 2016',
 'January 4, 2019',
 'March 19, 2018',
 'June 21, 2020',
 'June 6, 2019',
 'August 17, 2020',
 'December 16, 2016',
 'February 8, 2016',
 'November 18, 2015',
 'December 23, 2020',
 'February 1, 2021',
 'December 22, 2018',
 'August 1, 2017',
 'No Data',
 'March 1, 2020',
 'August 12, 2020',
 'December 22, 2019',
 'December 3, 2019',
 'September 21, 2019',
 'September 3, 2021',
 'January 25, 2019',
 'April 17, 2019',
 'December 6, 2018',
 ' March 15, 2019',
 ' January 8, 2018',
 'October 23, 2017',
 'February 8, 2021',
 'August 5, 2020',
 'September 14, 2018',
 'February 10, 2021',
 'March 16, 2020',
 'October 31, 2020',
 'February 1, 2017',
 'December 21, 2019',
 'April 3, 2019',
 'March 22, 2020',
 'January 19, 2017',
 'November 1, 2018',
 'August 21, 2017',
 ' December 1, 2019',
 'September 12, 2019',
 'February 22, 2018',
 'June 3, 2021',
 'April 7, 2021',
 'May 10, 2019',
 'October 17, 2020',
 'May 13, 2021',
 'July 11, 2014',
 ' January 13, 2016',
 'September 7, 2021',
 'April 1, 2017',
 'September 14, 2021',
 'July 30, 2021',
 'February 24, 2021',
 'July 17, 2020',
 'December 31, 2015',
 'December 24, 2020',
 'October 15, 2019',
 'September 11, 2017',
 'April 17, 2021',
 'February 14, 2020',
 'October 5, 2019',
 'July 14, 2017',
 'March 8, 2021',
 'March 22, 2019',
 'May 16, 2020',
 'March 15, 2019',
 'April 15, 2020',
 'October 18, 2019',
 'January 15, 2021',
 'August 25, 2020',
 'May 15, 2016',
 'March 14, 2019',
 'January 25, 2018',
 'November 17, 2018',
 'April 30, 2019',
 'April 26, 2020',
 'October 31, 2019',
 'April 13, 2019',
 'April 28, 2016',
 'February 1, 2016',
 'November 19, 2014',
 'October 7, 2016',
 ' April 4, 2017',
 'July 15, 2016',
 'October 22, 2019',
 'February 3, 2020',
 ' December 2, 2017',
 'March 29, 2019',
 'March 7, 2017',
 'September 28, 2019',
 'January 30, 2020',
 'October 22, 2017',
 'July 3, 2018',
 'April 17, 2020',
 'February 26, 2018',
 'April 15, 2017',
 'April 10, 2020',
 'June 22, 2018',
 'September 2, 2017',
 'November 27, 2018',
 'August 21, 2018',
 'October 25, 2019',
 'August 10, 2017',
 'December 28, 2015',
 'April 28, 2020',
 'October 12, 2014',
 'September 22, 2017',
 'August 16, 2020',
 'February 14, 2021',
 'October 23, 2015',
 'July 5, 2018',
 'October 2, 2019',
 'February 3, 2017',
 'June 1, 2020',
 'January 24, 2018',
 'July 24, 2021',
 'October 1, 2020',
 'April 16, 2021',
 'January 31, 2020',
 'January 10, 2017',
 'December 5, 2017',
 'September 23, 2016',
 'July 26, 2018',
 'February 16, 2017',
 'May 5, 2021',
 'June 19, 2021',
 'December 12, 2014',
 'May 13, 2017',
 'February 16, 2018',
 'January 30, 2019',
 'July 16, 2020',
 'February 10, 2020',
 'October 16, 2018',
 'December 18, 2020',
 'August 4, 2018',
 'July 17, 2021',
 'March 1, 2018',
 'March 23, 2020',
 'December 28, 2019',
 'July 5, 2019',
 'March 12, 2019',
 'September 18, 2020',
 'September 2, 2016',
 'January 31, 2018',
 'March 24, 2017',
 'June 16, 2019',
 'December 11, 2016',
 'May 1, 2020',
 'May 28, 2019',
 'December 17, 2019',
 'June 2, 2017',
 'July 15, 2018',
 'May 16, 2017',
 'May 22, 2020',
 'October 3, 2020',
 'January 15, 2017',
 'October 12, 2017',
 'April 1, 2016',
 'October 15, 2020',
 'March 26, 2018',
 'April 25, 2018',
 'June 1, 2019',
 'March 27, 2019',
 'March 4, 2019',
 'July 10, 2015',
 'December 6, 2016',
 'August 25, 2016',
 'March 31, 2021',
 'June 9, 2021',
 'December 18, 2019',
 ' May 28, 2016',
 'June 7, 2020',
 'February 28, 2017',
 'November 30, 2017',
 'February 20, 2019',
 'January 28, 2019',
 'May 31, 2021',
 'May 6, 2019',
 'May 24, 2020',
 'April 13, 2021',
 'October 31, 2015',
 'June 13, 2017',
 'January 20, 2020',
 'August 16, 2018',
 'February 24, 2017',
 'June 30, 2020',
 'October 16, 2017',
 'September 6, 2017',
 'March 4, 2021',
 'June 5, 2021',
 'September 25, 2020',
 'July 8, 2021',
 'September 11, 2019',
 'April 20, 2020',
 'May 30, 2021',
 'February 22, 2020',
 'September 18, 2018',
 'June 2, 2021',
 'August 15, 2020',
 'July 24, 2016',
 'February 15, 2015',
 'August 21, 2019',
 'January 6, 2021',
 'September 1, 2017',
 'October 19, 2019',
 ' October 31, 2018',
 'March 16, 2017',
 'December 21, 2018',
 'April 2, 2018',
 'February 26, 2016',
 'June 16, 2021',
 'May 21, 2021',
 'January 26, 2019',
 'March 16, 2018',
 'March 20, 2019',
 'November 1, 2020',
 'February 21, 2018',
 'April 4, 2021',
 'October 27, 2017',
 'February 4, 2016',
 'September 20, 2019',
 'December 14, 2020',
 'January 5, 2019',
 'July 7, 2019',
 'September 18, 2017',
 'June 23, 2021',
 'March 2, 2018',
 'February 1, 2014',
 'November 11, 2019',
 'January 26, 2018',
 'November 15, 2016',
 'April 2, 2021',
 'March 17, 2020',
 'August 6, 2021',
 'October 9, 2018',
 'July 19, 2019',
 'July 30, 2019',
 'March 15, 2017',
 'December 1, 2017',
 'January 25, 2020',
 ' December 25, 2015',
 'July 25, 2020',
 'August 6, 2020',
 'March 19, 2021',
 'October 3, 2019',
 'January 10, 2019',
 'December 14, 2016',
 'December 17, 2020',
 'April 1, 2020',
 'September 13, 2017',
 'February 14, 2018',
 'June 21, 2019',
 'January 14, 2021',
 ' October 5, 2017',
 'June 6, 2020',
 'March 30, 2017',
 'March 10, 2018',
 'July 1, 2021',
 'May 15, 2019',
 'November 15, 2017',
 'October 16, 2016',
 'April 2, 2019',
 'September 22, 2021',
 'June 23, 2017',
 'February 26, 2021',
 'November 1, 2019',
 'January 15, 2020',
 'August 16, 2019',
 'May 19, 2021',
 'May 17, 2019',
 'May 29, 2017',
 'February 19, 2019',
 'June 19, 2019',
 'December 4, 2016',
 'May 2, 2018',
 'August 23, 2020',
 ' July 1, 2017',
 'January 7, 2019',
 'July 26, 2021',
 'August 28, 2017',
 'August 31, 2018',
 'May 19, 2018',
 'May 6, 2020',
 'July 11, 2020',
 'February 14, 2019',
 'July 13, 2021',
 ' February 1, 2019',
 'March 6, 2020',
 'September 24, 2017',
 'August 3, 2017',
 'April 8, 2020',
 'July 13, 2017',
 'November 7, 2017',
 'October 15, 2016',
 'October 10, 2018',
 'May 28, 2020',
 'May 31, 2018',
 'July 18, 2017',
 'February 23, 2018',
 'July 20, 2017',
 'July 15, 2017',
 'January 17, 2020',
 'July 30, 2020',
 'June 25, 2021',
 'September 25, 2019',
 'March 15, 2021',
 'July 14, 2016',
 'April 20, 2019',
 'August 4, 2021',
 'February 11, 2019',
 'December 30, 2017',
 'December 23, 2018',
 'January 20, 2021',
 'December 26, 2020',
 'May 8, 2021',
 'August 21, 2020',
 'October 1, 2017',
 'February 2, 2017',
 'October 21, 2019',
 'January 16, 2017',
 'May 1, 2016',
 'May 21, 2019',
 'May 5, 2016',
 'August 10, 2021',
 'August 3, 2019',
 'March 13, 2019',
 'January 18, 2019',
 'November 25, 2020',
 'May 11, 2021',
 'April 9, 2019',
 'May 26, 2016',
 'July 25, 2018',
 'February 19, 2017',
 ' October 1, 2019',
 'August 7, 2017',
 'October 31, 2018',
 'April 5, 2016',
 'November 18, 2016',
 'December 29, 2017',
 ' December 14, 2018',
 'October 13, 2018',
 'February 19, 2016',
 ' December 15, 2017',
 'September 4, 2018',
 'April 1, 2021',
 'April 16, 2015',
 'May 25, 2020',
 'November 27, 2020',
 'May 23, 2016',
 'January 5, 2017',
 'May 9, 2020',
 'March 20, 2020',
 'February 26, 2020',
 'February 28, 2020',
 'September 25, 2017',
 'December 11, 2020',
 'July 3, 2021',
 'February 27, 2019',
 'November 5, 2018',
 'April 19, 2021',
 'August 5, 2017',
 'January 27, 2020',
 'January 13, 2020',
 'January 12, 2018',
 'January 1, 2021',
 'June 7, 2018',
 'December 18, 2015',
 'January 2, 2018',
 'November 5, 2020',
 'January 15, 2016',
 ' June 1, 2018',
 'July 8, 2016',
 'August 11, 2016',
 'July 15, 2021',
 'July 21, 2021',
 'December 15, 2017',
 'July 24, 2017',
 'August 28, 2019',
 'May 12, 2021',
 'June 24, 2016',
 'February 25, 2019',
 'November 5, 2017',
 'September 26, 2018',
 'April 11, 2020',
 'January 11, 2018',
 'December 2, 2017',
 ' February 1, 2017',
 'February 9, 2019',
 'September 16, 2019',
 ' November 1, 2016',
 'July 23, 2021',
 'April 28, 2017',
 'September 24, 2018',
 'April 5, 2021',
 'October 9, 2020',
 'October 17, 2019',
 'January 26, 2021',
 'June 23, 2020',
 'October 22, 2018',
 'November 23, 2020',
 'September 4, 2020',
 'August 16, 2021',
 'December 9, 2018',
 'September 1, 2013',
 'April 10, 2017',
 'June 18, 2016',
 ' January 12, 2019',
 'October 28, 2020',
 'April 29, 2020',
 'December 21, 2017',
 'November 6, 2019',
 'March 24, 2018',
 'May 17, 2020',
 'May 15, 2018',
 'March 18, 2021',
 'April 17, 2018',
 'October 13, 2016',
 'December 30, 2016',
 'December 11, 2015',
 'March 22, 2021',
 'June 10, 2020',
 'January 1, 2020',
 'March 28, 2019',
 'June 10, 2017',
 'October 23, 2019',
 'August 12, 2017',
 'July 17, 2019',
 'April 25, 2017',
 'May 17, 2011',
 'July 26, 2020',
 'August 7, 2021',
 'February 6, 2016',
 'October 20, 2018',
 'December 9, 2020',
 'December 3, 2020',
 'May 12, 2017',
 'March 18, 2016',
 'September 19, 2017',
 'April 18, 2019',
 'November 24, 2017',
 'October 28, 2017',
 ' December 31, 2015',
 'January 27, 2021',
 'July 15, 2020',
 'October 26, 2017',
 'November 27, 2017',
 'April 2, 2017',
 'January 22, 2018',
 'November 20, 2020',
 'June 20, 2019',
 'July 22, 2021',
 'September 15, 2021',
 'August 24, 2018',
 'October 8, 2018',
 'August 27, 2018',
 'April 17, 2015',
 'February 27, 2018',
 'May 1, 2021',
 'December 2, 2018',
 'July 14, 2018',
 'March 31, 2016',
 'April 30, 2018',
 'October 31, 2017',
 'February 6, 2019',
 'March 11, 2018',
 'May 8, 2020',
 'September 18, 2015',
 'October 27, 2015',
 'September 19, 2020',
 'January 11, 2020',
 'April 9, 2016',
 'February 11, 2020',
 'June 15, 2018',
 'August 11, 2021',
 'January 18, 2021',
 'February 8, 2020',
 'October 13, 2017',
 'October 19, 2018',
 'September 5, 2020',
 'January 7, 2020',
 'March 29, 2021',
 'April 1, 2019',
 'July 21, 2019',
 'February 22, 2019',
 'March 5, 2019',
 'September 18, 2019',
 'February 5, 2018',
 'November 30, 2020',
 'February 4, 2020',
 'July 31, 2020',
 'August 8, 2021',
 'September 16, 2020',
 'April 29, 2019',
 'January 19, 2018',
 'July 7, 2017',
 'June 2, 2018',
 'April 7, 2017',
 'July 16, 2019',
 'September 17, 2016',
 'October 27, 2018',
 ' September 22, 2016',
 'November 18, 2018',
 'February 27, 2020',
 'November 7, 2018',
 'December 3, 2018',
 'December 8, 2020',
 'November 8, 2019',
 'June 15, 2020',
 'September 10, 2019',
 'November 22, 2019',
 'December 25, 2017',
 'July 8, 2018',
 'June 8, 2019',
 'March 5, 2018',
 'June 22, 2021',
 'August 15, 2017',
 'September 9, 2020',
 'January 1, 2016',
 'December 20, 2018',
 'July 10, 2020',
 'August 7, 2020',
 'November 1, 2010',
 'October 18, 2018',
 'February 15, 2021',
 'October 16, 2020',
 'April 6, 2017',
 'October 13, 2019',
 'July 9, 2020',
 'March 15, 2020',
 'December 15, 2016',
 'June 18, 2021',
 'September 28, 2018',
 'January 28, 2016',
 'May 30, 2017',
 'March 20, 2018',
 'June 5, 2018',
 'February 6, 2021',
 'November 3, 2018',
 'February 18, 2021',
 'June 26, 2017',
 'August 1, 2016',
 'May 14, 2019',
 'March 23, 2018',
 'February 16, 2021',
 'December 8, 2018',
 'March 31, 2018',
 'December 10, 2020',
 'November 13, 2018',
 'June 13, 2020',
 'July 1, 2016',
 'March 20, 2021',
 'December 12, 2017',
 ' December 18, 2014',
 'December 10, 2018',
 'July 26, 2019',
 'August 19, 2020',
 'August 23, 2019',
 'December 20, 2016',
 'December 1, 2018',
 'June 26, 2019',
 'September 23, 2020',
 'April 14, 2018',
 'January 7, 2021',
 'January 17, 2014',
 'August 26, 2020',
 'December 5, 2019',
 'December 26, 2016',
 'March 18, 2017',
 'January 12, 2021',
 'September 26, 2020',
 'October 3, 2017',
 'November 23, 2019',
 'April 20, 2016',
 'September 27, 2018',
 'June 24, 2021',
 'May 18, 2021',
 'January 1, 2018',
 'February 26, 2017',
 'April 3, 2020',
 'February 28, 2019',
 'May 11, 2018',
 'November 1, 2013',
 'February 20, 2021',
 'July 10, 2018',
 'February 1, 2019',
 'January 1, 2017',
 'June 14, 2018',
 'April 20, 2018',
 'September 15, 2018',
 'August 17, 2018',
 'February 2, 2018',
 'July 29, 2018',
 'December 5, 2018',
 'March 1, 2017',
 'June 29, 2019',
 'February 20, 2018',
 'February 17, 2017',
 'June 15, 2017',
 'May 14, 2020',
 'March 29, 2020',
 'June 25, 2018',
 'June 27, 2017',
 'January 6, 2018',
 'December 8, 2019',
 'September 1, 2019',
 'June 28, 2017',
 'March 19, 2019',
 'September 5, 2017',
 'December 1, 2015',
 'January 13, 2017',
 'June 25, 2020',
 'January 17, 2017',
 'February 14, 2017',
 'March 15, 2015',
 'June 26, 2021',
 'April 8, 2017',
 ' May 31, 2015',
 'March 23, 2019',
 'February 21, 2012',
 'August 23, 2021',
 'September 19, 2019',
 'September 8, 2021',
 'July 5, 2020',
 'May 22, 2017',
 'October 1, 2018',
 'July 28, 2018',
 'January 16, 2020',
 'March 7, 2018',
 ' September 7, 2016',
 'April 15, 2021',
 'March 9, 2018',
 'June 28, 2021',
 ' August 13, 2018',
 'January 2, 2020',
 'May 27, 2021',
 'September 26, 2019',
 'July 29, 2020',
 'March 17, 2017',
 'May 8, 2018',
 'June 11, 2021',
 'August 3, 2018',
 'October 29, 2016',
 'February 15, 2017',
 'November 4, 2016',
 'October 14, 2013',
 'November 1, 2016',
 'April 7, 2018',
 'May 29, 2021',
 'December 22, 2020',
 'November 12, 2019',
 'November 25, 2016',
 'March 6, 2015',
 'January 8, 2021',
 'December 22, 2017',
 'June 8, 2018',
 'March 14, 2021',
 'November 27, 2019',
 'February 5, 2020',
 'December 14, 2018',
 'April 12, 2018',
 'February 21, 2021',
 'November 11, 2020',
 'May 20, 2020',
 'December 25, 2020',
 'May 29, 2018',
 'February 12, 2017',
 'September 17, 2021',
 'June 1, 2016',
 'November 24, 2019',
 'August 2, 2020',
 'June 26, 2020',
 'August 9, 2018',
 'March 26, 2020',
 'April 20, 2021',
 'April 6, 2020',
 'December 8, 2016',
 'May 21, 2020',
 'February 8, 2019',
 'May 11, 2019',
 'June 20, 2017',
 'September 10, 2021',
 'April 24, 2019',
 'February 19, 2021',
 'December 25, 2019',
 'September 2, 2021',
 ' March 31, 2018',
 'October 7, 2017',
 'December 15, 2019',
 'April 19, 2019',
 'September 24, 2019',
 'July 14, 2021',
 'September 14, 2019',
 'September 12, 2018',
 'May 2, 2017',
 'August 26, 2017',
 'July 14, 2015',
 'January 12, 2020',
 'June 14, 2019',
 'August 21, 2021',
 'August 2, 2018',
 'July 2, 2021',
 'October 26, 2019',
 'March 2, 2017',
 'August 6, 2019',
 'June 13, 2021',
 'May 30, 2018',
 'July 6, 2021',
 'August 3, 2021',
 'February 13, 2019',
 'May 28, 2021',
 'December 19, 2019',
 ' February 24, 2018',
 'December 28, 2020',
 'December 4, 2019',
 'June 1, 2015',
 'May 12, 2018',
 'February 12, 2019',
 'October 11, 2019',
 'July 17, 2015',
 'March 27, 2018',
 'June 2, 2019',
 'August 28, 2021',
 'March 5, 2020',
 'April 24, 2018',
 ' December 3, 2019',
 'June 28, 2018',
 'November 18, 2020',
 'March 30, 2018',
 'December 30, 2020',
 '2013-05-03 00:00:00',
 'September 2, 2015',
 'August 31, 2021',
 'December 9, 2016',
 'December 16, 2017',
 'June 19, 2017',
 'May 1, 2018',
 'August 1, 2020',
 'April 23, 2020',
 'August 14, 2020',
 'August 27, 2020',
 'December 4, 2020',
 'October 20, 2017',
 'October 25, 2020',
 'March 31, 2017',
 'November 4, 2020',
 'June 20, 2016',
 'April 21, 2021',
 'August 2, 2013',
 'April 5, 2018',
 'May 10, 2017',
 'December 25, 2018',
 'June 21, 2017',
 'December 23, 2016',
 'November 26, 2020',
 'November 22, 2018',
 'November 20, 2018',
 'September 27, 2020',
 'February 2, 2021',
 'June 15, 2021',
 'March 11, 2021',
 'October 12, 2018',
 'April 30, 2020',
 'December 27, 2019',
 'July 21, 2016',
 'October 16, 2015',
 'June 4, 2018',
 'October 28, 2018',
 'January 29, 2020',
 'May 3, 2019',
 'May 25, 2021',
 'October 8, 2020',
 'July 27, 2021',
 'September 14, 2020',
 'April 12, 2021',
 'May 4, 2018',
 'May 18, 2017',
 'June 27, 2020',
 'May 5, 2017',
 'September 22, 2018',
 'March 13, 2020',
 'August 18, 2021',
 'February 15, 2020',
 'April 1, 2014',
 'November 2, 2020',
 'June 12, 2019',
 'February 26, 2019',
 'April 25, 2019',
 'August 14, 2019',
 'February 3, 2021',
 'February 13, 2021',
 'July 30, 2018',
 'June 8, 2020',
 'June 24, 2018',
 'April 27, 2020',
 'July 13, 2018',
 'April 12, 2017',
 'September 15, 2019',
 'March 3, 2021',
 'August 1, 2021',
 'April 9, 2021',
 'February 7, 2019',
 'May 20, 2021',
 'July 20, 2018',
 ' September 8, 2015',
 'January 22, 2020',
 'April 9, 2018',
 'January 27, 2017',
 'June 17, 2017',
 'December 23, 2017',
 'January 18, 2018',
 'June 24, 2020',
 'December 9, 2019',
 'August 15, 2019',
 'October 30, 2018',
 'September 27, 2019',
 'August 9, 2019',
 'May 9, 2021',
 'January 31, 2017',
 'September 3, 2018',
 'May 16, 2019',
 'July 3, 2019',
 'February 9, 2018',
 'August 28, 2020',
 'February 8, 2017',
 'November 22, 2020',
 'June 8, 2017',
 'April 5, 2020',
 ' March 16, 2016',
 'April 14, 2017',
 'May 7, 2020',
 'July 22, 2018',
 'July 22, 2020',
 'August 5, 2018',
 'June 17, 2021',
 ' May 18, 2017',
 'April 15, 2019',
 'April 22, 2020',
 'November 19, 2020',
 'August 15, 2021',
 'March 8, 2017',
 'August 4, 2017',
 'August 29, 2017',
 'January 8, 2016',
 'March 9, 2021',
 'June 22, 2020',
 'December 31, 2016',
 'January 24, 2020',
 'October 19, 2020',
 'December 19, 2020',
 'August 26, 2016',
 'March 23, 2017',
 'October 2, 2020',
 'August 20, 2019',
 'October 24, 2019',
 'July 19, 2020',
 'April 22, 2017',
 'February 24, 2016',
 'October 28, 2016',
 'September 19, 2018',
 'September 17, 2018',
 'November 15, 2020',
 'March 1, 2021',
 'June 18, 2020',
 'December 24, 2019',
 'July 9, 2021',
 'November 16, 2017',
 'January 23, 2020',
 'June 16, 2017',
 'September 15, 2015',
 'February 5, 2019',
 'December 8, 2017',
 'August 13, 2020',
 'April 10, 2019',
 'November 25, 2019',
 'June 5, 2019',
 'October 2, 2017',
 'June 1, 2017',
 'June 18, 2019',
 'September 20, 2020',
 'August 1, 2018',
 'September 4, 2017',
 'February 27, 2015',
 'April 30, 2021',
 'October 25, 2017',
 'September 21, 2018',
 'May 18, 2019',
 'April 14, 2019',
 'April 18, 2018',
 'August 22, 2017',
 'November 18, 2017',
 'October 13, 2020',
 'March 31, 2013',
 'March 3, 2020',
 'April 3, 2018',
 'August 29, 2018',
 ' May 19, 2018',
 'May 14, 2017',
 'June 13, 2016',
 'July 21, 2020',
 'December 6, 2019',
 'December 1, 2020',
 'November 21, 2014',
 'November 29, 2019',
 ...}

In [62]:
l = data['date_added_netflix'].to_list()
print(type(l[7]))

<class 'str'>

In [67]:
movie_title = data.query("date_added_netflix == 'No Data'")
movie_title

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,...,languages,director_gender,distributor,imDbRating,imDbRatingVotes,rottenTomatoes,budget,gross,keywords,awards
3827,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,No Data,2003.0,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies",...,"Klingon, Hebrew, Spanish, French, Latin",NaN,NBC,8.2,83278.0,NaN,NaN,NaN,"radio broadcasting,sitcom,psychiatrist,radio,r...","Won 37 Primetime Emmys, 130 wins & 276 nominat..."
3836,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,No Data,2003.0,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",...,"English, Spanish, Italian, French, Dutch, Hebrew",NaN,NBC,8.9,972685.0,NaN,NaN,NaN,"friendship,friend,new york city,roommate,divorce","Top rated TV #46 | Won 6 Primetime Emmys, 77 w..."

In [70]:
movie_title = data.query("date_added_amazon == 'No Data'")
movie_title

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,...,languages,director_gender,distributor,imDbRating,imDbRatingVotes,rottenTomatoes,budget,gross,keywords,awards
68,Movie,Do the Right Thing,Spike Lee,"Danny Aiello, Ossie Davis, Ruby Dee, Richard E...",United States,"September 1, 2021",1989.0,R,120 min,"Classic Movies, Comedies, Dramas",...,"English, Italian, Spanish, Korean",male,Universal Pictures,7.9,101841.0,9.1/10,"$6,500,000 (estimated)","$37,295,445","pizzeria,bedford stuyvesant brooklyn new york ...","Nominated for 2 Oscars, 21 wins & 17 nominatio..."
97,Movie,The Golden Child,Michael Ritchie,"Eddie Murphy, J.L. Reate, Charles Dance, Charl...",United States,"September 1, 2021",1986.0,PG-13,94 min,"Action & Adventure, Comedies",...,English,male,Paramount Pictures,5.9,56320.0,4.2/10,"$25,000,000 (estimated)","$79,817,937","hare krishna,monastery,humanity,serpent,searcher","Awards, 2 nominations"
149,TV Show,Winx Club,Iginio Straffi,"Liza Jacqueline, Helena Evangeliou, Lisa Ortiz...",Italy,"August 15, 2021",2015.0,TV-Y7,2 Seasons,Kids' TV,...,"Italian, English",male,Rai 2,6.1,6945.0,NaN,NaN,NaN,"female protagonist,fashion,transformation,wing...","Awards, 6 wins & 5 nominations"
188,Movie,Catch Me If You Can,Steven Spielberg,"Leonardo DiCaprio, Tom Hanks, Christopher Walk...","United States, Canada","August 1, 2021",2002.0,PG-13,142 min,Dramas,...,"English, French",male,Netflix,8.1,955218.0,7.9/10,"$52,000,000 (estimated)","$352,114,312","impostor,con,deception,fraud,forgery","Top rated movie #176 | Nominated for 2 Oscars,..."
202,Movie,Seabiscuit,Gary Ross,"Tobey Maguire, Jeff Bridges, Chris Cooper, Eli...",United States,"August 1, 2021",2003.0,PG-13,141 min,"Dramas, Sports Movies",...,English,male,Universal Pictures,7.3,73125.0,7.1/10,"$87,000,000 (estimated)","$148,336,445","horse movie,horse sport,horse,horse racing,rac...","Nominated for 7 Oscars, 6 wins & 44 nomination..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8306,Movie,10 Things I Hate About You,Gil Junger,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",USA,0,1999.0,PG-13,97 min,"Comedy, Drama, Romance",...,"English, French",male,"('Disney+', 'Netflix')",7.3,337822.0,69%,"$30,000,000 (estimated)","$53,478,579","protective father,dating,shakespeare adaptatio...","Awards, 2 wins & 13 nominations"
8307,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, MaÃ¯wenn",NaN,0,2021.0,13+,96 min,Comedy,...,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8308,TV Show,Terrahawks,Desmond Saunders,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",UK,0,1983.0,ALL,3 Seasons,TV Shows,...,English,male,ITV,7.1,748.0,NaN,NaN,NaN,"timeframe 2020s,alien invasion sci fi,aunt nep...","Awards, 2 nominations"
8309,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,0,2021.0,16+,93 min,"Drama, Science Fiction, Suspense",...,NaN,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8312,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,0,2010.0,R,103 min,"Action, Drama, Suspense",...,NaN,male,Lionsgate,NaN,NaN,63%,NaN,NaN,NaN,NaN

In [89]:
s = set()
for  index, item in data['date_added_netflix'].iteritems():
        s.add((index, item))
        print(s)
        
        date_amzon = data['date_added_amazon'][index]
        if item == "No Data" and date_amzon == "No Data":
                data['date_added_netflix'].iloc[index] = 'Nan'
                data['date_added_amazon'].iloc[index] = 'Nan'
        if item == "No Data" and date_amzon != "No Data":
                data['date_added_netflix'].iloc[index] = 'January 1, 1000'
        if item != "No Data" and date_amzon == "No Data":
                data['date_added_amazon'].iloc[index] = 'January 1, 1000'

TypeError: set expected at most 1 argument, got 2

In [87]:
movie_title = data.query("date_added_amazon == 'January 1, 1000'")

movie_title[['date_added_netflix', 'date_added_amazon']]

     date_added_netflix date_added_amazon
68    September 1, 2021   January 1, 1000
97    September 1, 2021   January 1, 1000
149     August 15, 2021   January 1, 1000
188      August 1, 2021   January 1, 1000
202      August 1, 2021   January 1, 1000
...                 ...               ...
8306                  0   January 1, 1000
8307                  0   January 1, 1000
8308                  0   January 1, 1000
8309                  0   January 1, 1000
8312                  0   January 1, 1000

[2146 rows x 2 columns]

In [51]:

data["date_added_netflix"] = pd.to_datetime(data['date_added_netflix'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1000-01-01 00:00:00