In [67]:
import pandas as pd # data processing
import pandas_profiling as pp
import numpy as np # linear algebra
import json

In [122]:
data = pd.read_csv('final_dataset.csv')
data.dropna(subset=['imdb_id'], inplace=True)
data

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,...,languages,director_gender,distributor,imDbRating,imDbRatingVotes,rottenTomatoes,budget,gross,keywords,awards
5,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",USA,"September 24, 2021",2021.0,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",...,English,male,Netflix,7.7,110057.0,NaN,NaN,NaN,"island,vampire,community,secret,tv mini series","Nominated for 1 Primetime Emmy, 4 wins & 29 no..."
7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993.0,TV-MA,125 min,"Dramas, Independent Movies, International Movies",...,"Akan, English",male,NaN,7.0,704.0,8.2/10,"$1,000,000 (estimated)","$2,198,984","west indies,model,fashion,plantation,africa","Awards, 1 nomination"
8,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021.0,TV-14,9 Seasons,"British TV Shows, Reality TV",...,English,NaN,BBC One,8.6,10022.0,NaN,NaN,NaN,"baking competition,baking bread,baker,food tas...","Won 2 BAFTA Awards, 10 wins & 21 nominations t..."
9,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021.0,PG-13,104 min,"Comedies, Dramas",...,"English, Spanish",male,Netflix,6.3,12944.0,4.2/10,NaN,NaN,"bird,mother,father,home,starling","Awards, 1 win"
10,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,"Pino Maniaci, Silvana Saguto, Bartolomeo Parrino","UK, Italy","September 24, 2021",2021.0,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",...,"English, Italian",NaN,NaN,6.7,278.0,NaN,NaN,NaN,tv mini series,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18283,TV Show,Terrahawks,Desmond Saunders,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",UK,0,1983.0,ALL,3 Seasons,TV Shows,...,English,male,ITV,7.1,748.0,NaN,NaN,NaN,"timeframe 2020s,alien invasion sci fi,aunt nep...","Awards, 2 nominations"
18284,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,0,2021.0,16+,93 min,"Drama, Science Fiction, Suspense",...,NaN,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18287,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",UK,0,2008.0,R,90 min,Action,...,English,male,Netflix,5.8,17347.0,NaN,"$300,000 (estimated)","$463,377","nazi zombie,mercenary,ex soldier,bar,nazi",NaN
18288,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...","USA, Argentina",0,2021.0,TV-MA,1 Season,"Drama, Sports",...,"Spanish, Italian, English",NaN,Amazon Prime Video,7.1,1875.0,NaN,NaN,NaN,"football,male nudity,athlete,female nudity,futbol",NaN
18289,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,0,2010.0,R,103 min,"Action, Drama, Suspense",...,NaN,male,Lionsgate,NaN,NaN,63%,NaN,NaN,NaN,NaN

In [498]:
for i in data.columns:
    null_rate = data[i].isna().sum() / len(data) * 100 
    if null_rate > 0 :
        print("{} null rate: {}%".format(i,round(null_rate,2)))

director null rate: 15.91%
cast null rate: 0.23%
country null rate: 13.76%
rating null rate: 0.01%
languages null rate: 24.02%
director_gender null rate: 27.58%
distributor null rate: 26.18%
imDbRating null rate: 22.88%
imDbRatingVotes null rate: 22.88%
rottenTomatoes null rate: 62.58%
budget null rate: 78.98%
gross null rate: 68.45%
keywords null rate: 27.63%
awards null rate: 50.55%

In [684]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8313 entries, 5 to 18289
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                8313 non-null   object
 1   title               8313 non-null   object
 2   director            6990 non-null   object
 3   cast                8294 non-null   object
 4   country             7169 non-null   object
 5   date_added_netflix  8313 non-null   object
 6   release_year        8313 non-null   float64
 7   rating              8312 non-null   object
 8   duration            8313 non-null   object
 9   listed_in           8313 non-null   object
 10  description         8313 non-null   object
 11  netflix             8313 non-null   float64
 12  amazon              8313 non-null   float64
 13  date_added_amazon   8313 non-null   object
 14  imdb_id             8313 non-null   object
 15  languages           6316 non-null   object
 16  director_gender     6020 non-null   object
 17  distributor         6137 non-null   object
 18  imDbRating          6411 non-null   float64
 19  imDbRatingVotes     6411 non-null   float64
 20  rottenTomatoes      3111 non-null   object
 21  budget              1747 non-null   object
 22  gross               2623 non-null   object
 23  keywords            6016 non-null   object
 24  awards              4111 non-null   object
dtypes: float64(5), object(20)
memory usage: 1.6+ MB

# Award

In [69]:
data['awards']

5        Nominated for 1 Primetime Emmy, 4 wins & 29 no...
7                                     Awards, 1 nomination
8        Won 2 BAFTA Awards, 10 wins & 21 nominations t...
9                                            Awards, 1 win
10                                                     NaN
                               ...
18283                                Awards, 2 nominations
18284                                                  NaN
18287                                                  NaN
18288                                                  NaN
18289                                                  NaN
Name: awards, Length: 8313, dtype: object

In [686]:
data['awards'].dtype

dtype('O')

In [70]:
data['awards'] = data['awards'].astype("string")

In [504]:
data['awards'].replace(np.nan, 'No Data',inplace  = True)

In [71]:
awards = data['awards'].to_list()
len(awards)

8313

In [72]:
awards

['Nominated for 1 Primetime Emmy, 4 wins & 29 nominations total',
 'Awards, 1 nomination',
 'Won 2 BAFTA Awards, 10 wins & 21 nominations total',
 'Awards, 1 win',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 5 wins & 36 nominations',
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 7 wins',
 'Awards, 3 wins & 4 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Won 1 BAFTA Award, 16 wins & 60 nominations total',
 'Won 4 Primetime Emmys, 37 wins & 74 nominations total',
 <NA>,
 'Awards, 1 win',
 'Awards, 1 win & 3 nominations',
 'Top rated movie #206 | Won 3 Oscars, 15 wins & 20 nominations total',
 <NA>,
 'Awards, 1 win & 7 nominations',
 'Awards, 1 win & 7 nominations',
 'Won 1 Oscar, 18 wins & 23 nominations total',
 'Awards, 1 nomination',
 'Awards, 6 wins & 26 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 3 wins & 1 nomination',
 'Awards, 1 nomination',
 'Nominated for 1 Primetime Emmy, 2 wins & 20 nominations total',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win & 22 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 2 wins & 6 nominations',
 'Awards, 3 wins & 19 nominations',
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win',
 'Awards, 2 nominations',
 'Nominated for 1 Oscar, 16 wins & 54 nominations total',
 'Awards, 4 wins & 3 nominations',
 'Awards, 2 nominations',
 <NA>,
 'Awards, 1 win & 2 nominations',
 'Awards, 2 nominations',
 'Awards, 1 nomination',
 'Awards, 6 wins & 8 nominations',
 'Awards, 3 wins & 1 nomination',
 'Awards, 3 nominations',
 'Nominated for 2 Oscars, 3 wins & 11 nominations total',
 'Nominated for 3 Oscars, 1 win & 12 nominations total',
 'Won 1 Oscar, 20 wins & 101 nominations total',
 'Awards, 1 win & 2 nominations',
 'Awards, 4 wins & 8 nominations',
 'Nominated for 2 Oscars, 21 wins & 17 nominations total',
 <NA>,
 'Awards, 2 wins & 1 nomination',
 'Awards, 3 wins & 6 nominations',
 'Awards, 2 wins & 10 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 12 wins & 18 nominations',
 <NA>,
 'Nominated for 1 BAFTA Award, 4 nominations total',
 'Awards, 6 nominations',
 'Awards, 3 wins',
 'Awards, 6 nominations',
 'Awards, 4 wins & 13 nominations',
 'Nominated for 1 Primetime Emmy, 2 wins & 8 nominations total',
 'Awards, 3 wins & 19 nominations',
 'Nominated for 1 Oscar, 4 wins & 21 nominations total',
 'Awards, 2 nominations',
 'Awards, 3 nominations',
 'Top rated movie #81 | Won 2 BAFTA Awards, 12 wins & 12 nominations total',
 'Nominated for 1 Oscar, 7 nominations total',
 <NA>,
 'Awards, 1 win & 1 nomination',
 'Awards, 8 wins & 23 nominations',
 <NA>,
 'Awards, 2 nominations',
 'Nominated for 1 Oscar, 4 wins & 8 nominations total',
 'Awards, 2 nominations',
 'Won 1 Oscar, 4 wins & 12 nominations total',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Nominated for 3 Oscars, 2 wins & 17 nominations total',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 4 wins & 6 nominations',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win & 6 nominations',
 <NA>,
 'Awards, 2 wins & 8 nominations',
 'Awards, 2 nominations',
 'Awards, 17 wins & 45 nominations',
 'Awards, 4 nominations',
 'Awards, 5 wins & 4 nominations',
 'Awards, 4 wins & 7 nominations',
 'Awards, 34 wins & 27 nominations',
 <NA>,
 'Nominated for 1 Primetime Emmy, 4 wins & 9 nominations total',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Nominated for 1 Primetime Emmy, 9 wins & 83 nominations total',
 'Awards, 1 nomination',
 'Awards, 1 win & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 2 wins & 8 nominations',
 <NA>,
 'Awards, 9 wins & 7 nominations',
 <NA>,
 'Awards, 13 wins & 1 nomination',
 'Awards, 3 wins & 1 nomination',
 'Awards, 3 wins & 13 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Won 3 Oscars, 64 wins & 56 nominations total',
 <NA>,
 'Awards, 6 wins & 5 nominations',
 'Awards, 1 nomination',
 'Awards, 1 win & 1 nomination',
 'Nominated for 13 Primetime Emmys, 3 wins & 60 nominations total',
 'Awards, 20 wins & 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 7 wins & 20 nominations',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 4 wins & 5 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win & 17 nominations',
 'Awards, 32 wins & 55 nominations',
 'Awards, 3 wins & 8 nominations',
 'Awards, 2 wins & 3 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 1 win',
 'Awards, 1 nomination',
 'Awards, 3 wins & 3 nominations',
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Won 16 Primetime Emmys, 90 wins & 342 nominations total',
 'Awards, 1 nomination',
 <NA>,
 'Nominated for 1 Oscar, 5 nominations total',
 'Awards, 3 wins & 19 nominations',
 'Awards, 2 wins',
 'Top rated movie #176 | Nominated for 2 Oscars, 16 wins & 46 nominations total',
 'Awards, 2 wins & 4 nominations',
 'Awards, 2 wins & 1 nomination',
 'Awards, 3 wins & 8 nominations',
 'Awards, 2 wins & 3 nominations',
 'Top rated TV #108 | Won 3 Primetime Emmys, 17 wins & 103 nominations total',
 'Awards, 1 win & 3 nominations',
 'Top rated movie #13 | Won 4 Oscars, 157 wins & 220 nominations total',
 'Nominated for 3 Oscars, 28 wins & 59 nominations total',
 <NA>,
 'Awards, 2 wins & 5 nominations',
 'Awards, 1 win & 2 nominations',
 'Awards, 2 wins & 15 nominations',
 'Awards, 2 nominations',
 'Nominated for 7 Oscars, 6 wins & 44 nominations total',
 'Nominated for 1 Oscar, 4 wins & 9 nominations total',
 'Awards, 1 win & 11 nominations',
 'Awards, 8 wins & 29 nominations',
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 nomination',
 'Awards, 1 win & 7 nominations',
 'Awards, 7 wins & 15 nominations',
 'Awards, 2 wins',
 'Awards, 3 nominations',
 'Awards, 7 wins & 12 nominations',
 'Awards, 5 wins & 20 nominations',
 <NA>,
 'Awards, 3 nominations',
 'Awards, 2 wins',
 'Awards, 3 wins & 8 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Nominated for 1 Primetime Emmy, 29 wins & 94 nominations total',
 <NA>,
 'Awards, 1 win & 7 nominations',
 'Awards, 1 win',
 'Awards, 7 wins & 1 nomination',
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 win',
 'Won 2 Primetime Emmys, 80 wins & 237 nominations total',
 'Awards, 18 wins & 37 nominations',
 'Top rated movie #56 | Won 2 Oscars, 58 wins & 158 nominations total',
 'Awards, 1 win & 3 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win & 1 nomination',
 'Awards, 1 win',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 5 wins & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win & 2 nominations',
 'Awards, 3 wins & 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win & 1 nomination',
 'Awards, 1 win & 5 nominations',
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 win & 3 nominations',
 'Awards, 22 wins & 34 nominations',
 'Awards, 20 wins & 24 nominations',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win',
 'Awards, 5 wins & 12 nominations',
 'Awards, 4 wins & 7 nominations',
 'Awards, 1 win & 4 nominations',
 'Awards, 4 nominations',
 'Awards, 1 nomination',
 'Awards, 5 nominations',
 <NA>,
 'Awards, 1 win & 1 nomination',
 <NA>,
 <NA>,
 'Awards, 2 wins & 7 nominations',
 <NA>,
 'Awards, 1 win & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 5 wins & 2 nominations',
 'Awards, 1 win',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 7 wins & 16 nominations',
 'Awards, 4 nominations',
 'Awards, 5 nominations',
 'Nominated for 1 BAFTA Award, 2 nominations total',
 'Nominated for 2 BAFTA Awards, 8 wins & 13 nominations total',
 <NA>,
 <NA>,
 'Won 1 Primetime Emmy, 5 wins & 3 nominations total',
 'Awards, 28 wins & 66 nominations',
 'Awards, 2 wins & 4 nominations',
 'Won 4 Primetime Emmys, 53 wins & 150 nominations total',
 'Awards, 2 wins & 9 nominations',
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 3 wins & 10 nominations',
 'Awards, 8 wins & 6 nominations',
 'Awards, 9 wins & 17 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 4 wins & 11 nominations',
 'Awards, 2 nominations',
 <NA>,
 'Awards, 1 win',
 'Awards, 8 wins & 51 nominations',
 <NA>,
 <NA>,
 'Won 4 Primetime Emmys, 84 wins & 241 nominations total',
 'Awards, 2 wins & 1 nomination',
 <NA>,
 <NA>,
 'Awards, 34 wins & 105 nominations',
 <NA>,
 'Awards, 6 wins & 10 nominations',
 'Nominated for 2 Oscars, 7 wins & 13 nominations total',
 'Awards, 5 wins & 22 nominations',
 'Awards, 3 wins & 8 nominations',
 'Nominated for 1 Oscar, 18 wins & 31 nominations total',
 'Nominated for 3 Oscars, 37 wins & 65 nominations total',
 <NA>,
 'Awards, 2 wins & 11 nominations',
 'Awards, 3 wins & 3 nominations',
 'Awards, 1 win',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 'Won 3 Oscars, 32 wins & 47 nominations total',
 'Awards, 2 wins & 4 nominations',
 'Awards, 1 win & 3 nominations',
 <NA>,
 <NA>,
 'Awards, 5 nominations',
 'Awards, 4 wins & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 3 nominations',
 'Awards, 4 wins & 7 nominations',
 'Awards, 1 nomination',
 'Awards, 4 nominations',
 'Won 1 Oscar, 27 wins & 95 nominations total',
 'Nominated for 1 Oscar, 7 wins & 14 nominations total',
 'Awards, 4 wins & 4 nominations',
 'Awards, 8 wins & 9 nominations',
 'Awards, 4 nominations',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Nominated for 1 Oscar, 4 wins & 3 nominations total',
 'Awards, 3 nominations',
 'Awards, 1 win & 1 nomination',
 'Won 1 Oscar, 96 wins & 97 nominations total',
 'Awards, 1 win & 15 nominations',
 <NA>,
 'Awards, 1 win & 10 nominations',
 'Awards, 1 win',
 'Awards, 2 nominations',
 <NA>,
 'Won 1 Oscar, 7 wins & 2 nominations total',
 'Awards, 6 nominations',
 'Awards, 3 wins & 1 nomination',
 <NA>,
 <NA>,
 'Awards, 2 wins & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 3 wins & 9 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win & 3 nominations',
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win',
 <NA>,
 'Awards, 1 win & 17 nominations',
 'Nominated for 1 BAFTA Award, 9 wins & 15 nominations total',
 'Awards, 3 wins & 7 nominations',
 'Awards, 2 nominations',
 'Awards, 1 win & 2 nominations',
 'Won 6 Primetime Emmys, 86 wins & 208 nominations total',
 'Awards, 3 nominations',
 <NA>,
 'Top rated TV #185 | Won 4 Primetime Emmys, 41 wins & 142 nominations total',
 'Awards, 2 wins',
 'Top rated TV #222 | Won 9 Primetime Emmys, 115 wins & 164 nominations total',
 <NA>,
 'Top rated TV #17 | Won 1 Primetime Emmy, 10 wins & 6 nominations total',
 'Awards, 10 wins & 2 nominations',
 <NA>,
 'Awards, 3 wins & 6 nominations',
 'Awards, 1 nomination',
 'Awards, 1 win & 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win & 15 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 8 wins & 13 nominations',
 'Won 1 Oscar, 89 wins & 148 nominations total',
 'Awards, 4 wins & 8 nominations',
 <NA>,
 <NA>,
 'Awards, 5 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 3 wins & 5 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 2 wins & 3 nominations',
 'Awards, 2 wins & 3 nominations',
 <NA>,
 'Awards, 1 win',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 6 wins & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 2 nominations',
 'Awards, 6 wins & 16 nominations',
 'Awards, 2 wins & 10 nominations',
 <NA>,
 'Nominated for 1 BAFTA Award, 4 wins & 7 nominations total',
 <NA>,
 'Nominated for 1 BAFTA Award, 6 wins & 5 nominations total',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 win',
 'Awards, 7 nominations',
 'Awards, 1 win',
 'Awards, 19 wins & 3 nominations',
 <NA>,
 'Awards, 33 wins & 4 nominations',
 <NA>,
 'Awards, 6 nominations',
 'Awards, 1 win & 3 nominations',
 'Top rated TV #94 | Won 15 Primetime Emmys, 58 wins & 229 nominations total',
 <NA>,
 'Awards, 2 wins & 2 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win & 37 nominations',
 <NA>,
 'Nominated for 1 Oscar, 8 wins & 12 nominations total',
 'Awards, 2 wins & 7 nominations',
 'Top rated movie #174 | Won 4 Oscars, 67 wins & 86 nominations total',
 'Awards, 7 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win',
 <NA>,
 'Awards, 3 wins & 11 nominations',
 'Awards, 2 wins & 1 nomination',
 <NA>,
 'Awards, 5 wins & 10 nominations',
 <NA>,
 'Awards, 3 wins & 2 nominations',
 'Awards, 3 wins & 2 nominations',
 'Awards, 6 nominations',
 'Nominated for 2 Oscars, 4 wins & 11 nominations total',
 'Nominated for 1 Oscar, 1 win & 2 nominations total',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win & 6 nominations',
 'Won 3 Primetime Emmys, 10 wins & 14 nominations total',
 <NA>,
 'Awards, 1 win & 6 nominations',
 'Nominated for 12 Primetime Emmys, 4 wins & 54 nominations total',
 <NA>,
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 3 wins & 4 nominations',
 'Awards, 2 wins & 10 nominations',
 <NA>,
 <NA>,
 'Won 3 Primetime Emmys, 17 wins & 69 nominations total',
 <NA>,
 'Awards, 1 win & 4 nominations',
 'Awards, 5 wins & 10 nominations',
 'Awards, 1 nomination',
 <NA>,
 'Awards, 3 wins & 1 nomination',
 'Nominated for 4 Primetime Emmys, 3 wins & 6 nominations total',
 'Awards, 6 nominations',
 'Awards, 5 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 8 nominations',
 'Awards, 1 win & 1 nomination',
 'Awards, 3 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 11 nominations',
 'Won 13 Primetime Emmys, 19 wins & 16 nominations total',
 'Awards, 2 wins & 2 nominations',
 <NA>,
 <NA>,
 'Nominated for 1 BAFTA Award, 2 wins & 9 nominations total',
 <NA>,
 <NA>,
 'Nominated for 1 Primetime Emmy, 1 win & 6 nominations total',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 'Awards, 2 wins',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 wins & 5 nominations',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 14 nominations',
 'Awards, 1 nomination',
 'Awards, 1 win',
 'Awards, 7 wins & 5 nominations',
 'Nominated for 1 BAFTA Award, 1 win & 1 nomination total',
 <NA>,
 <NA>,
 'Awards, 7 nominations',
 'Awards, 6 nominations',
 'Top rated movie #233 | Awards, 1 nomination',
 'Awards, 1 nomination',
 'Won 2 Oscars, 56 wins & 144 nominations total',
 'Awards, 1 win',
 <NA>,
 'Awards, 6 wins & 6 nominations',
 'Awards, 2 wins & 4 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Nominated for 1 Oscar, 10 wins & 46 nominations total',
 'Awards, 1 win & 4 nominations',
 'Awards, 6 nominations',
 'Awards, 1 nomination',
 'Nominated for 2 Oscars, 3 wins & 3 nominations total',
 'Awards, 2 wins & 4 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Nominated for 1 Oscar, 46 wins & 58 nominations total',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Nominated for 2 Oscars, 16 wins & 66 nominations total',
 'Awards, 1 win & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win',
 'Awards, 3 wins & 3 nominations',
 'Awards, 1 win & 4 nominations',
 'Awards, 1 nomination',
 'Awards, 7 wins & 5 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win & 10 nominations',
 'Awards, 1 nomination',
 'Awards, 6 wins & 13 nominations',
 'Awards, 14 wins & 30 nominations',
 <NA>,
 'Awards, 4 wins & 14 nominations',
 'Top rated movie #123 | Awards, 26 wins & 19 nominations',
 'Awards, 7 wins & 3 nominations',
 'Awards, 4 nominations',
 'Awards, 6 wins & 42 nominations',
 <NA>,
 <NA>,
 'Awards, 2 wins & 1 nomination',
 'Top rated movie #218 | Won 1 BAFTA Award, 6 wins & 65 nominations total',
 <NA>,
 'Awards, 2 wins & 3 nominations',
 'Awards, 1 win & 1 nomination',
 'Won 1 Primetime Emmy, 23 wins & 85 nominations total',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 wins & 1 nomination',
 'Awards, 1 nomination',
 'Awards, 1 win',
 'Top rated TV #99 | Won 7 Primetime Emmys, 35 wins & 218 nominations total',
 <NA>,
 'Awards, 5 nominations',
 'Awards, 6 wins & 8 nominations',
 'Awards, 1 win & 7 nominations',
 <NA>,
 'Awards, 8 nominations',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Won 1 Primetime Emmy, 2 wins & 20 nominations total',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 5 wins & 4 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 4 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 5 wins & 21 nominations',
 'Top rated movie #87 | Awards, 63 wins & 28 nominations',
 'Awards, 5 nominations',
 'Awards, 8 wins & 15 nominations',
 'Awards, 2 nominations',
 'Awards, 6 wins & 14 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Won 8 Oscars, 25 wins & 13 nominations total',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 2 wins & 6 nominations',
 <NA>,
 'Awards, 2 nominations',
 'Top rated movie #33 | Won 3 Oscars, 57 wins & 74 nominations total',
 <NA>,
 <NA>,
 'Awards, 7 nominations',
 'Awards, 1 win',
 <NA>,
 'Awards, 3 wins & 9 nominations',
 'Nominated for 1 Oscar, 3 wins & 16 nominations total',
 <NA>,
 'Nominated for 1 Oscar, 13 wins & 36 nominations total',
 'Awards, 1 win & 8 nominations',
 'Awards, 1 nomination',
 'Nominated for 1 BAFTA Award, 4 wins & 14 nominations total',
 'Awards, 1 win & 2 nominations',
 'Awards, 8 wins & 13 nominations',
 <NA>,
 'Awards, 2 wins',
 <NA>,
 'Nominated for 4 Oscars, 33 wins & 86 nominations total',
 <NA>,
 <NA>,
 'Awards, 3 nominations',
 'Awards, 2 nominations',
 'Won 1 Primetime Emmy, 2 wins total',
 'Top rated TV #164 | Nominated for 1 BAFTA Award, 4 wins & 11 nominations total',
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win',
 <NA>,
 <NA>,
 'Awards, 4 wins & 19 nominations',
 'Awards, 7 nominations',
 'Awards, 7 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win',
 <NA>,
 'Awards, 2 wins & 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 wins & 3 nominations',
 <NA>,
 'Awards, 1 win',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 3 wins & 7 nominations',
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 2 nominations',
 <NA>,
 'Won 7 Oscars, 51 wins & 38 nominations total',
 <NA>,
 'Won 4 Oscars, 26 wins & 23 nominations total',
 'Awards, 2 nominations',
 'Awards, 1 nomination',
 'Nominated for 1 Oscar, 15 wins & 51 nominations total',
 'Awards, 5 wins & 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 13 wins & 8 nominations',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Awards, 1 win',
 'Awards, 1 win & 2 nominations',
 <NA>,
 'Awards, 2 wins & 4 nominations',
 'Awards, 5 wins & 11 nominations',
 <NA>,
 'Awards, 15 wins & 22 nominations',
 'Awards, 4 wins & 13 nominations',
 'Awards, 1 win & 2 nominations',
 'Awards, 5 wins & 16 nominations',
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 'Awards, 3 nominations',
 'Awards, 9 wins & 15 nominations',
 <NA>,
 'Awards, 4 nominations',
 'Awards, 1 win & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 7 wins & 9 nominations',
 'Awards, 1 win & 2 nominations',
 'Awards, 1 win',
 <NA>,
 <NA>,
 'Awards, 1 win & 4 nominations',
 <NA>,
 'Top rated TV #67 | Nominated for 3 Primetime Emmys, 7 wins & 16 nominations total',
 'Awards, 1 win',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Awards, 1 win & 3 nominations',
 <NA>,
 'Awards, 3 nominations',
 'Nominated for 1 Primetime Emmy, 1 win & 17 nominations total',
 <NA>,
 'Awards, 2 nominations',
 'Awards, 2 wins & 7 nominations',
 'Awards, 3 wins & 8 nominations',
 'Awards, 4 wins & 13 nominations',
 <NA>,
 'Awards, 4 wins & 6 nominations',
 'Awards, 2 nominations',
 'Nominated for 1 Primetime Emmy, 3 nominations total',
 'Awards, 1 nomination',
 'Won 1 BAFTA Award, 15 wins & 30 nominations total',
 'Top rated movie #147 | Awards, 11 wins & 66 nominations',
 'Awards, 3 nominations',
 <NA>,
 'Awards, 1 win',
 <NA>,
 'Nominated for 5 BAFTA Awards, 3 wins & 10 nominations total',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Nominated for 4 Primetime Emmys, 33 wins & 75 nominations total',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 3 wins & 5 nominations',
 'Awards, 3 nominations',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Awards, 1 nomination',

In [76]:
special_award_name = []
special_award_tot = []
special_award_stat = []
award_win_tot = []
award_nomination_tot = []

for x in awards:
    if not pd.isna(x):
        list = x.split(", ")
        
        k = list[0]

        special = []
        if '|' in k:
            l = k.split('|')
            special = l
        else:
            special.append(k)

        nameA =[]
        tot = []
        stat= []
        for item in special:     
            l = item.split()
            
            if 'for' in l:
                l.remove('for')

            if 'Top' not in l and len(l) > 1:
                stat.append(l[0])
                tot.append(int(l[1]))
                name = ' '.join(l[2:])
                name = name.removesuffix('s')
                nameA.append(name)
                
            elif 'Top' in l and len(l) > 1:
                tot.append(1)
                name = ' '.join(l[:3])
                nameA.append(name)
                stat.append('nn')
                
            else:
                if l[0] != 'Nominated' and l[0] != 'Won':
                    nameA.append(l[0])
                    tot.append(1)
                    stat.append('nn')

        stat = ', '.join(stat)
        nameA = ', '.join(nameA)
        special_award_name.append(nameA)
        if len(tot) > 1:
            special_award_tot.append(tot)
        else:
            special_award_tot.append(tot[0])
        special_award_stat.append(stat)

        w = list[1].split('&')
        win_tot = []
        nomination_tot = []
        
        for n in range(len(w)):
            if 'win' in  w[n]  and 'nominations' not in w[n]:
                nom = w[n].split()
                win_tot.append(int(nom[0]))
            if 'nomination' in w[n] and 'win' not in w[n]:
                win = w[n].split()
                nomination_tot.append(int(win[0]))

        if nomination_tot != []:
            award_nomination_tot.append(nomination_tot[0])
        else :
            award_nomination_tot.append('nn')

        if win_tot != []:
            award_win_tot.append(win_tot[0])
        else :
            award_win_tot.append('nn')
            
    else:
        special_award_name.append('nn')
        special_award_tot.append('nn')
        special_award_stat.append('nn')
        award_win_tot.append('nn')
        award_nomination_tot.append('nn')

In [77]:
len(special_award_name), len(special_award_tot), len(special_award_stat), len(award_win_tot), len(award_nomination_tot)

(8313, 8313, 8313, 8313, 8313)

In [78]:
dict = {'special_award_name': special_award_name, 'special_award_tot': special_award_tot, 'special_award_stat':special_award_stat, 'award_win_tot':award_win_tot, 'award_nomination_tot':award_nomination_tot}

df = pd.DataFrame(dict)
df.head(100)

,special_award_name,special_award_tot,special_award_stat,award_win_tot,award_nomination_tot
0,Primetime Emmy,1,Nominated,4,29
1,Awards,1,nn,nn,1
2,BAFTA Award,2,Won,10,21
3,Awards,1,nn,1,nn
4,nn,nn,nn,nn,nn
...,...,...,...,...,...
95,Awards,1,nn,nn,2
96,Oscar,1,Nominated,4,8
97,Awards,1,nn,nn,2
98,Oscar,1,Won,4,12
99,nn,nn,nn,nn,nn

In [80]:
df.replace( 'nn', np.nan, inplace=True)

In [81]:
df.dtypes

special_award_name       object
special_award_tot        object
special_award_stat       object
award_win_tot           float64
award_nomination_tot    float64
dtype: object

In [82]:
df.groupby(['special_award_name']).sum()

                              award_win_tot  award_nomination_tot
special_award_name
Awards                              10426.0               22128.0
BAFTA Award                           982.0                2034.0
Oscar                                5878.0               12901.0
Primetime Emmy                       2596.0                8274.0
Top rated TV, Awards                   92.0                 276.0
Top rated TV, BAFTA Award              51.0                 113.0
Top rated TV, Primetime Emmy         1789.0                4806.0
Top rated movie, Awards               161.0                 197.0
Top rated movie, BAFTA Award          139.0                 234.0
Top rated movie, Oscar               2067.0                2502.0

# Country

CountryInfo = https://pypi.org/project/countryinfo/#api-usage

form languages to country

In [83]:
from countryinfo import CountryInfo
from babel import Locale
import pycountry

In [84]:
data.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added_netflix',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'netflix', 'amazon', 'date_added_amazon', 'imdb_id', 'languages',
       'director_gender', 'distributor', 'imDbRating', 'imDbRatingVotes',
       'rottenTomatoes', 'budget', 'gross', 'keywords', 'awards'],
      dtype='object')

In [85]:
data.replace( 'None', np.nan, inplace=True)
d = data.query('country.isnull() & languages.notnull()')
d

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,...,languages,director_gender,distributor,imDbRating,imDbRatingVotes,rottenTomatoes,budget,gross,keywords,awards
692,TV Show,The Rational Life,Hsu Fu-chun,"Qin Lan, Dylan Wang, Li Zonghan, Bao Wenjing, ...",NaN,"June 18, 2021",2021.0,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",...,Chinese,NaN,NaN,8.1,498.0,NaN,NaN,NaN,NaN,"Awards, 1 nomination"
811,Movie,Super Monsters: Once Upon a Rhyme,Steve Ball,"Elyse Maloway, Vincent Tong, Andrea Libman, Al...",NaN,"June 2, 2021",2021.0,TV-Y,25 min,Children & Family Movies,...,English,NaN,NaN,5.8,39.0,NaN,NaN,NaN,"tv special,reenactment",<NA>
1180,TV Show,Alien TV,NaN,"Rob Tinkler, Julie Lemieux, John Cleland, Kyle...",NaN,"March 19, 2021",2021.0,TV-Y7,2 Seasons,"Kids' TV, TV Comedies",...,English,NaN,NaN,6.1,309.0,NaN,NaN,NaN,NaN,"Awards, 2 nominations"
3628,Movie,LÃ©a & I,Camille Shooshani,"LÃ©a Moret, Camille Shooshani",NaN,"August 2, 2019",2019.0,TV-MA,84 min,Documentaries,...,English,female,Netflix,6.5,218.0,NaN,NaN,NaN,travel,<NA>
4156,Movie,Alt-Right: Age of Rage,Adam Bhala Lough,"Daryle Lamont Jenkins, Richard Spencer",NaN,"January 28, 2019",2018.0,TV-MA,106 min,Documentaries,...,English,male,NaN,6.0,1081.0,NaN,NaN,NaN,"obese man,alt right,anti semitism,white suprem...","Awards, 4 nominations"
5045,Movie,Fred Armisen: Standup For Drummers,Lance Bangs,Fred Armisen,NaN,"February 6, 2018",2018.0,TV-PG,65 min,"Music & Musicals, Stand-Up Comedy",...,"English, Spanish",male,Netflix,5.8,1299.0,NaN,NaN,NaN,"tv special,stand up comedy",<NA>
5357,Movie,Maz Jobrani: Immigrant,Maz Jobrani,Maz Jobrani,NaN,"August 1, 2017",2017.0,TV-14,67 min,Stand-Up Comedy,...,English,male,Netflix,6.7,866.0,NaN,NaN,NaN,"stand up special,stand up comedy,tv special",<NA>
5475,Movie,Hasan Minhaj: Homecoming King,Christopher Storer,Hasan Minhaj,NaN,"May 23, 2017",2017.0,TV-MA,73 min,Stand-Up Comedy,...,English,NaN,Netflix,8.2,7278.0,NaN,NaN,NaN,"stand up special,bullying,racism,immigrant,sta...","Awards, 2 wins"
7284,TV Show,Lego Friends,Trylle Vilstrup,"Elisa Schnebelie, Raquel Christiana, Lucia Vec...",NaN,"February 1, 2019",2017.0,TV-G,3 Seasons,Kids' TV,...,English,female,NaN,5.0,157.0,NaN,NaN,NaN,"lego,based on toy,friendship,veterinarian,horse",<NA>
7286,Movie,LEGO House - Home of the Brick,"Anders Falck, Stinus Morell Vithner",Bjarke Ingels,NaN,"June 15, 2018",2018.0,TV-G,48 min,"Documentaries, International Movies",...,"English, Danish",NaN,Netflix,6.5,497.0,NaN,NaN,NaN,house,"Awards, 1 win"
8373,TV Show,The Kindness Diaries,NaN,Leon Logothetis,NaN,"May 1, 2019",2019.0,TV-PG,1 Season,Reality TV,...,English,NaN,Netflix,8.1,399.0,NaN,NaN,NaN,"travel reality tv,non fiction",<NA>

In [86]:
languages = d['languages'].to_list()
languages

['Chinese',
 'English',
 'English',
 'English',
 'English',
 'English, Spanish',
 'English',
 'English',
 'English',
 'English, Danish',
 'English']

In [87]:
len(languages)

11

In [16]:
data['country']

5                                                      USA
7        United States, Ghana, Burkina Faso, United Kin...
8                                           United Kingdom
9                                            United States
10                                               UK, Italy
                               ...
18283                                                   UK
18284                                                  NaN
18287                                                   UK
18288                                       USA, Argentina
18289                                                  NaN
Name: country, Length: 8313, dtype: object

In [15]:
condition = set(languages)
condition

{'Chinese', 'English', 'English, Danish', 'English, Spanish'}

In [88]:
country = []
for x in languages:
    if x == 'Chinese':
        country.append('Cina')
    elif x == 'English':
        country.append('United Kingdom')
    elif x == 'English, Danish':
        country.append('United Kingdom, Denmark')
    elif x == 'English, Spanish':
        country.append('United Kingdom, Spain')

country

['Cina',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom, Spain',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom, Denmark',
 'United Kingdom']

# Languages

from country to languages

In [111]:
dl = data.query('country.notnull() & languages.isnull()')
dl

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,...,languages,director_gender,distributor,imDbRating,imDbRatingVotes,rottenTomatoes,budget,gross,keywords,awards
24,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998.0,TV-14,166 min,"Comedies, International Movies, Romantic Movies",...,NaN,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Movie,In Too Deep,Michael Rymer,"Omar Epps, LL Cool J, Nia Long, Stanley Tucci,...",United States,"September 1, 2021",1999.0,R,97 min,Thrillers,...,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,Movie,Janoskians: Untold and Untrue,Brett Weiner,"Jai Brooks, Luke Brooks, James Yammouni, Danie...",United States,"September 1, 2021",2016.0,TV-MA,88 min,Comedies,...,NaN,NaN,Netflix,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Movie,The Interview,"Evan Goldberg, Seth Rogen","James Franco, Seth Rogen, Lizzy Caplan, Randal...",United States,"September 1, 2021",2014.0,R,112 min,"Action & Adventure, Comedies",...,NaN,male,Netflix,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Movie,The Nutty Professor,Tom Shadyac,"Eddie Murphy, Jada Pinkett Smith, James Coburn...",United States,"September 1, 2021",1996.0,PG-13,95 min,"Comedies, Romantic Movies",...,NaN,male,Paramount Pictures,NaN,NaN,84%,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17186,Movie,Giant Little Ones,Keith Behrman,"Josh Wiggins, Darren Mann, Taylor Hickson",Canada,0,2019.0,R,93 min,"Drama, Young Adult Audience",...,NaN,male,NaN,NaN,NaN,7.5/10,NaN,NaN,NaN,NaN
17462,Movie,Sunny,Ranjith Sankar,Jayasurya,India,0,2021.0,PG-13,93 min,"Drama, Suspense",...,NaN,male,CJ Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17504,Movie,Arthur & Merlin: Knights of Camelot,Giles Alderson,"Richard Brake, Richard Short, Olivia Bernstone",UK,0,2020.0,16+,91 min,Action,...,NaN,NaN,NaN,3.3,6016.0,NaN,NaN,"$48,504","camelot,medieval,excalibur,wizard,female nudity",NaN
17617,Movie,Zana,Antoneta Kastrati,"Adriana Matoshi, Astrit Kabashi, Fatmire Sahit...","Kosovo, Albania, United States, Georgia",0,2020.0,18+,96 min,Drama,...,NaN,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18226,Movie,Bride Wars,Gary Winick,"Kate Hudson, Anne Hathaway, Kristen Johnston, ...",United States,0,2009.0,PG,89 min,Comedy,...,NaN,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
countries = dl['country'].to_list()
len(countries)

865

In [113]:
countries

['India',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom, Canada, United States',
 'India',
 'United States',
 'United States',
 'United States',
 'Spain',
 'United States',
 'France',
 'United States',
 'USA',
 'United States',
 'Bulgaria, United States',
 'Poland',
 'New Zealand',
 'Saudi Arabia',
 'United States',
 'Thailand',
 'United States',
 'Indonesia',
 'Nigeria',
 'France, Netherlands, Singapore',
 'South Korea',
 'United States',
 'India',
 'United States, Germany',
 'United Kingdom, Belgium',
 'United Kingdom, Australia, United States',
 'United States',
 'United States, United Kingdom',
 'United States',
 'United States',
 'United States, France, Italy, United Kingdom',
 'Nigeria',
 'France',
 'United States',
 'United States',
 'Lebanon, Syria',
 'Philippines',
 'Germany',
 'Italy',
 'United States',
 'United States, India',
 'Lebanon, United Arab Emirates',
 'United Arab Emirates',
 'United States',
 'South Korea',
 'Brazil',
 'United States',
 'Nigeria',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'India',
 'United States',
 'India',
 'Austria',
 'United States',
 'India',
 'France, United States',
 'United States',
 'India',
 'United States',
 'United Kingdom, United States',
 'United States',
 'United Kingdom',
 'India',
 'India',
 'Canada, Nigeria, United States',
 'Mexico',
 'India',
 'Philippines',
 'United States',
 'Japan',
 'United States',
 'China',
 'United States',
 'South Korea',
 'India',
 'India',
 'India',
 'China',
 'United Kingdom, United States',
 'India',
 'United States',
 'Taiwan',
 'United States',
 'United Kingdom,',
 'India',
 'South Korea',
 'United States',
 'India, United Kingdom, France, Qatar',
 'United States, Thailand',
 'India',
 'United States, Colombia',
 'United States, Colombia',
 'India',
 'United Kingdom, United States',
 'India',
 'Indonesia',
 'United States',
 'United States',
 'Italy',
 'Spain',
 'United States',
 'Australia, United States',
 'Nigeria',
 'United States, Thailand',
 'United States',
 'Brazil',
 'United States',
 'Indonesia',
 'France',
 'India',
 'United States',
 'United States',
 'Taiwan',
 'United States',
 'United States, Canada',
 'France, Algeria',
 'Indonesia',
 'Indonesia',
 'United States',
 'United States, United Kingdom',
 'United States',
 'Indonesia',
 'United States',
 'Canada, United States',
 'Philippines',
 'Philippines',
 'India',
 'Hong Kong, United States',
 'Philippines',
 'United States',
 'South Korea',
 'Philippines',
 'Egypt',
 'Kenya',
 'United Kingdom, United States',
 'Philippines',
 'India',
 'Argentina',
 'United States, Canada',
 'United States',
 'Spain, Thailand, United States',
 'China, United States',
 'United States',
 'United Kingdom',
 'Lebanon, United Arab Emirates, France, Switzerland, Germany',
 'Lebanon',
 'Lebanon, United States, United Arab Emirates',
 'France, Norway, Lebanon, Belgium',
 'Lebanon, Canada, France',
 'United Kingdom',
 'Kenya',
 'United States, Russia',
 'India',
 'Turkey',
 'Nigeria',
 'South Africa',
 'Japan',
 'United States, Bulgaria',
 'United States',
 'India',
 'India',
 'Japan',
 'India',
 'India',
 'Indonesia',
 'United States',
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
 'United States',
 'India',
 'India',
 'South Korea',
 'United Kingdom',
 'Hong Kong, Iceland, United States',
 'United States',
 'Italy',
 'United States',
 'United States',
 'Egypt',
 'Nigeria',
 'Canada',
 'United States, Canada, United Kingdom',
 'United States',
 'United States',
 'United States',
 'Mozambique',
 'United States',
 'China',
 'China, Spain, South Korea, United States',
 'France, Belgium',
 'Nigeria',
 'South Africa',
 'Egypt',
 'United States',
 'Belgium',
 'Ghana',
 'Australia',
 'United States',
 'India',
 'France, Egypt',
 'Egypt, France',
 'Egypt',
 'Lebanon',
 'Egypt',
 'Argentina, Spain',
 'India',
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia',
 'Poland',
 'United States',
 'Egypt',
 'Egypt',
 'Egypt',
 'India',
 'South Korea',
 'United Kingdom, Germany, United Arab Emirates, New Zealand',
 'France, Egypt',
 'Egypt',
 'Kuwait',
 'South Korea',
 'Spain',
 'India',
 'United States',
 'United States',
 'United States',
 'India',
 'United States',
 'Brazil',
 'Nigeria',
 'India',
 'India',
 'Egypt',
 'Egypt',
 'India',
 'United States',
 'Uruguay, Argentina',
 'India',
 'United States',
 'India, United States',
 'India',
 'United States',
 'Netherlands, Germany, Denmark, United Kingdom',
 'United States',
 'United States',
 'India',
 'United States',
 'Turkey',
 'South Africa',
 'India',
 'South Africa',
 'Nigeria',
 'South Korea',
 'United States',
 'India',
 'United States',
 'India',
 'India',
 'Spain',
 'United States',
 'Japan',
 'Nigeria',
 'Taiwan, Malaysia',
 'United States',
 'United Kingdom, France, United States',
 'United States',
 'USA',
 'India',
 'Spain',
 'Mexico',
 'India',
 'India',
 'South Korea',
 'South Korea',
 'South Korea, Canada, United States, China',
 'Japan',
 'United States',
 'United States',
 'Nigeria',
 'Nigeria',
 'India',
 'Nigeria',
 'South Africa',
 'Nigeria',
 'India',
 'Romania, Bulgaria, Hungary',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'France',
 'United States',
 'United States',
 'South Korea',
 'India',
 'China, Hong Kong',
 'United States',
 'United States, Canada',
 'United States',
 'India',
 'United Kingdom, Hungary, Australia',
 'Turkey',
 'France, Belgium, Luxembourg, Romania, Canada, United States',
 'United States',
 'Spain',
 'United States',
 'United States',
 'India',
 'South Korea',
 'United States, Canada',
 'United States',
 'United States',
 'United States',
 'India',
 'South Korea',
 'South Korea',
 'United States',
 'Spain',
 'Philippines, Singapore',
 'Argentina',
 'United States',
 'Hong Kong',
 'Hong Kong',
 'France, United States',
 'South Korea',
 'India',
 'Thailand, China, United States',
 'Argentina, United States',
 'India',
 'India',
 'Germany',
 'Germany',
 'India',
 'United States',
 'United States',
 'United States',
 'China',
 'France',
 'Spain',
 'China',
 'South Korea',
 'United States',
 'India',
 'India',
 'United States',
 'Canada, Germany',
 'United States',
 'United States',
 'India',
 'Mexico, Finland',
 'Spain',
 'India',
 'United Arab Emirates, United Kingdom, India',
 'United States',
 'Philippines',
 'Philippines',
 'Japan',
 'India',
 'Canada',
 'India',
 'Brazil',
 'India',
 'India',
 'United Kingdom',
 'India',
 'Taiwan',
 'Mexico',
 'Pakistan',
 'Indonesia',
 'United States',
 'India',
 'Singapore',
 'India',
 'United States',
 'Hong Kong',
 'Australia',
 'Indonesia',
 'Indonesia',
 'United States',
 'France, Belgium',
 'India',
 'United States',
 'UK',
 'United States, Czech Republic',
 'United States',
 'United States',
 'South Korea',
 'United States',
 'United States, Bulgaria',
 'India',
 'India',
 'India',
 'India',
 'Indonesia',
 'United Kingdom, United States',
 'United States',
 'India',
 'India, Germany, Austria',
 'United States',
 'Australia',
 'United States',
 'Argentina, Spain',
 'India',
 'India',
 'United States',
 'Spain',
 'Brazil',
 'France, Luxembourg, United States',
 'China, United States, Australia',
 'United States',
 'India',
 'Israel',
 'Spain',
 'Australia',
 'United States',
 'United States',
 'United States',
 'United States',
 'China, Hong Kong',
 'India',
 'Spain',
 'United States',
 'Canada, United States',
 'Colombia',
 'United States',
 'United States',
 'Mexico, United States',
 'India',
 'Philippines, Qatar',
 'United States',
 'United States',
 'South Korea',
 'United Kingdom',
 'United States',
 'United Kingdom, Canada',
 'United States',
 'United States',
 'United States',
 'France',
 'Argentina',
 'Canada',
 'India',
 'India, Soviet Union',
 'India',
 'Spain',
 'Mexico',
 'Brazil',
 'United States',
 'India, Malaysia',
 'Turkey, France, Germany, Poland',
 'United States',
 'India, Soviet Union',
 'Argentina, Spain',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom, France, Belgium, United States',
 'Spain',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'United States',
 'India',
 'India',
 'United States',
 'Italy',
 'Nigeria',
 'United States',
 'India',
 'India',
 'Spain',
 'Argentina',
 'Spain',
 'United States',
 'Brazil',
 'United States',
 'United States',
 'Austria, Czech Republic',
 'France',
 'India',
 'United States',
 'United States',
 'France',
 'France',
 'New Zealand',
 'Chile, United States, France',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom, Egypt, United States',
 'United States',
 'United States',
 'United Kingdom',
 'India',
 'India',
 'Canada, United States',
 'United States, Chile',
 'India',
 'United States',
 'United States',
 'Brazil, Netherlands, United States, Colombia, Austria, Germany',
 'United States',
 'Egypt',
 'United States',
 'United States',
 'Bulgaria, United States, Spain, Canada',
 'United States',
 'India',
 'United States',
 'Pakistan',
 'United States',
 'United States, Canada',
 'India',
 'India',
 'United States, Australia',
 'United States',
 'United States, India',
 'India, Iran',
 'India',
 'Denmark',
 'India',
 'United States',
 'France',
 'India',
 'United States',
 'India',
 'United States',
 'India',
 'Australia',
 'Indonesia, Singapore',
 'United Kingdom, Pakistan',
 'United States',
 'India',
 'Ireland',
 'United States',
 'United Kingdom, Czech Republic, United States, Germany, Bahamas',
 'Norway',
 'United States',
 'India',
 'United States',
 'India',
 'Argentina',
 'Brazil, France, Germany',
 'United States',
 'India',
 'United Kingdom, Canada, Italy',
 'India',
 'United States, Germany',
 'United States',
 'India',
 'United States, United Kingdom, France',
 'United States',
 'United States',
 'Canada',
 'France, Belgium',
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
 'United States, Australia, Mexico',
 'United States',
 'Taiwan',
 'United States',
 'United States',
 'United States',
 'Canada, Spain, France',
 'Canada',
 'Italy',
 'Spain, France, Italy',
 'United States',
 'United States',
 'United States',
 'India',
 'Nigeria',
 'India',
 'United Kingdom',
 'United States',
 'United Arab Emirates, United States, United Kingdom',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'India',
 'Thailand, United States',
 'United States',
 'United Kingdom',
 'United States',
 'Egypt',
 'United States',
 'United States',
 'United States',
 'Mexico',
 'United States',
 'Hong Kong, China',
 'United States',
 'Pakistan',
 'India',
 'United States, Spain, Germany',
 'Argentina',
 'India, Japan',
 'United Kingdom',
 'United States',
 'China, Hong Kong',
 'United Kingdom, United States',
 'India',
 'Vietnam',
 'United States',
 'United Kingdom',
 'India',
 'India',
 'United States',
 'India',
 'United States',
 'France, Belgium, China, United States',
 'United States',
 'United Kingdom, Norway, Denmark, Germany, Sweden',
 'United States',
 'Mexico',
 'United States, Mexico',
 'United States, France',
 'Egypt',
 'United States, Greece, Brazil',
 'United States',
 'Mexico',
 'Egypt',
 'Hong Kong',
 'Hong Kong',
 'France',
 'Norway',
 'United States',
 'India',
 'South Korea',
 'Argentina',
 'Canada, United States',
 'United States',
 'United States',
 'United States',
 'Hong Kong',
 'Ireland',
 'United States',
 'United States',
 'United States',
 'India',
 'United States',
 'India',
 'United Kingdom',
 'United Kingdom, Thailand',
 'India',
 'United States',
 'United States',
 'India',
 'United States',
 'India, Switzerland',
 'Hong Kong',
 'United Kingdom',
 'India',
 'Canada',
 'Mexico',
 'India',
 'United States',
 'United Kingdom',
 'United States',
 'India',
 'Hong Kong',
 'India',
 'Thailand',
 'Indonesia',
 'United States',
 'Thailand, Canada, United States',
 'United States',
 'United States',
 'United States, France',
 'Jamaica, United States',
 'Canada',
 'Thailand',
 'United States',
 'United States',
 'United States',
 'India, France',
 'United States',
 'China, Hong Kong',
 'France',
 'United States',
 'Canada',
 'United States',
 'United States',
 'Nigeria',
 'Israel, Germany, Poland, Luxembourg, Belgium, France, United States',
 'Indonesia',
 'Australia',
 'Austria, United States',
 'Argentina, Chile',
 'Indonesia',
 'United States',
 'United States',
 'United Kingdom, China, United States, India',
 'United Kingdom',
 'United States',
 'United States, Sweden, Norway',
 'India',
 'Spain, Canada, United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States',
 'India',
 'United States',
 'France, Canada, Italy, United States, China',
 'Ireland',
 'United States',
 'United States, Czech Republic',
 'Egypt',
 'United States, Germany',
 'United Kingdom, Spain, Belgium',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'China',
 'Hong Kong, China',
 'United States',
 'India',
 'United States',
 'United Kingdom, Brazil, Germany',
 'United States',
 'United Kingdom',
 'India',
 'United Kingdom, Namibia, South Africa, Zimbabwe, United States',
 'United States',
 'United States',
 'United States',
 'Japan, United States',
 'Canada',
 'Canada, India',
 'United States',
 'India',
 'India',
 'United Kingdom',
 'United States, Argentina',
 'China',
 'Germany, United States, United Kingdom, Canada',
 'United States',
 'Hong Kong',
 'India',
 'United States',
 'India',
 'India',
 'USA',
 'United States',
 'United Kingdom',
 'United States',
 'Canada',
 'United States',
 'United Kingdom',
 'United States',
 'India',
 'United States',
 'India',
 'Canada',
 'United States',
 'India',
 'India',
 'UK',
 'United States',
 'South Korea',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'United States',
 'India',
 'India',
 'UK, USA, Sweden',
 'India',
 'United Kingdom',
 'Canada',
 'United States',
 'India',
 'Canada, United States',
 'Canada',
 'United States, France',
 'United States',
 'USA',
 'India',
 'United States',
 'India',
 'United States',
 'India',
 'India',
 'India',
 'United States',
 'United States',
 'India',
 'South Africa',
 'United States',
 'India',
 'United States',
 'India',
 'India',
 'India',
 'India',
 'India',
 'United States, Austria',
 'USA',
 'India',
 'India',
 'United States',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'United Kingdom',
 'United States',
 'United States',
 'India',
 'United States',
 'United States',
 'Afghanistan, France',
 'United States',
 'United States',
 'United States',
 'Australia, Colombia, United Kingdom',
 'Malta, Canada',
 'Kosovo, Netherlands',
 'United States',
 'Spain, United Kingdom, Italy',
 'India',
 'India',
 'United Kingdom, Spain',
 'Canada, United States',
 'India',
 'Canada',
 'Malaysia',
 'Poland, United States',
 'India',
 'India, Denmark',
 'India',
 'United States',
 'United States, United Kingdom',
 'United States',
 'India',
 'Canada',
 'India',
 'UK',
 'Kosovo, Albania, United States, Georgia',
 'United States']

In [ ]:
not_found = ['gn', 'nr', 'st', 'ss', 'tn', 'ts', 've']

In [117]:
lang = []
for x in countries:
    to_add = []
    l = x.split(', ')
    for i in range(len(l)):
        if l[i] == 'Soviet Union':
            to_add.append('Russian')
        elif l[i] == 'Bahamas':
            to_add.append('English')
        elif l[i] == 'Kosovo':
            to_add.append('Albanian, Serbian')
        elif l[i] == 'United Kingdom,':
            to_add.append('English')
        else:
            name = l[i]
            country = CountryInfo(name)
            data = country.languages()
            list = []
            for item in data:
                if item == 'gn':
                    list.append('Guarani')
                elif item == 'nr':
                    list.append('South Ndebele')
                elif item == 'st':
                    list.append('Sotho')
                elif item == 'ss':
                    list.append('Swati')
                elif item == 'tn':
                    list.append('Tswana')
                elif item == 'ts':
                    list.append('Tsonga')
                elif item == 've':
                    list.append('Venda')
                else:
                    language = Locale.parse(item)
                    language = language.get_language_name('en')
                    list.append(language)
            to_add.append(', '.join(list))
    lang.append(to_add)

In [118]:
lang

[['Hindi, English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English', 'English, French', 'English'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['English'],
 ['Spanish'],
 ['English'],
 ['French'],
 ['English'],
 ['English'],
 ['English'],
 ['Bulgarian', 'English'],
 ['Polish'],
 ['English, MÄori'],
 ['Arabic'],
 ['English'],
 ['Thai'],
 ['English'],
 ['Indonesian'],
 ['English'],
 ['French', 'Dutch', 'English, Malay, Tamil, Chinese'],
 ['Korean'],
 ['English'],
 ['Hindi, English'],
 ['English', 'German'],
 ['English', 'Dutch, French, German'],
 ['English', 'English', 'English'],
 ['English'],
 ['English', 'English'],
 ['English'],
 ['English'],
 ['English', 'French', 'Italian', 'English'],
 ['English'],
 ['French'],
 ['English'],
 ['English'],
 ['Arabic, French', 'Arabic'],
 ['English'],
 ['German'],
 ['Italian'],
 ['English'],
 ['English', 'Hindi, English'],
 ['Arabic, French', 'Arabic'],
 ['Arabic'],
 ['English'],
 ['Korean'],
 ['Portuguese'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['German'],
 ['English'],
 ['Hindi, English'],
 ['French', 'English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['English', 'English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English, French', 'English', 'English'],
 ['Spanish'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['Japanese'],
 ['English'],
 ['Chinese'],
 ['English'],
 ['Korean'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Chinese'],
 ['English', 'English'],
 ['Hindi, English'],
 ['English'],
 ['Chinese'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Korean'],
 ['English'],
 ['Hindi, English', 'English', 'French', 'Arabic'],
 ['English', 'Thai'],
 ['Hindi, English'],
 ['English', 'Spanish'],
 ['English', 'Spanish'],
 ['Hindi, English'],
 ['English', 'English'],
 ['Hindi, English'],
 ['Indonesian'],
 ['English'],
 ['English'],
 ['Italian'],
 ['Spanish'],
 ['English'],
 ['English', 'English'],
 ['English'],
 ['English', 'Thai'],
 ['English'],
 ['Portuguese'],
 ['English'],
 ['Indonesian'],
 ['French'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['Chinese'],
 ['English'],
 ['English', 'English, French'],
 ['French', 'Arabic'],
 ['Indonesian'],
 ['Indonesian'],
 ['English'],
 ['English', 'English'],
 ['English'],
 ['Indonesian'],
 ['English'],
 ['English, French', 'English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English, Chinese', 'English'],
 ['English'],
 ['English'],
 ['Korean'],
 ['English'],
 ['Arabic'],
 ['English, Swahili'],
 ['English', 'English'],
 ['English'],
 ['Hindi, English'],
 ['Spanish, Guarani'],
 ['English', 'English, French'],
 ['English'],
 ['Spanish', 'Thai', 'English'],
 ['Chinese', 'English'],
 ['English'],
 ['English'],
 ['Arabic, French', 'Arabic', 'French', 'German, French, Italian', 'German'],
 ['Arabic, French'],
 ['Arabic, French', 'English', 'Arabic'],
 ['French',
  'Norwegian, Norwegian BokmÃ¥l, Norwegian Nynorsk',
  'Arabic, French',
  'Dutch, French, German'],
 ['Arabic, French', 'English, French', 'French'],
 ['English'],
 ['English, Swahili'],
 ['English', 'Russian'],
 ['Hindi, English'],
 ['Turkish'],
 ['English'],
 ['Afrikaans, English, South Ndebele, Sotho, Swati, Tswana, Tsonga, Venda, Xhosa, Zulu'],
 ['Japanese'],
 ['English', 'Bulgarian'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Japanese'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Indonesian'],
 ['English'],
 ['English',
  'French',
  'English',
  'Dutch, French, German',
  'French, German, Luxembourgish',
  'Chinese',
  'German'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Korean'],
 ['English'],
 ['English, Chinese', 'Icelandic', 'English'],
 ['English'],
 ['Italian'],
 ['English'],
 ['English'],
 ['Arabic'],
 ['English'],
 ['English, French'],
 ['English', 'English, French', 'English'],
 ['English'],
 ['English'],
 ['English'],
 ['Portuguese'],
 ['English'],
 ['Chinese'],
 ['Chinese', 'Spanish', 'Korean', 'English'],
 ['French', 'Dutch, French, German'],
 ['English'],
 ['Afrikaans, English, South Ndebele, Sotho, Swati, Tswana, Tsonga, Venda, Xhosa, Zulu'],
 ['Arabic'],
 ['English'],
 ['Dutch, French, German'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['French', 'Arabic'],
 ['Arabic', 'French'],
 ['Arabic'],
 ['Arabic, French'],
 ['Arabic'],
 ['Spanish, Guarani', 'Spanish'],
 ['Hindi, English'],
 ['Arabic', 'Arabic', 'Arabic, French', 'Arabic'],
 ['Polish'],
 ['English'],
 ['Arabic'],
 ['Arabic'],
 ['Arabic'],
 ['Hindi, English'],
 ['Korean'],
 ['English', 'German', 'Arabic', 'English, MÄori'],
 ['French', 'Arabic'],
 ['Arabic'],
 ['Arabic'],
 ['Korean'],
 ['Spanish'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Portuguese'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Arabic'],
 ['Arabic'],
 ['Hindi, English'],
 ['English'],
 ['Spanish', 'Spanish, Guarani'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English', 'English'],
 ['Hindi, English'],
 ['English'],
 ['Dutch', 'German', 'Danish', 'English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Turkish'],
 ['Afrikaans, English, South Ndebele, Sotho, Swati, Tswana, Tsonga, Venda, Xhosa, Zulu'],
 ['Hindi, English'],
 ['Afrikaans, English, South Ndebele, Sotho, Swati, Tswana, Tsonga, Venda, Xhosa, Zulu'],
 ['English'],
 ['Korean'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Spanish'],
 ['English'],
 ['Japanese'],
 ['English'],
 ['Chinese', ''],
 ['English'],
 ['English', 'French', 'English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Spanish'],
 ['Spanish'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Korean'],
 ['Korean'],
 ['Korean', 'English, French', 'English', 'Chinese'],
 ['Japanese'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Afrikaans, English, South Ndebele, Sotho, Swati, Tswana, Tsonga, Venda, Xhosa, Zulu'],
 ['English'],
 ['Hindi, English'],
 ['Romanian', 'Bulgarian', 'Hungarian'],
 ['English'],
 ['English'],
 ['English'],
 ['French'],
 ['English'],
 ['English'],
 ['Korean'],
 ['Hindi, English'],
 ['Chinese', 'English, Chinese'],
 ['English'],
 ['English', 'English, French'],
 ['English'],
 ['Hindi, English'],
 ['English', 'Hungarian', 'English'],
 ['Turkish'],
 ['French',
  'Dutch, French, German',
  'French, German, Luxembourgish',
  'Romanian',
  'English, French',
  'English'],
 ['English'],
 ['Spanish'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Korean'],
 ['English', 'English, French'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Korean'],
 ['Korean'],
 ['English'],
 ['Spanish'],
 ['English', 'English, Malay, Tamil, Chinese'],
 ['Spanish, Guarani'],
 ['English'],
 ['English, Chinese'],
 ['English, Chinese'],
 ['French', 'English'],
 ['Korean'],
 ['Hindi, English'],
 ['Thai', 'Chinese', 'English'],
 ['Spanish, Guarani', 'English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['German'],
 ['German'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['English'],
 ['Chinese'],
 ['French'],
 ['Spanish'],
 ['Chinese'],
 ['Korean'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['English, French', 'German'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Spanish', 'Finnish, Swedish'],
 ['Spanish'],
 ['Hindi, English'],
 ['Arabic', 'English', 'Hindi, English'],
 ['English'],
 ['English'],
 ['English'],
 ['Japanese'],
 ['Hindi, English'],
 ['English, French'],
 ['Hindi, English'],
 ['Portuguese'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Chinese'],
 ['Spanish'],
 ['English, Urdu'],
 ['Indonesian'],
 ['English'],
 ['Hindi, English'],
 ['English, Malay, Tamil, Chinese'],
 ['Hindi, English'],
 ['English'],
 ['English, Chinese'],
 ['English'],
 ['Indonesian'],
 ['Indonesian'],
 ['English'],
 ['French', 'Dutch, French, German'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['English', 'Czech, Slovak'],
 ['English'],
 ['English'],
 ['Korean'],
 ['English'],
 ['English', 'Bulgarian'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Indonesian'],
 ['English', 'English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English', 'German', 'German'],
 ['English'],
 ['English'],
 ['English'],
 ['Spanish, Guarani', 'Spanish'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['Spanish'],
 ['Portuguese'],
 ['French', 'French, German, Luxembourgish', 'English'],
 ['Chinese', 'English', 'English'],
 ['English'],
 ['Hindi, English'],
 ['Hebrew, Arabic'],
 ['Spanish'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['Chinese', 'English, Chinese'],
 ['Hindi, English'],
 ['Spanish'],
 ['English'],
 ['English, French', 'English'],
 ['Spanish'],
 ['English'],
 ['English'],
 ['Spanish', 'English'],
 ['Hindi, English'],
 ['English', 'Arabic'],
 ['English'],
 ['English'],
 ['Korean'],
 ['English'],
 ['English'],
 ['English', 'English, French'],
 ['English'],
 ['English'],
 ['English'],
 ['French'],
 ['Spanish, Guarani'],
 ['English, French'],
 ['Hindi, English'],
 ['Hindi, English', 'Russian'],
 ['Hindi, English'],
 ['Spanish'],
 ['Spanish'],
 ['Portuguese'],
 ['English'],
 ['Hindi, English', ''],
 ['Turkish', 'French', 'German', 'Polish'],
 ['English'],
 ['Hindi, English', 'Russian'],
 ['Spanish, Guarani', 'Spanish'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English', 'French', 'Dutch, French, German', 'English'],
 ['Spanish'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['Italian'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Spanish'],
 ['Spanish, Guarani'],
 ['Spanish'],
 ['English'],
 ['Portuguese'],
 ['English'],
 ['English'],
 ['German', 'Czech, Slovak'],
 ['French'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['French'],
 ['French'],
 ['English, MÄori'],
 ['Spanish', 'English', 'French'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English', 'Arabic', 'English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English, French', 'English'],
 ['English', 'Spanish'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['Portuguese', 'Dutch', 'English', 'Spanish', 'German', 'German'],
 ['English'],
 ['Arabic'],
 ['English'],
 ['English'],
 ['Bulgarian', 'English', 'Spanish', 'English, French'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['English, Urdu'],
 ['English'],
 ['English', 'English, French'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English', 'English'],
 ['English'],
 ['English', 'Hindi, English'],
 ['Hindi, English', 'Persian'],
 ['Hindi, English'],
 ['Danish'],
 ['Hindi, English'],
 ['English'],
 ['French'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Indonesian', 'English, Malay, Tamil, Chinese'],
 ['English', 'English, Urdu'],
 ['English'],
 ['Hindi, English'],
 ['Irish, English'],
 ['English'],
 ['English', 'Czech, Slovak', 'English', 'German', 'English'],
 ['Norwegian, Norwegian BokmÃ¥l, Norwegian Nynorsk'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Spanish, Guarani'],
 ['Portuguese', 'French', 'German'],
 ['English'],
 ['Hindi, English'],
 ['English', 'English, French', 'Italian'],
 ['Hindi, English'],
 ['English', 'German'],
 ['English'],
 ['Hindi, English'],
 ['English', 'English', 'French'],
 ['English'],
 ['English'],
 ['English, French'],
 ['French', 'Dutch, French, German'],
 ['Danish',
  'French',
  'Dutch, French, German',
  'Italian',
  'Dutch',
  'English',
  'English'],
 ['English', 'English', 'Spanish'],
 ['English'],
 ['Chinese'],
 ['English'],
 ['English'],
 ['English'],
 ['English, French', 'Spanish', 'French'],
 ['English, French'],
 ['Italian'],
 ['Spanish', 'French', 'Italian'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['Arabic', 'English', 'English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Thai', 'English'],
 ['English'],
 ['English'],
 ['English'],
 ['Arabic'],
 ['English'],
 ['English'],
 ['English'],
 ['Spanish'],
 ['English'],
 ['English, Chinese', 'Chinese'],
 ['English'],
 ['English, Urdu'],
 ['Hindi, English'],
 ['English', 'Spanish', 'German'],
 ['Spanish, Guarani'],
 ['Hindi, English', 'Japanese'],
 ['English'],
 ['English'],
 ['Chinese', 'English, Chinese'],
 ['English', 'English'],
 ['Hindi, English'],
 ['Vietnamese'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['French', 'Dutch, French, German', 'Chinese', 'English'],
 ['English'],
 ['English',
  'Norwegian, Norwegian BokmÃ¥l, Norwegian Nynorsk',
  'Danish',
  'German',
  'Swedish'],
 ['English'],
 ['Spanish'],
 ['English', 'Spanish'],
 ['English', 'French'],
 ['Arabic'],
 ['English', 'Greek', 'Portuguese'],
 ['English'],
 ['Spanish'],
 ['Arabic'],
 ['English, Chinese'],
 ['English, Chinese'],
 ['French'],
 ['Norwegian, Norwegian BokmÃ¥l, Norwegian Nynorsk'],
 ['English'],
 ['Hindi, English'],
 ['Korean'],
 ['Spanish, Guarani'],
 ['English, French', 'English'],
 ['English'],
 ['English'],
 ['English'],
 ['English, Chinese'],
 ['Irish, English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['English', 'Thai'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English', 'German, French, Italian'],
 ['English, Chinese'],
 ['English'],
 ['Hindi, English'],
 ['English, French'],
 ['Spanish'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English, Chinese'],
 ['Hindi, English'],
 ['Thai'],
 ['Indonesian'],
 ['English'],
 ['Thai', 'English, French', 'English'],
 ['English'],
 ['English'],
 ['English', 'French'],
 ['English', 'English'],
 ['English, French'],
 ['Thai'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English', 'French'],
 ['English'],
 ['Chinese', 'English, Chinese'],
 ['French'],
 ['English'],
 ['English, French'],
 ['English'],
 ['English'],
 ['English'],
 ['Hebrew, Arabic',
  'German',
  'Polish',
  'French, German, Luxembourgish',
  'Dutch, French, German',
  'French',
  'English'],
 ['Indonesian'],
 ['English'],
 ['German', 'English'],
 ['Spanish, Guarani', 'Spanish'],
 ['Indonesian'],
 ['English'],
 ['English'],
 ['English', 'Chinese', 'English', 'Hindi, English'],
 ['English'],
 ['English'],
 ['English', 'Swedish', 'Norwegian, Norwegian BokmÃ¥l, Norwegian Nynorsk'],
 ['Hindi, English'],
 ['Spanish', 'English, French', 'English'],
 ['English, French'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['French', 'English, French', 'Italian', 'English', 'Chinese'],
 ['Irish, English'],
 ['English'],
 ['English', 'Czech, Slovak'],
 ['Arabic'],
 ['English', 'German'],
 ['English', 'Spanish', 'Dutch, French, German'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['Chinese'],
 ['English, Chinese', 'Chinese'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['English', 'Portuguese', 'German'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English',
  'English, Afrikaans',
  'Afrikaans, English, South Ndebele, Sotho, Swati, Tswana, Tsonga, Venda, Xhosa, Zulu',
  'English, Shona, North Ndebele',
  'English'],
 ['English'],
 ['English'],
 ['English'],
 ['Japanese', 'English'],
 ['English, French'],
 ['English, French', 'Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['English', 'Spanish, Guarani'],
 ['Chinese'],
 ['German', 'English', 'English', 'English, French'],
 ['English'],
 ['English, Chinese'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['English'],
 ['English'],
 ['English, French'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['English, French'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['Korean'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English', 'English', 'Swedish'],
 ['Hindi, English'],
 ['English'],
 ['English, French'],
 ['English'],
 ['Hindi, English'],
 ['English, French', 'English'],
 ['English, French'],
 ['English', 'French'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['Afrikaans, English, South Ndebele, Sotho, Swati, Tswana, Tsonga, Venda, Xhosa, Zulu'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English', 'German'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['English'],
 ['Hindi, English'],
 ['English'],
 ['English'],
 ['Pashto, Uzbek, Turkmen', 'French'],
 ['English'],
 ['English'],
 ['English'],
 ['English', 'Spanish', 'English'],
 ['Maltese, English', 'English, French'],
 ['Albanian, Serbian', 'Dutch'],
 ['English'],
 ['Spanish', 'English', 'Italian'],
 ['Hindi, English'],
 ['Hindi, English'],
 ['English', 'Spanish'],
 ['English, French', 'English'],
 ['Hindi, English'],
 ['English, French'],
 [''],
 ['Polish', 'English'],
 ['Hindi, English'],
 ['Hindi, English', 'Danish'],
 ['Hindi, English'],
 ['English'],
 ['English', 'English'],
 ['English'],
 ['Hindi, English'],
 ['English, French'],
 ['Hindi, English'],
 ['English'],
 ['Albanian, Serbian', 'Albanian', 'English', 'Georgian'],
 ['English']]

In [119]:
len(lang)

865

# Budget

In [152]:
import re

In [123]:
budget = data['budget']
len(budget)

8313

In [126]:
money  = set(budget.tolist())
money

{'$1,000,000 (estimated)',
 '$1,100,000 (estimated)',
 '$1,155,240 (estimated)',
 '$1,200,000 (estimated)',
 '$1,214,899 (estimated)',
 '$1,250,000 (estimated)',
 '$1,300,000 (estimated)',
 '$1,400,000 (estimated)',
 '$1,450,000 (estimated)',
 '$1,475,000 (estimated)',
 '$1,500,000 (estimated)',
 '$1,590,920 (estimated)',
 '$1,600,000 (estimated)',
 '$1,650,000 (estimated)',
 '$1,700,000 (estimated)',
 '$1,750,000 (estimated)',
 '$1,752,000 (estimated)',
 '$1,800,000 (estimated)',
 '$1,900,000 (estimated)',
 '$10,000,000 (estimated)',
 '$10,500,000 (estimated)',
 '$100 (estimated)',
 '$100,000 (estimated)',
 '$100,000,000 (estimated)',
 '$102,000,000 (estimated)',
 '$107,000,000 (estimated)',
 '$11,000,000 (estimated)',
 '$11,715,578 (estimated)',
 '$11,800,000 (estimated)',
 '$110,000,000 (estimated)',
 '$113,000,000 (estimated)',
 '$115,000,000 (estimated)',
 '$116,000,000 (estimated)',
 '$117,000,000 (estimated)',
 '$12,000,000 (estimated)',
 '$12,500,000 (estimated)',
 '$12,620,000 (estimated)',
 '$120,000 (estimated)',
 '$120,000,000 (estimated)',
 '$125,000,000 (estimated)',
 '$13,000,000 (estimated)',
 '$13,300,000 (estimated)',
 '$13,430,000 (estimated)',
 '$13,500,000 (estimated)',
 '$13,600,000 (estimated)',
 '$130,000,000 (estimated)',
 '$133,000,000 (estimated)',
 '$135,000,000 (estimated)',
 '$14,000,000 (estimated)',
 '$14,500,000 (estimated)',
 '$140,000,000 (estimated)',
 '$142,000,000 (estimated)',
 '$15,000 (estimated)',
 '$15,000,000 (estimated)',
 '$15,500,000 (estimated)',
 '$150,000 (estimated)',
 '$150,000,000 (estimated)',
 '$153,000 (estimated)',
 '$153,875 (estimated)',
 '$159,000,000 (estimated)',
 '$16,000,000 (estimated)',
 '$16,450,000 (estimated)',
 '$16,500,000 (estimated)',
 '$16,700,000 (estimated)',
 '$160,000,000 (estimated)',
 '$162,000,000 (estimated)',
 '$165,000,000 (estimated)',
 '$17,000,000 (estimated)',
 '$170,000,000 (estimated)',
 '$175,000 (estimated)',
 '$175,000,000 (estimated)',
 '$176,000,000 (estimated)',
 '$18,000,000 (estimated)',
 '$18,500,000 (estimated)',
 '$18,600,000 (estimated)',
 '$18,800,000 (estimated)',
 '$180,000,000 (estimated)',
 '$185,000,000 (estimated)',
 '$19,000,000 (estimated)',
 '$19,800,000 (estimated)',
 '$2,000,000 (estimated)',
 '$2,100,000 (estimated)',
 '$2,200,000 (estimated)',
 '$2,250,000 (estimated)',
 '$2,295,304 (estimated)',
 '$2,300,000 (estimated)',
 '$2,400,000 (estimated)',
 '$2,425,000 (estimated)',
 '$2,450,000 (estimated)',
 '$2,500,000 (estimated)',
 '$2,600,000 (estimated)',
 '$2,686,585 (estimated)',
 '$2,700,000 (estimated)',
 '$2,800,000 (estimated)',
 '$2,900,000 (estimated)',
 '$20,000 (estimated)',
 '$20,000,000 (estimated)',
 '$20,470,000 (estimated)',
 '$200,000 (estimated)',
 '$200,000,000 (estimated)',
 '$21,000,000 (estimated)',
 '$21,150,000 (estimated)',
 '$21,800,000 (estimated)',
 '$210,000 (estimated)',
 '$22,000,000 (estimated)',
 '$22,500,000 (estimated)',
 '$220,000 (estimated)',
 '$225,000 (estimated)',
 '$23,000,000 (estimated)',
 '$23,600,000 (estimated)',
 '$24,000,000 (estimated)',
 '$240,000 (estimated)',
 '$25,000 (estimated)',
 '$25,000,000 (estimated)',
 '$250,000 (estimated)',
 '$258,000,000 (estimated)',
 '$26,000,000 (estimated)',
 '$267,000 (estimated)',
 '$27,000,000 (estimated)',
 '$27,100,000 (estimated)',
 '$27,220,000 (estimated)',
 '$275,000,000 (estimated)',
 '$28,000,000 (estimated)',
 '$29,000,000 (estimated)',
 '$3,000,000 (estimated)',
 '$3,100,000 (estimated)',
 '$3,200,000 (estimated)',
 '$3,300,000 (estimated)',
 '$3,500,000 (estimated)',
 '$3,700,000 (estimated)',
 '$30 (estimated)',
 '$30,000 (estimated)',
 '$30,000,000 (estimated)',
 '$30,200,000 (estimated)',
 '$30,250,000 (estimated)',
 '$300,000 (estimated)',
 '$31,000,000 (estimated)',
 '$32,000,000 (estimated)',
 '$321,000,000 (estimated)',
 '$33,000 (estimated)',
 '$33,000,000 (estimated)',
 '$34,000,000 (estimated)',
 '$34,200,000 (estimated)',
 '$35,000,000 (estimated)',
 '$350,000 (estimated)',
 '$36,000,000 (estimated)',
 '$37,000,000 (estimated)',
 '$37,665,000 (estimated)',
 '$38,000,000 (estimated)',
 '$38,600,000 (estimated)',
 '$39,000,000 (estimated)',
 '$39,200,000 (estimated)',
 '$4,000,000 (estimated)',
 '$4,200,000 (estimated)',
 '$4,400,000 (estimated)',
 '$4,500,000 (estimated)',
 '$4,520,000 (estimated)',
 '$4,600,000 (estimated)',
 '$4,770,000 (estimated)',
 '$4,800,000 (estimated)',
 '$4,999,278 (estimated)',
 '$40,000 (estimated)',
 '$40,000,000 (estimated)',
 '$40,607 (estimated)',
 '$400,000 (estimated)',
 '$41,300,000 (estimated)',
 '$417,000 (estimated)',
 '$42,000,000 (estimated)',
 '$420,000 (estimated)',
 '$425,000 (estimated)',
 '$428,800 (estimated)',
 '$43,000,000 (estimated)',
 '$44,000,000 (estimated)',
 '$45,000,000 (estimated)',
 '$450,000 (estimated)',
 '$464,770 (estimated)',
 '$470,000 (estimated)',
 '$475,000 (estimated)',
 '$48,000,000 (estimated)',
 '$49,000,000 (estimated)',
 '$5,000,000 (estimated)',
 '$5,250,000 (estimated)',
 '$5,300,000 (estimated)',
 '$5,400,000 (estimated)',
 '$5,500,000 (estimated)',
 '$5,600,000 (estimated)',
 '$5,740,000 (estimated)',
 '$5,900,000 (estimated)',
 '$50,000 (estimated)',
 '$50,000,000 (estimated)',
 '$500,000 (estimated)',
 '$511,383 (estimated)',
 '$52,000,000 (estimated)',
 '$520,000 (estimated)',
 '$53,000,000 (estimated)',
 '$54,000,000 (estimated)',
 '$55,000,000 (estimated)',
 '$550,000 (estimated)',
 '$6,000,000 (estimated)',
 '$6,200,000 (estimated)',
 '$6,300,000 (estimated)',
 '$6,420,000 (estimated)',
 '$6,500,000 (estimated)',
 '$6,600,000 (estimated)',
 '$60,000,000 (estimated)',
 '$60,795,000 (estimated)',
 '$600,000 (estimated)',
 '$61,000,000 (estimated)',
 '$62,000,000 (estimated)',
 '$63,000,000 (estimated)',
 '$630,000 (estimated)',
 '$64,000,000 (estimated)',
 '$65,000 (estimated)',
 '$65,000,000 (estimated)',
 '$650,000 (estimated)',
 '$656,000 (estimated)',
 '$66,000,000 (estimated)',
 '$68,000,000 (estimated)',
 '$69,000,000 (estimated)',
 '$7,000,000 (estimated)',
 '$7,200,000 (estimated)',
 '$7,217,600 (estimated)',
 '$7,400,000 (estimated)',
 '$7,500,000 (estimated)',
 '$7,850,000 (estimated)',
 '$70,000,000 (estimated)',
 '$700,000 (estimated)',
 '$72,500,000 (estimated)',
 '$73,000,000 (estimated)',
 '$730,000 (estimated)',
 '$738,733 (estimated)',
 '$75,000 (estimated)',
 '$75,000,000 (estimated)',
 '$750,000 (estimated)',
 '$78,000,000 (estimated)',
 '$79,000,000 (estimated)',
 '$8,000,000 (estimated)',
 '$8,247,000 (estimated)',
 '$8,300,000 (estimated)',
 '$8,500,000 (estimated)',
 '$8,620,000 (estimated)',
 '$80,000 (estimated)',
 '$80,000,000 (estimated)',
 '$800,000 (estimated)',
 '$82,000,000 (estimated)',
 '$82,500,000 (estimated)',
 '$83,000,000 (estimated)',
 '$85,000,000 (estimated)',
 '$850,000 (estimated)',
 '$859,000 (estimated)',
 '$87,000,000 (estimated)',
 '$88,000,000 (estimated)',
 '$9,000,000 (estimated)',
 '$9,400,000 (estimated)',
 '$9,500,000 (estimated)',
 '$9,900,000 (estimated)',
 '$90,000,000 (estimated)',
 '$900,000 (estimated)',
 '$92,000,000 (estimated)',
 '$94,000,000 (estimated)',
 '$95,000,000 (estimated)',
 '$950,000 (estimated)',
 '$960,000 (estimated)',
 '$984,000 (estimated)',
 'A$10,000,000 (estimated)',
 'A$11,000,000 (estimated)',
 'A$17,000,000 (estimated)',
 'A$2,600,000 (estimated)',
 'A$3,000,000 (estimated)',
 'A$3,200,000 (estimated)',
 'A$3,400,000 (estimated)',
 'A$5,000,000 (estimated)',
 'A$8,500,000 (estimated)',
 'A$850,000 (estimated)',
 'ARS 40 (estimated)',
 'CA$1,450,000 (estimated)',
 'CA$1,500,000 (estimated)',
 'CA$1,600,000 (estimated)',
 'CA$13,000,000 (estimated)',
 'CA$2,000 (estimated)',
 'CA$2,000,000 (estimated)',
 'CA$3,700,000 (estimated)',
 'CA$4,000,000 (estimated)',
 'CA$4,500,000 (estimated)',
 'CA$5,000,000 (estimated)',
 'CA$6,000,000 (estimated)',
 'CA$750,000 (estimated)',
 'CA$8,700,000 (estimated)',
 'CNÂ¥10,000,000 (estimated)',
 'CNÂ¥110,000,000 (estimated)',
 'CNÂ¥150,000,000 (estimated)',
 'CNÂ¥90,000,000 (estimated)',
 'CZK 80,000,000 (estimated)',
 'DKK 35,000,000 (estimated)',
 'DKK 55,000,000 (estimated)',
 'EGP 600,000 (estimated)',
 'HK$15,000,000 (estimated)',
 'HK$18,611,389 (estimated)',
 'HK$30,000,000 (estimated)',
 'HK$75,000,000 (estimated)',
 'HK$8,000,000 (estimated)',
 'HUF 700,000,000 (estimated)',
 'IDR 10,000 (estimated)',
 'IDR 10,000,000,000 (estimated)',
 'IDR 15,000,000,000 (estimated)',
 'MVR 400,000,000 (estimated)',
 'MX$12,000,000 (estimated)',
 'MX$8,500,000 (estimated)',
 'MYR 1,100,000 (estimated)',
 'MYR 1,200,000 (estimated)',
 'MYR 2 (estimated)',
 'MYR 6,000,000 (estimated)',
 'NGN 10,000,000 (estimated)',
 'NGN 20,000,000 (estimated)',
 'NGN 200,000,000 (estimated)',
 'NGN 40,000,000 (estimated)',
 'NGN 60,000,000 (estimated)',
 'NGN 62,000,000 (estimated)',
 'NGN 80,000,000 (estimated)',
 'NOK 80,000,000 (estimated)',
 'NT$50,000,000 (estimated)',
 'PKR 180,000,000 (estimated)',
 'RUR 640,000,000 (estimated)',
 'SEK 39,000,000 (estimated)',
 'SGD 100,000 (estimated)',
 'THB 300,000,000 (estimated)',
 'THB 60,000,000 (estimated)',
 'THB 65,000,000 (estimated)',
 'TRL 3,000,000 (estimated)',
 'ZAR 4,000,000 (estimated)',
 'ZAR 500,000 (estimated)',
 nan,
 'Â£1,000,000 (estimated)',
 'Â£1,200,000 (estimated)',
 'Â£1,500,000 (estimated)',
 'Â£13,000,000 (estimated)',
 'Â£135,000 (estimated)',
 'Â£2,000,000 (estimated)',
 'Â£2,300,000 (estimated)',
 'Â£20,000 (estimated)',
 'Â£250,000 (estimated)',
 'Â£260,000 (estimated)',
 'Â£3,000,000 (estimated)',
 'Â£3,750,000 (estimated)',
 'Â£4,000 (estimated)',
 'Â£4,000,000 (estimated)',
 'Â£45,000 (estimated)',
 'Â£5,500,000 (estimated)',
 'Â£500,000 (estimated)',
 'Â£6,400,000 (estimated)',
 'Â£600,000 (estimated)',
 'Â£7,000,000 (estimated)',
 'Â£8,000,000 (estimated)',
 'Â£9,800,000 (estimated)',
 'Â£960,000 (estimated)',
 'â‚©10,000,000,000 (estimated)',
 'â‚©15,500,000,000 (estimated)',
 'â‚©19,000,000,000 (estimated)',
 'â‚©250,000,000 (estimated)',
 'â‚ª3,850,000 (estimated)',
 'â‚¬1,000 (estimated)',
 'â‚¬1,055,000 (estimated)',
 'â‚¬1,200,000 (estimated)',
 'â‚¬1,220,000 (estimated)',
 'â‚¬1,300,000 (estimated)',
 'â‚¬1,400,000 (estimated)',
 'â‚¬1,500,000 (estimated)',
 'â‚¬1,700,000 (estimated)',
 'â‚¬10,000,000 (estimated)',
 'â‚¬10,500,000 (estimated)',
 'â‚¬13,000,000 (estimated)',
 'â‚¬15,000,000 (estimated)',
 'â‚¬17,123,930 (estimated)',
 'â‚¬18,000,000 (estimated)',
 'â‚¬2,000,000 (estimated)',
 'â‚¬2,300,000 (estimated)',
 'â‚¬2,322,000 (estimated)',
 'â‚¬2,440,000 (estimated)',
 'â‚¬2,500,000 (estimated)',
 'â‚¬2,600,000 (estimated)',
 'â‚¬2,710,388 (estimated)',
 'â‚¬2,800,000 (estimated)',
 'â‚¬2,900,000 (estimated)',
 'â‚¬2,956,960 (estimated)',
 'â‚¬21,000,000 (estimated)',
 'â‚¬26,600,000 (estimated)',
 'â‚¬28,000,000 (estimated)',
 'â‚¬3,000,000 (estimated)',
 'â‚¬3,500,000 (estimated)',
 'â‚¬3,501,774 (estimated)',
 'â‚¬3,550,000 (estimated)',
 'â‚¬3,750,000 (estimated)',
 'â‚¬3,800,000 (estimated)',
 'â‚¬300,000 (estimated)',
 'â‚¬350,000 (estimated)',
 'â‚¬4,000,000 (estimated)',
 'â‚¬4,500,000 (estimated)',
 'â‚¬400,000 (estimated)',
 'â‚¬5,000,000 (estimated)',
 'â‚¬5,134,248 (estimated)',
 'â‚¬5,200,000 (estimated)',
 'â‚¬5,300,000 (estimated)',
 'â‚¬5,555,559 (estimated)',
 'â‚¬6,000,000 (estimated)',
 'â‚¬6,350,000 (estimated)',
 'â‚¬6,500,000 (estimated)',
 'â‚¬6,700,000 (estimated)',
 'â‚¬69,420 (estimated)',
 'â‚¬7,000,000 (estimated)',
 'â‚¬7,031,914 (estimated)',
 'â‚¬7,300,000 (estimated)',
 'â‚¬7,500,000 (estimated)',
 'â‚¬78,000,000 (estimated)',
 'â‚¬8,999,123 (estimated)',
 'â‚¬9,500,000 (estimated)',
 'â‚¹1,000,000,000 (estimated)',
 'â‚¹1,100,567,636 (estimated)',
 'â‚¹1,200,000,000 (estimated)',
 'â‚¹1,250,000,000 (estimated)',
 'â‚¹1,500,000,000 (estimated)',
 'â‚¹1,550,000,000 (estimated)',
 'â‚¹1,800,000,000 (estimated)',
 'â‚¹10,000,000 (estimated)',
 'â‚¹100 (estimated)',
 'â‚¹100,000,000 (estimated)',
 'â‚¹12,000,000 (estimated)',
 'â‚¹120,000,000 (estimated)',
 'â‚¹130,000,000 (estimated)',
 'â‚¹140,000,000 (estimated)',
 'â‚¹15,000,000 (estimated)',
 'â‚¹150,000,000 (estimated)',
 'â‚¹16,000,000 (estimated)',
 'â‚¹160,000,000 (estimated)',
 'â‚¹170,000,000 (estimated)',
 'â‚¹180,000,000 (estimated)',
 'â‚¹2,000,000 (estimated)',
 'â‚¹2,500,000 (estimated)',
 'â‚¹20,000,000 (estimated)',
 'â‚¹200,000,000 (estimated)',
 'â‚¹220,000,000 (estimated)',
 'â‚¹240,000,000 (estimated)',
 'â‚¹25,000,000 (estimated)',
 'â‚¹250,000,000 (estimated)',
 'â‚¹27,000,000 (estimated)',
 'â‚¹280,000,000 (estimated)',
 'â‚¹29,000,000 (estimated)',
 'â‚¹290,000,000 (estimated)',
 'â‚¹3,000,000 (estimated)',
 'â‚¹3,500,000 (estimated)',
 'â‚¹3,500,000,000 (estimated)',
 'â‚¹30,000,000 (estimated)',
 'â‚¹30,500,000 (estimated)',
 'â‚¹300,000,000 (estimated)',
 'â‚¹320,000,000 (estimated)',
 'â‚¹370,000,000 (estimated)',
 'â‚¹380,000,000 (estimated)',
 'â‚¹40,000,000 (estimated)',
 'â‚¹400,000,000 (estimated)',
 'â‚¹45,000,000 (estimated)',
 'â‚¹450,000,000 (estimated)',
 'â‚¹5,000,000 (estimated)',
 'â‚¹50,000,000 (estimated)',
 'â‚¹500,000,000 (estimated)',
 'â‚¹55,000,000 (estimated)',
 'â‚¹550,000,000 (estimated)',
 'â‚¹6,000,000 (estimated)',
 'â‚¹60,000,000 (estimated)',
 'â‚¹600,000,000 (estimated)',
 'â‚¹7,500,000 (estimated)',
 'â‚¹70,000,000 (estimated)',
 'â‚¹700,000,000 (estimated)',
 'â‚¹750,000,000 (estimated)',
 'â‚¹80,000,000 (estimated)',
 'â‚¹800,000,000 (estimated)',
 'â‚¹81,500,000 (estimated)',
 'â‚¹85,000,000 (estimated)',
 'â‚¹9,000,000 (estimated)',
 'â‚¹90,000,000 (estimated)',
 'â‚¹940,000,000 (estimated)',
 'â‚¹991,000 (estimated)'}

In [155]:
for x in money:
    if not pd.isna(x):
        x = x.split()
        if '(estimated)' in x:
            x.remove('(estimated)')
        if len(x) == 1:
            val = x[0].split(',')
            val = ''.join(val)
            currency = [s for s in re.findall(r"[^0-9.]", val)]
            currency = ''.join(currency)
            tot = val.strip(currency)
            x.remove(x[0])
            x.append(currency)
            x.append(int(tot))
        else:
            tot = x[1].split(',')
            tot = ''.join(tot)
            x.remove(x[1])
            x.append(int(tot))

        print(x)

['â‚¹', 750000000]
['$', 34200000]
['$', 1214899]
['$', 5500000]
['$', 107000000]
['â‚©', 250000000]
['â‚¹', 250000000]
['$', 185000000]
['â‚¬', 3750000]
['â‚¹', 1250000000]
['â‚¬', 10500000]
['$', 102000000]
['DKK', 55000000]
['$', 78000000]
['â‚¬', 7500000]
['$', 425000]
['$', 17000000]
['$', 1155240]
['$', 40000]
['â‚¹', 160000000]
['NGN', 80000000]
['$', 33000]
['$', 2425000]
['$', 200000000]
['$', 6200000]
['â‚¬', 2500000]
['â‚¹', 80000000]
['$', 7400000]
['$', 32000000]
['$', 75000000]
['$', 7000000]
['$', 160000000]
['CA$', 1600000]
['â‚¹', 5000000]
['$', 4520000]
['$', 23600000]
['$', 28000000]
['â‚¬', 17123930]
['$', 18000000]
['$', 82500000]
['$', 16500000]
['DKK', 35000000]
['Â£', 500000]
['$', 30000]
['$', 5000000]
['â‚¬', 5300000]
['$', 859000]
['Â£', 45000]
['$', 738733]
['$', 250000]
['$', 100000]
['$', 428800]
['Â£', 1200000]
['$', 42000000]
['â‚¬', 2900000]
['$', 4000000]
['Â£', 5500000]
['â‚¹', 16000000]
['CNÂ¥', 90000000]
['$', 68000000]
['$', 65000000]
['A$', 11000000]
['$', 650000]
['$', 1450000]
['â‚¬', 26600000]
['$', 33000000]
['â‚¹', 6000000]
['$', 8620000]
['$', 21800000]
['â‚¹', 40000000]
['$', 13430000]
['CA$', 8700000]
['$', 1100000]
['$', 321000000]
['$', 25000000]
['$', 66000000]
['MYR', 1200000]
['$', 1800000]
['â‚¬', 3501774]
['$', 13300000]
['$', 85000000]
['â‚¹', 25000000]
['â‚¬', 5200000]
['$', 14000000]
['IDR', 10000]
['$', 41300000]
['Â£', 250000]
['$', 39200000]
['$', 2295304]
['$', 850000]
['$', 984000]
['$', 115000000]
['â‚¹', 300000000]
['$', 120000000]
['$', 1650000]
['$', 162000000]
['$', 38600000]
['$', 210000]
['$', 36000000]
['$', 20470000]
['â‚¬', 1500000]
['â‚¹', 55000000]
['$', 730000]
['$', 27000000]
['$', 31000000]
['â‚¹', 550000000]
['$', 1400000]
['$', 9500000]
['$', 630000]
['Â£', 1000000]
['CA$', 13000000]
['$', 60795000]
['IDR', 10000000000]
['â‚¬', 6500000]
['Â£', 4000]
['NGN', 20000000]
['$', 43000000]
['MX$', 8500000]
['$', 142000000]
['â‚¹', 500000000]
['$', 11715578]
['$', 5250000]
['A$', 3000000]
['$', 800000]
['â‚¬', 2440000]
['$', 133000000]
['â‚¬', 1700000]
['$', 87000000]
['$', 20000000]
['â‚¬', 400000]
['$', 44000000]
['â‚¬', 1400000]
['Â£', 3000000]
['$', 19800000]
['$', 15000]
['$', 2200000]
['$', 61000000]
['$', 2250000]
['$', 4400000]
['A$', 17000000]
['A$', 8500000]
['$', 18600000]
['$', 170000000]
['$', 100000000]
['$', 72500000]
['MYR', 6000000]
['â‚¹', 200000000]
['â‚¬', 18000000]
['$', 4600000]
['NGN', 40000000]
['$', 94000000]
['â‚¹', 220000000]
['$', 6500000]
['$', 175000]
['$', 550000]
['â‚¹', 20000000]
['â‚¬', 6700000]
['â‚¹', 100]
['THB', 300000000]
['â‚¹', 700000000]
['$', 13600000]
['â‚¹', 130000000]
['CA$', 3700000]
['$', 30000000]
['$', 37665000]
['$', 2450000]
['â‚¹', 120000000]
['Â£', 9800000]
['$', 75000]
['NGN', 62000000]
['$', 3100000]
['$', 2700000]
['HUF', 700000000]
['TRL', 3000000]
['$', 275000000]
['â‚¹', 60000000]
['â‚¹', 380000000]
['$', 30250000]
['$', 1700000]
['NGN', 60000000]
['$', 20000]
['Â£', 8000000]
['CA$', 4500000]
['â‚©', 15500000000]
['$', 4999278]
['$', 18800000]
['$', 5740000]
['EGP', 600000]
['$', 35000000]
['$', 3300000]
['â‚¹', 290000000]
['â‚¹', 1800000000]
['$', 13000000]
['$', 110000000]
['ZAR', 4000000]
['$', 130000000]
['$', 70000000]
['â‚¬', 350000]
['$', 88000000]
['â‚¹', 1500000000]
['â‚¬', 3550000]
['â‚¹', 280000000]
['$', 4500000]
['HK$', 15000000]
['$', 300000]
['â‚¹', 991000]
['$', 220000]
['Â£', 13000000]
['â‚¹', 240000000]
['$', 30]
['$', 92000000]
['$', 1300000]
['$', 10000000]
['$', 1600000]
['$', 50000]
['$', 21000000]
['â‚¹', 12000000]
['$', 400000]
['â‚¹', 320000000]
['$', 475000]
['â‚¬', 3000000]
['â‚¬', 3500000]
['â‚¬', 3800000]
['$', 54000000]
['â‚¹', 85000000]
['MX$', 12000000]
['â‚¬', 13000000]
['$', 176000000]
['$', 116000000]
['$', 48000000]
['â‚¬', 5555559]
['$', 450000]
['â‚¹', 2500000]
['â‚¬', 1300000]
['$', 80000]
['â‚¹', 180000000]
['$', 100]
['$', 2500000]
['$', 4770000]
['$', 16450000]
['$', 420000]
['Â£', 1500000]
['Â£', 2000000]
['â‚¬', 21000000]
['$', 1500000]
['â‚¬', 5134248]
['$', 1590920]
['$', 2686585]
['$', 26000000]
['$', 5300000]
['$', 2600000]
['$', 60000000]
['$', 5600000]
['A$', 3200000]
['â‚¹', 7500000]
['â‚¹', 1000000000]
['$', 29000000]
['â‚¬', 2322000]
['â‚¹', 940000000]
['$', 120000]
['$', 153000]
['CNÂ¥', 110000000]
['$', 22500000]
['$', 73000000]
['$', 65000]
['$', 3700000]
['Â£', 6400000]
['Â£', 260000]
['$', 19000000]
['$', 95000000]
['THB', 60000000]
['$', 16000000]
['$', 8500000]
['Â£', 135000]
['â‚¹', 50000000]
['$', 14500000]
['â‚¹', 140000000]
['SGD', 100000]
['$', 30200000]
['$', 470000]
['$', 5900000]
['â‚¬', 8999123]
['â‚¬', 69420]
['Â£', 2300000]
['$', 520000]
['$', 153875]
['Â£', 7000000]
['â‚¹', 29000000]
['$', 69000000]
['â‚¬', 5000000]
['HK$', 18611389]
['$', 80000000]
['$', 200000]
['$', 3200000]
['HK$', 30000000]
['â‚¬', 7300000]
['$', 600000]
['â‚¬', 1220000]
['$', 13500000]
['$', 267000]
['THB', 65000000]
['$', 135000000]
['â‚¬', 28000000]
['CA$', 5000000]
['â‚¹', 15000000]
['â‚¹', 800000000]
['$', 180000000]
['â‚¬', 7031914]
['$', 18500000]
['â‚¬', 1055000]
['A$', 2600000]
['MYR', 2]
['â‚¬', 15000000]
['$', 700000]
['$', 62000000]
['â‚¬', 2800000]
['$', 2000000]
['$', 21150000]
['ZAR', 500000]
['A$', 3400000]
['â‚¬', 2000000]
['$', 15500000]
['$', 12500000]
['â‚¹', 370000000]
['â‚¹', 400000000]
['CA$', 1450000]
['$', 55000000]
['CNÂ¥', 150000000]
['$', 7500000]
['$', 225000]
['$', 11000000]
['â‚¹', 10000000]
['$', 750000]
['$', 8000000]
['$', 25000]
['$', 350000]
['$', 1900000]
['$', 23000000]
['â‚¬', 4000000]
['$', 7200000]
['HK$', 8000000]
['$', 38000000]
['SEK', 39000000]
['â‚¬', 10000000]
['â‚¬', 7000000]
['â‚¹', 3500000]
['A$', 10000000]
['â‚¹', 45000000]
['Â£', 3750000]
['$', 113000000]
['HK$', 75000000]
['$', 2900000]
['â‚¹', 150000000]
['$', 500000]
['$', 2400000]
['$', 511383]
['$', 9900000]
['$', 40000000]
['$', 83000000]
['$', 45000000]
['CNÂ¥', 10000000]
['$', 64000000]
['$', 7850000]
['â‚¹', 70000000]
['$', 12000000]
['â‚¬', 4500000]
['$', 82000000]
['$', 140000000]
['NGN', 10000000]
['â‚¬', 2600000]
['$', 52000000]
['â‚¹', 30500000]
['$', 1000000]
['$', 79000000]
['$', 900000]
['$', 34000000]
['$', 5400000]
['$', 1475000]
['$', 11800000]
['$', 8300000]
['$', 4200000]
['$', 165000000]
['$', 4800000]
['$', 6000000]
['$', 240000]
['$', 960000]
['$', 50000000]
['$', 175000000]
['$', 15000000]
['â‚©', 19000000000]
['CA$', 2000000]
['$', 1750000]
['Â£', 4000000]
['â‚¹', 170000000]
['$', 24000000]
['NGN', 200000000]
['â‚¹', 450000000]
['PKR', 180000000]
['â‚¹', 600000000]
['$', 150000000]
['MYR', 1100000]
['A$', 5000000]
['â‚¬', 6000000]
['â‚¹', 27000000]
['$', 12620000]
['â‚¬', 2710388]
['$', 1200000]
['â‚¹', 9000000]
['$', 159000000]
['$', 49000000]
['Â£', 20000]
['ARS', 40]
['$', 258000000]
['â‚¬', 2956960]
['$', 950000]
['â‚¹', 2000000]
['$', 8247000]
['$', 10500000]
['$', 37000000]
['NOK', 80000000]
['$', 464770]
['$', 6420000]
['$', 1250000]
['â‚¬', 300000]
['â‚¹', 1100567636]
['$', 6600000]
['â‚¬', 2300000]
['CA$', 4000000]
['â‚ª', 3850000]
['CA$', 6000000]
['IDR', 15000000000]
['Â£', 960000]
['$', 53000000]
['â‚¹', 100000000]
['RUR', 640000000]
['$', 3500000]
['$', 16700000]
['CA$', 1500000]
['â‚¹', 3000000]
['â‚¬', 6350000]
['â‚¹', 90000000]
['â‚©', 10000000000]
['$', 9000000]
['â‚¬', 78000000]
['$', 6300000]
['$', 1752000]
['$', 9400000]
['$', 90000000]
['A$', 850000]
['â‚¬', 9500000]
['CA$', 2000]
['â‚¹', 1550000000]
['CZK', 80000000]
['â‚¬', 1000]
['$', 125000000]
['â‚¹', 1200000000]
['Â£', 600000]
['$', 117000000]
['$', 150000]
['$', 27220000]
['$', 39000000]
['$', 2100000]
['NT$', 50000000]
['CA$', 750000]
['$', 63000000]
['$', 22000000]
['â‚¹', 81500000]
['$', 2800000]
['$', 3000000]
['$', 27100000]
['â‚¬', 1200000]
['$', 656000]
['$', 2300000]
['â‚¹', 30000000]
['$', 7217600]
['â‚¹', 3500000000]
['$', 40607]
['MVR', 400000000]
['$', 417000]

('CA$', '1450000')

# Gross

# Keyword

# Duration