In [682]:
import pandas as pd # data processing
import pandas_profiling as pp
import numpy as np # linear algebra
import json

In [788]:
data = pd.read_csv('final_dataset.csv')
data.dropna(subset=['imdb_id'], inplace=True)
data

,type,title,director,cast,country,date_added_netflix,release_year,rating,duration,listed_in,...,languages,director_gender,distributor,imDbRating,imDbRatingVotes,rottenTomatoes,budget,gross,keywords,awards
5,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",USA,"September 24, 2021",2021.0,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",...,English,male,Netflix,7.7,110057.0,NaN,NaN,NaN,"island,vampire,community,secret,tv mini series","Nominated for 1 Primetime Emmy, 4 wins & 29 no..."
7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993.0,TV-MA,125 min,"Dramas, Independent Movies, International Movies",...,"Akan, English",male,NaN,7.0,704.0,8.2/10,"$1,000,000 (estimated)","$2,198,984","west indies,model,fashion,plantation,africa","Awards, 1 nomination"
8,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021.0,TV-14,9 Seasons,"British TV Shows, Reality TV",...,English,NaN,BBC One,8.6,10022.0,NaN,NaN,NaN,"baking competition,baking bread,baker,food tas...","Won 2 BAFTA Awards, 10 wins & 21 nominations t..."
9,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021.0,PG-13,104 min,"Comedies, Dramas",...,"English, Spanish",male,Netflix,6.3,12944.0,4.2/10,NaN,NaN,"bird,mother,father,home,starling","Awards, 1 win"
10,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,"Pino Maniaci, Silvana Saguto, Bartolomeo Parrino","UK, Italy","September 24, 2021",2021.0,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",...,"English, Italian",NaN,NaN,6.7,278.0,NaN,NaN,NaN,tv mini series,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18283,TV Show,Terrahawks,Desmond Saunders,"DENISE BRYER, WINDSOR DAVIES, JEREMY HITCHEN, ...",UK,0,1983.0,ALL,3 Seasons,TV Shows,...,English,male,ITV,7.1,748.0,NaN,NaN,NaN,"timeframe 2020s,alien invasion sci fi,aunt nep...","Awards, 2 nominations"
18284,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,0,2021.0,16+,93 min,"Drama, Science Fiction, Suspense",...,NaN,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18287,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",UK,0,2008.0,R,90 min,Action,...,English,male,Netflix,5.8,17347.0,NaN,"$300,000 (estimated)","$463,377","nazi zombie,mercenary,ex soldier,bar,nazi",NaN
18288,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...","USA, Argentina",0,2021.0,TV-MA,1 Season,"Drama, Sports",...,"Spanish, Italian, English",NaN,Amazon Prime Video,7.1,1875.0,NaN,NaN,NaN,"football,male nudity,athlete,female nudity,futbol",NaN
18289,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,0,2010.0,R,103 min,"Action, Drama, Suspense",...,NaN,male,Lionsgate,NaN,NaN,63%,NaN,NaN,NaN,NaN

In [498]:
for i in data.columns:
    null_rate = data[i].isna().sum() / len(data) * 100 
    if null_rate > 0 :
        print("{} null rate: {}%".format(i,round(null_rate,2)))

director null rate: 15.91%
cast null rate: 0.23%
country null rate: 13.76%
rating null rate: 0.01%
languages null rate: 24.02%
director_gender null rate: 27.58%
distributor null rate: 26.18%
imDbRating null rate: 22.88%
imDbRatingVotes null rate: 22.88%
rottenTomatoes null rate: 62.58%
budget null rate: 78.98%
gross null rate: 68.45%
keywords null rate: 27.63%
awards null rate: 50.55%

In [684]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8313 entries, 5 to 18289
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                8313 non-null   object
 1   title               8313 non-null   object
 2   director            6990 non-null   object
 3   cast                8294 non-null   object
 4   country             7169 non-null   object
 5   date_added_netflix  8313 non-null   object
 6   release_year        8313 non-null   float64
 7   rating              8312 non-null   object
 8   duration            8313 non-null   object
 9   listed_in           8313 non-null   object
 10  description         8313 non-null   object
 11  netflix             8313 non-null   float64
 12  amazon              8313 non-null   float64
 13  date_added_amazon   8313 non-null   object
 14  imdb_id             8313 non-null   object
 15  languages           6316 non-null   object
 16  director_gender     6020 non-null   object
 17  distributor         6137 non-null   object
 18  imDbRating          6411 non-null   float64
 19  imDbRatingVotes     6411 non-null   float64
 20  rottenTomatoes      3111 non-null   object
 21  budget              1747 non-null   object
 22  gross               2623 non-null   object
 23  keywords            6016 non-null   object
 24  awards              4111 non-null   object
dtypes: float64(5), object(20)
memory usage: 1.6+ MB

# Award

In [685]:
data['awards']

5        Nominated for 1 Primetime Emmy, 4 wins & 29 no...
7                                     Awards, 1 nomination
8        Won 2 BAFTA Awards, 10 wins & 21 nominations t...
9                                            Awards, 1 win
10                                                     NaN
                               ...
18283                                Awards, 2 nominations
18284                                                  NaN
18287                                                  NaN
18288                                                  NaN
18289                                                  NaN
Name: awards, Length: 8313, dtype: object

In [686]:
data['awards'].dtype

dtype('O')

In [687]:
data['awards'] = data['awards'].astype("string")

In [504]:
data['awards'].replace(np.nan, 'No Data',inplace  = True)

In [688]:
awards = data['awards'].to_list()
len(awards)

8313

In [689]:
awards

['Nominated for 1 Primetime Emmy, 4 wins & 29 nominations total',
 'Awards, 1 nomination',
 'Won 2 BAFTA Awards, 10 wins & 21 nominations total',
 'Awards, 1 win',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 5 wins & 36 nominations',
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 7 wins',
 'Awards, 3 wins & 4 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Won 1 BAFTA Award, 16 wins & 60 nominations total',
 'Won 4 Primetime Emmys, 37 wins & 74 nominations total',
 <NA>,
 'Awards, 1 win',
 'Awards, 1 win & 3 nominations',
 'Top rated movie #206 | Won 3 Oscars, 15 wins & 20 nominations total',
 <NA>,
 'Awards, 1 win & 7 nominations',
 'Awards, 1 win & 7 nominations',
 'Won 1 Oscar, 18 wins & 23 nominations total',
 'Awards, 1 nomination',
 'Awards, 6 wins & 26 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 3 wins & 1 nomination',
 'Awards, 1 nomination',
 'Nominated for 1 Primetime Emmy, 2 wins & 20 nominations total',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win & 22 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 2 wins & 6 nominations',
 'Awards, 3 wins & 19 nominations',
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win',
 'Awards, 2 nominations',
 'Nominated for 1 Oscar, 16 wins & 54 nominations total',
 'Awards, 4 wins & 3 nominations',
 'Awards, 2 nominations',
 <NA>,
 'Awards, 1 win & 2 nominations',
 'Awards, 2 nominations',
 'Awards, 1 nomination',
 'Awards, 6 wins & 8 nominations',
 'Awards, 3 wins & 1 nomination',
 'Awards, 3 nominations',
 'Nominated for 2 Oscars, 3 wins & 11 nominations total',
 'Nominated for 3 Oscars, 1 win & 12 nominations total',
 'Won 1 Oscar, 20 wins & 101 nominations total',
 'Awards, 1 win & 2 nominations',
 'Awards, 4 wins & 8 nominations',
 'Nominated for 2 Oscars, 21 wins & 17 nominations total',
 <NA>,
 'Awards, 2 wins & 1 nomination',
 'Awards, 3 wins & 6 nominations',
 'Awards, 2 wins & 10 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 12 wins & 18 nominations',
 <NA>,
 'Nominated for 1 BAFTA Award, 4 nominations total',
 'Awards, 6 nominations',
 'Awards, 3 wins',
 'Awards, 6 nominations',
 'Awards, 4 wins & 13 nominations',
 'Nominated for 1 Primetime Emmy, 2 wins & 8 nominations total',
 'Awards, 3 wins & 19 nominations',
 'Nominated for 1 Oscar, 4 wins & 21 nominations total',
 'Awards, 2 nominations',
 'Awards, 3 nominations',
 'Top rated movie #81 | Won 2 BAFTA Awards, 12 wins & 12 nominations total',
 'Nominated for 1 Oscar, 7 nominations total',
 <NA>,
 'Awards, 1 win & 1 nomination',
 'Awards, 8 wins & 23 nominations',
 <NA>,
 'Awards, 2 nominations',
 'Nominated for 1 Oscar, 4 wins & 8 nominations total',
 'Awards, 2 nominations',
 'Won 1 Oscar, 4 wins & 12 nominations total',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Nominated for 3 Oscars, 2 wins & 17 nominations total',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 4 wins & 6 nominations',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win & 6 nominations',
 <NA>,
 'Awards, 2 wins & 8 nominations',
 'Awards, 2 nominations',
 'Awards, 17 wins & 45 nominations',
 'Awards, 4 nominations',
 'Awards, 5 wins & 4 nominations',
 'Awards, 4 wins & 7 nominations',
 'Awards, 34 wins & 27 nominations',
 <NA>,
 'Nominated for 1 Primetime Emmy, 4 wins & 9 nominations total',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Nominated for 1 Primetime Emmy, 9 wins & 83 nominations total',
 'Awards, 1 nomination',
 'Awards, 1 win & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 2 wins & 8 nominations',
 <NA>,
 'Awards, 9 wins & 7 nominations',
 <NA>,
 'Awards, 13 wins & 1 nomination',
 'Awards, 3 wins & 1 nomination',
 'Awards, 3 wins & 13 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Won 3 Oscars, 64 wins & 56 nominations total',
 <NA>,
 'Awards, 6 wins & 5 nominations',
 'Awards, 1 nomination',
 'Awards, 1 win & 1 nomination',
 'Nominated for 13 Primetime Emmys, 3 wins & 60 nominations total',
 'Awards, 20 wins & 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 7 wins & 20 nominations',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 4 wins & 5 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win & 17 nominations',
 'Awards, 32 wins & 55 nominations',
 'Awards, 3 wins & 8 nominations',
 'Awards, 2 wins & 3 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 1 win',
 'Awards, 1 nomination',
 'Awards, 3 wins & 3 nominations',
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Won 16 Primetime Emmys, 90 wins & 342 nominations total',
 'Awards, 1 nomination',
 <NA>,
 'Nominated for 1 Oscar, 5 nominations total',
 'Awards, 3 wins & 19 nominations',
 'Awards, 2 wins',
 'Top rated movie #176 | Nominated for 2 Oscars, 16 wins & 46 nominations total',
 'Awards, 2 wins & 4 nominations',
 'Awards, 2 wins & 1 nomination',
 'Awards, 3 wins & 8 nominations',
 'Awards, 2 wins & 3 nominations',
 'Top rated TV #108 | Won 3 Primetime Emmys, 17 wins & 103 nominations total',
 'Awards, 1 win & 3 nominations',
 'Top rated movie #13 | Won 4 Oscars, 157 wins & 220 nominations total',
 'Nominated for 3 Oscars, 28 wins & 59 nominations total',
 <NA>,
 'Awards, 2 wins & 5 nominations',
 'Awards, 1 win & 2 nominations',
 'Awards, 2 wins & 15 nominations',
 'Awards, 2 nominations',
 'Nominated for 7 Oscars, 6 wins & 44 nominations total',
 'Nominated for 1 Oscar, 4 wins & 9 nominations total',
 'Awards, 1 win & 11 nominations',
 'Awards, 8 wins & 29 nominations',
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 nomination',
 'Awards, 1 win & 7 nominations',
 'Awards, 7 wins & 15 nominations',
 'Awards, 2 wins',
 'Awards, 3 nominations',
 'Awards, 7 wins & 12 nominations',
 'Awards, 5 wins & 20 nominations',
 <NA>,
 'Awards, 3 nominations',
 'Awards, 2 wins',
 'Awards, 3 wins & 8 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Nominated for 1 Primetime Emmy, 29 wins & 94 nominations total',
 <NA>,
 'Awards, 1 win & 7 nominations',
 'Awards, 1 win',
 'Awards, 7 wins & 1 nomination',
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 win',
 'Won 2 Primetime Emmys, 80 wins & 237 nominations total',
 'Awards, 18 wins & 37 nominations',
 'Top rated movie #56 | Won 2 Oscars, 58 wins & 158 nominations total',
 'Awards, 1 win & 3 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win & 1 nomination',
 'Awards, 1 win',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 5 wins & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win & 2 nominations',
 'Awards, 3 wins & 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win & 1 nomination',
 'Awards, 1 win & 5 nominations',
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 win & 3 nominations',
 'Awards, 22 wins & 34 nominations',
 'Awards, 20 wins & 24 nominations',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win',
 'Awards, 5 wins & 12 nominations',
 'Awards, 4 wins & 7 nominations',
 'Awards, 1 win & 4 nominations',
 'Awards, 4 nominations',
 'Awards, 1 nomination',
 'Awards, 5 nominations',
 <NA>,
 'Awards, 1 win & 1 nomination',
 <NA>,
 <NA>,
 'Awards, 2 wins & 7 nominations',
 <NA>,
 'Awards, 1 win & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 5 wins & 2 nominations',
 'Awards, 1 win',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 7 wins & 16 nominations',
 'Awards, 4 nominations',
 'Awards, 5 nominations',
 'Nominated for 1 BAFTA Award, 2 nominations total',
 'Nominated for 2 BAFTA Awards, 8 wins & 13 nominations total',
 <NA>,
 <NA>,
 'Won 1 Primetime Emmy, 5 wins & 3 nominations total',
 'Awards, 28 wins & 66 nominations',
 'Awards, 2 wins & 4 nominations',
 'Won 4 Primetime Emmys, 53 wins & 150 nominations total',
 'Awards, 2 wins & 9 nominations',
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 'Awards, 3 wins & 10 nominations',
 'Awards, 8 wins & 6 nominations',
 'Awards, 9 wins & 17 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 4 wins & 11 nominations',
 'Awards, 2 nominations',
 <NA>,
 'Awards, 1 win',
 'Awards, 8 wins & 51 nominations',
 <NA>,
 <NA>,
 'Won 4 Primetime Emmys, 84 wins & 241 nominations total',
 'Awards, 2 wins & 1 nomination',
 <NA>,
 <NA>,
 'Awards, 34 wins & 105 nominations',
 <NA>,
 'Awards, 6 wins & 10 nominations',
 'Nominated for 2 Oscars, 7 wins & 13 nominations total',
 'Awards, 5 wins & 22 nominations',
 'Awards, 3 wins & 8 nominations',
 'Nominated for 1 Oscar, 18 wins & 31 nominations total',
 'Nominated for 3 Oscars, 37 wins & 65 nominations total',
 <NA>,
 'Awards, 2 wins & 11 nominations',
 'Awards, 3 wins & 3 nominations',
 'Awards, 1 win',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 'Won 3 Oscars, 32 wins & 47 nominations total',
 'Awards, 2 wins & 4 nominations',
 'Awards, 1 win & 3 nominations',
 <NA>,
 <NA>,
 'Awards, 5 nominations',
 'Awards, 4 wins & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 3 nominations',
 'Awards, 4 wins & 7 nominations',
 'Awards, 1 nomination',
 'Awards, 4 nominations',
 'Won 1 Oscar, 27 wins & 95 nominations total',
 'Nominated for 1 Oscar, 7 wins & 14 nominations total',
 'Awards, 4 wins & 4 nominations',
 'Awards, 8 wins & 9 nominations',
 'Awards, 4 nominations',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Nominated for 1 Oscar, 4 wins & 3 nominations total',
 'Awards, 3 nominations',
 'Awards, 1 win & 1 nomination',
 'Won 1 Oscar, 96 wins & 97 nominations total',
 'Awards, 1 win & 15 nominations',
 <NA>,
 'Awards, 1 win & 10 nominations',
 'Awards, 1 win',
 'Awards, 2 nominations',
 <NA>,
 'Won 1 Oscar, 7 wins & 2 nominations total',
 'Awards, 6 nominations',
 'Awards, 3 wins & 1 nomination',
 <NA>,
 <NA>,
 'Awards, 2 wins & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 3 wins & 9 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win & 3 nominations',
 'Awards, 1 nomination',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win',
 <NA>,
 'Awards, 1 win & 17 nominations',
 'Nominated for 1 BAFTA Award, 9 wins & 15 nominations total',
 'Awards, 3 wins & 7 nominations',
 'Awards, 2 nominations',
 'Awards, 1 win & 2 nominations',
 'Won 6 Primetime Emmys, 86 wins & 208 nominations total',
 'Awards, 3 nominations',
 <NA>,
 'Top rated TV #185 | Won 4 Primetime Emmys, 41 wins & 142 nominations total',
 'Awards, 2 wins',
 'Top rated TV #222 | Won 9 Primetime Emmys, 115 wins & 164 nominations total',
 <NA>,
 'Top rated TV #17 | Won 1 Primetime Emmy, 10 wins & 6 nominations total',
 'Awards, 10 wins & 2 nominations',
 <NA>,
 'Awards, 3 wins & 6 nominations',
 'Awards, 1 nomination',
 'Awards, 1 win & 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win & 15 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 8 wins & 13 nominations',
 'Won 1 Oscar, 89 wins & 148 nominations total',
 'Awards, 4 wins & 8 nominations',
 <NA>,
 <NA>,
 'Awards, 5 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 3 wins & 5 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 2 wins & 3 nominations',
 'Awards, 2 wins & 3 nominations',
 <NA>,
 'Awards, 1 win',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 6 wins & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 2 nominations',
 'Awards, 6 wins & 16 nominations',
 'Awards, 2 wins & 10 nominations',
 <NA>,
 'Nominated for 1 BAFTA Award, 4 wins & 7 nominations total',
 <NA>,
 'Nominated for 1 BAFTA Award, 6 wins & 5 nominations total',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 win',
 'Awards, 7 nominations',
 'Awards, 1 win',
 'Awards, 19 wins & 3 nominations',
 <NA>,
 'Awards, 33 wins & 4 nominations',
 <NA>,
 'Awards, 6 nominations',
 'Awards, 1 win & 3 nominations',
 'Top rated TV #94 | Won 15 Primetime Emmys, 58 wins & 229 nominations total',
 <NA>,
 'Awards, 2 wins & 2 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 1 win & 37 nominations',
 <NA>,
 'Nominated for 1 Oscar, 8 wins & 12 nominations total',
 'Awards, 2 wins & 7 nominations',
 'Top rated movie #174 | Won 4 Oscars, 67 wins & 86 nominations total',
 'Awards, 7 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win',
 <NA>,
 'Awards, 3 wins & 11 nominations',
 'Awards, 2 wins & 1 nomination',
 <NA>,
 'Awards, 5 wins & 10 nominations',
 <NA>,
 'Awards, 3 wins & 2 nominations',
 'Awards, 3 wins & 2 nominations',
 'Awards, 6 nominations',
 'Nominated for 2 Oscars, 4 wins & 11 nominations total',
 'Nominated for 1 Oscar, 1 win & 2 nominations total',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win & 6 nominations',
 'Won 3 Primetime Emmys, 10 wins & 14 nominations total',
 <NA>,
 'Awards, 1 win & 6 nominations',
 'Nominated for 12 Primetime Emmys, 4 wins & 54 nominations total',
 <NA>,
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 3 wins & 4 nominations',
 'Awards, 2 wins & 10 nominations',
 <NA>,
 <NA>,
 'Won 3 Primetime Emmys, 17 wins & 69 nominations total',
 <NA>,
 'Awards, 1 win & 4 nominations',
 'Awards, 5 wins & 10 nominations',
 'Awards, 1 nomination',
 <NA>,
 'Awards, 3 wins & 1 nomination',
 'Nominated for 4 Primetime Emmys, 3 wins & 6 nominations total',
 'Awards, 6 nominations',
 'Awards, 5 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 8 nominations',
 'Awards, 1 win & 1 nomination',
 'Awards, 3 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 11 nominations',
 'Won 13 Primetime Emmys, 19 wins & 16 nominations total',
 'Awards, 2 wins & 2 nominations',
 <NA>,
 <NA>,
 'Nominated for 1 BAFTA Award, 2 wins & 9 nominations total',
 <NA>,
 <NA>,
 'Nominated for 1 Primetime Emmy, 1 win & 6 nominations total',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 'Awards, 2 wins',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 wins & 5 nominations',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 14 nominations',
 'Awards, 1 nomination',
 'Awards, 1 win',
 'Awards, 7 wins & 5 nominations',
 'Nominated for 1 BAFTA Award, 1 win & 1 nomination total',
 <NA>,
 <NA>,
 'Awards, 7 nominations',
 'Awards, 6 nominations',
 'Top rated movie #233 | Awards, 1 nomination',
 'Awards, 1 nomination',
 'Won 2 Oscars, 56 wins & 144 nominations total',
 'Awards, 1 win',
 <NA>,
 'Awards, 6 wins & 6 nominations',
 'Awards, 2 wins & 4 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Nominated for 1 Oscar, 10 wins & 46 nominations total',
 'Awards, 1 win & 4 nominations',
 'Awards, 6 nominations',
 'Awards, 1 nomination',
 'Nominated for 2 Oscars, 3 wins & 3 nominations total',
 'Awards, 2 wins & 4 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Nominated for 1 Oscar, 46 wins & 58 nominations total',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Nominated for 2 Oscars, 16 wins & 66 nominations total',
 'Awards, 1 win & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win',
 'Awards, 3 wins & 3 nominations',
 'Awards, 1 win & 4 nominations',
 'Awards, 1 nomination',
 'Awards, 7 wins & 5 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 win & 10 nominations',
 'Awards, 1 nomination',
 'Awards, 6 wins & 13 nominations',
 'Awards, 14 wins & 30 nominations',
 <NA>,
 'Awards, 4 wins & 14 nominations',
 'Top rated movie #123 | Awards, 26 wins & 19 nominations',
 'Awards, 7 wins & 3 nominations',
 'Awards, 4 nominations',
 'Awards, 6 wins & 42 nominations',
 <NA>,
 <NA>,
 'Awards, 2 wins & 1 nomination',
 'Top rated movie #218 | Won 1 BAFTA Award, 6 wins & 65 nominations total',
 <NA>,
 'Awards, 2 wins & 3 nominations',
 'Awards, 1 win & 1 nomination',
 'Won 1 Primetime Emmy, 23 wins & 85 nominations total',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 wins & 1 nomination',
 'Awards, 1 nomination',
 'Awards, 1 win',
 'Top rated TV #99 | Won 7 Primetime Emmys, 35 wins & 218 nominations total',
 <NA>,
 'Awards, 5 nominations',
 'Awards, 6 wins & 8 nominations',
 'Awards, 1 win & 7 nominations',
 <NA>,
 'Awards, 8 nominations',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Won 1 Primetime Emmy, 2 wins & 20 nominations total',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 5 wins & 4 nominations',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 4 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 5 wins & 21 nominations',
 'Top rated movie #87 | Awards, 63 wins & 28 nominations',
 'Awards, 5 nominations',
 'Awards, 8 wins & 15 nominations',
 'Awards, 2 nominations',
 'Awards, 6 wins & 14 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Won 8 Oscars, 25 wins & 13 nominations total',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 'Awards, 2 wins & 6 nominations',
 <NA>,
 'Awards, 2 nominations',
 'Top rated movie #33 | Won 3 Oscars, 57 wins & 74 nominations total',
 <NA>,
 <NA>,
 'Awards, 7 nominations',
 'Awards, 1 win',
 <NA>,
 'Awards, 3 wins & 9 nominations',
 'Nominated for 1 Oscar, 3 wins & 16 nominations total',
 <NA>,
 'Nominated for 1 Oscar, 13 wins & 36 nominations total',
 'Awards, 1 win & 8 nominations',
 'Awards, 1 nomination',
 'Nominated for 1 BAFTA Award, 4 wins & 14 nominations total',
 'Awards, 1 win & 2 nominations',
 'Awards, 8 wins & 13 nominations',
 <NA>,
 'Awards, 2 wins',
 <NA>,
 'Nominated for 4 Oscars, 33 wins & 86 nominations total',
 <NA>,
 <NA>,
 'Awards, 3 nominations',
 'Awards, 2 nominations',
 'Won 1 Primetime Emmy, 2 wins total',
 'Top rated TV #164 | Nominated for 1 BAFTA Award, 4 wins & 11 nominations total',
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win',
 <NA>,
 <NA>,
 'Awards, 4 wins & 19 nominations',
 'Awards, 7 nominations',
 'Awards, 7 nominations',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win',
 <NA>,
 'Awards, 2 wins & 1 nomination',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 2 wins & 3 nominations',
 <NA>,
 'Awards, 1 win',
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 'Awards, 1 nomination',
 'Awards, 3 wins & 7 nominations',
 <NA>,
 'Awards, 2 nominations',
 'Awards, 1 win & 4 nominations',
 <NA>,
 <NA>,
 'Awards, 1 win & 2 nominations',
 <NA>,
 'Won 7 Oscars, 51 wins & 38 nominations total',
 <NA>,
 'Won 4 Oscars, 26 wins & 23 nominations total',
 'Awards, 2 nominations',
 'Awards, 1 nomination',
 'Nominated for 1 Oscar, 15 wins & 51 nominations total',
 'Awards, 5 wins & 2 nominations',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 13 wins & 8 nominations',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Awards, 1 win',
 'Awards, 1 win & 2 nominations',
 <NA>,
 'Awards, 2 wins & 4 nominations',
 'Awards, 5 wins & 11 nominations',
 <NA>,
 'Awards, 15 wins & 22 nominations',
 'Awards, 4 wins & 13 nominations',
 'Awards, 1 win & 2 nominations',
 'Awards, 5 wins & 16 nominations',
 'Awards, 2 nominations',
 <NA>,
 <NA>,
 'Awards, 3 nominations',
 'Awards, 9 wins & 15 nominations',
 <NA>,
 'Awards, 4 nominations',
 'Awards, 1 win & 2 nominations',
 <NA>,
 <NA>,
 'Awards, 7 wins & 9 nominations',
 'Awards, 1 win & 2 nominations',
 'Awards, 1 win',
 <NA>,
 <NA>,
 'Awards, 1 win & 4 nominations',
 <NA>,
 'Top rated TV #67 | Nominated for 3 Primetime Emmys, 7 wins & 16 nominations total',
 'Awards, 1 win',
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Awards, 1 win & 3 nominations',
 <NA>,
 'Awards, 3 nominations',
 'Nominated for 1 Primetime Emmy, 1 win & 17 nominations total',
 <NA>,
 'Awards, 2 nominations',
 'Awards, 2 wins & 7 nominations',
 'Awards, 3 wins & 8 nominations',
 'Awards, 4 wins & 13 nominations',
 <NA>,
 'Awards, 4 wins & 6 nominations',
 'Awards, 2 nominations',
 'Nominated for 1 Primetime Emmy, 3 nominations total',
 'Awards, 1 nomination',
 'Won 1 BAFTA Award, 15 wins & 30 nominations total',
 'Top rated movie #147 | Awards, 11 wins & 66 nominations',
 'Awards, 3 nominations',
 <NA>,
 'Awards, 1 win',
 <NA>,
 'Nominated for 5 BAFTA Awards, 3 wins & 10 nominations total',
 <NA>,
 <NA>,
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Nominated for 4 Primetime Emmys, 33 wins & 75 nominations total',
 <NA>,
 <NA>,
 <NA>,
 'Awards, 3 wins & 5 nominations',
 'Awards, 3 nominations',
 'Awards, 1 nomination',
 <NA>,
 <NA>,
 'Awards, 1 nomination',

In [509]:
i = 0
for x in awards:
    if x == 'No Data':
        i += 1
print(i)

4202

In [742]:
special_award_name = []
special_award_tot = []
special_award_stat = []
award_win_tot = []
award_nomination_tot = []

for x in awards:
    if not pd.isna(x):
        list = x.split(", ")
        
        k = list[0]

        special = []
        if '|' in k:
            l = k.split('|')
            special = l
        else:
            special.append(k)

        nameA =[]
        tot = []
        stat= []
        for item in special:     
            l = item.split()
            
            if 'for' in l:
                l.remove('for')

            if 'Top' not in l and len(l) > 1:
                stat.append(l[0])
                tot.append(int(l[1]))
                name = ' '.join(l[2:])
                name = name.removesuffix('s')
                nameA.append(name)
                
            elif 'Top' in l and len(l) > 1:
                tot.append(1)
                name = ' '.join(l[:3])
                nameA.append(name)
                stat.append('nn')
                
            else:
                if l[0] != 'Nominated' and l[0] != 'Won':
                    nameA.append(l[0])
                    tot.append(1)
                    stat.append('nn')

        stat = ', '.join(stat)
        nameA = ', '.join(nameA)
        special_award_name.append(nameA)
        if len(tot) > 1:
            special_award_tot.append(tot)
        else:
            special_award_tot.append(tot[0])
        special_award_stat.append(stat)

        w = list[1].split('&')
        win_tot = []
        nomination_tot = []
        
        for n in range(len(w)):
            if 'win' in  w[n]  and 'nominations' not in w[n]:
                nom = w[n].split()
                win_tot.append(int(nom[0]))
            if 'nomination' in w[n] and 'win' not in w[n]:
                win = w[n].split()
                nomination_tot.append(int(win[0]))

        if nomination_tot != []:
            award_nomination_tot.append(nomination_tot[0])
        else :
            award_nomination_tot.append('nn')

        if win_tot != []:
            award_win_tot.append(win_tot[0])
        else :
            award_win_tot.append('nn')
            
    else:
        special_award_name.append('nn')
        special_award_tot.append('nn')
        special_award_stat.append('nn')
        award_win_tot.append('nn')
        award_nomination_tot.append('nn')

In [743]:
len(special_award_name), len(special_award_tot), len(special_award_stat), len(award_win_tot), len(award_nomination_tot)

(8313, 8313, 8313, 8313, 8313)

In [744]:
dict = {'special_award_name': special_award_name, 'special_award_tot': special_award_tot, 'special_award_stat':special_award_stat, 'award_win_tot':award_win_tot, 'award_nomination_tot':award_nomination_tot}

df = pd.DataFrame(dict)
df.head(100)

,special_award_name,special_award_tot,special_award_stat,award_win_tot,award_nomination_tot
0,Primetime Emmy,1,Nominated,4,29
1,Awards,1,nn,nn,1
2,BAFTA Award,2,Won,10,21
3,Awards,1,nn,1,nn
4,nn,nn,nn,nn,nn
...,...,...,...,...,...
95,Awards,1,nn,nn,2
96,Oscar,1,Nominated,4,8
97,Awards,1,nn,nn,2
98,Oscar,1,Won,4,12
99,nn,nn,nn,nn,nn

In [746]:
df.replace( 'nn', np.nan, inplace=True)

In [751]:
df.dtypes

special_award_name       object
special_award_tot        object
special_award_stat       object
award_win_tot           float64
award_nomination_tot    float64
dtype: object

In [750]:
df.groupby(['special_award_name']).sum()

                              award_win_tot  award_nomination_tot
special_award_name
Awards                              10426.0               22128.0
BAFTA Award                           982.0                2034.0
Oscar                                5878.0               12901.0
Primetime Emmy                       2596.0                8274.0
Top rated TV, Awards                   92.0                 276.0
Top rated TV, BAFTA Award              51.0                 113.0
Top rated TV, Primetime Emmy         1789.0                4806.0
Top rated movie, Awards               161.0                 197.0
Top rated movie, BAFTA Award          139.0                 234.0
Top rated movie, Oscar               2067.0                2502.0

# Country

CountryInfo = https://pypi.org/project/countryinfo/#api-usage

In [812]:
from countryinfo import CountryInfo
from babel import Locale
import pycountry

In [898]:
data.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added_netflix',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'netflix', 'amazon', 'date_added_amazon', 'imdb_id', 'languages',
       'director_gender', 'distributor', 'imDbRating', 'imDbRatingVotes',
       'rottenTomatoes', 'budget', 'gross', 'keywords', 'awards'],
      dtype='object')

In [899]:
data.replace( 'None', np.nan, inplace=True)
d = data.query('country.isnull() & languages.notnull()')

In [900]:
languages = d['languages'].to_list()
languages

['Chinese',
 'English',
 'English',
 'English',
 'English',
 'English, Spanish',
 'English',
 'English',
 'English',
 'English, Danish',
 'English']

In [901]:
countries = CountryInfo()
countries = countries.all()
dict = {}
for x in countries:
    if 'languages' in countries[x]:
        country = countries[x]['name']
        lang_codes = countries[x]['languages']
        
        for i in range(len(lang_codes)):
            code = lang_codes[i]
            if code != 'rs':
                Lang = pycountry.languages.get(alpha_2= code).name
             
            lang_codes.remove(code)
            lang_codes.insert(i, Lang)

        dict[country] = lang_codes
print(dict)

TypeError: 'str' object is not callable

In [881]:
for i, r in languages.iteritems():
    countries = r.split(', ')
    for country in r:
        lang_codes.remove(code)
        lang_codes.insert(i, Lang)
        print(country)

AttributeError: 'list' object has no attribute 'iteritems'

In [903]:
for x in languages:
    print(x)
    l = x.split(', ')
    print(l)
    print(len(l))

Chinese
['Chinese']

TypeError: 'str' object is not callable

In [776]:
scotland = CountryInfo('scotland')
scotland.info()

{'name': 'Scotland',
 'flag': '',
 'geoJSON': {},
 'ISO': {'alpha2': '', 'alpha3': ''},
 'provinces': ['Aberdeen City',
  'Aberdeenshire',
  'Angus',
  'Argyll and Bute',
  'City of Edinburgh',
  'Clackmannanshire',
  'Dumfries and Galloway',
  'Dundee City',
  'East Ayrshire',
  'East Dunbartonshire',
  'East Lothian',
  'East Renfrewshire',
  'Eilean Siar (Western Isles)',
  'Falkirk',
  'Fife',
  'Glasgow City',
  'Highland',
  'Inverclyde',
  'Midlothian',
  'Moray',
  'North Ayrshire',
  'North Lanarkshire',
  'Orkney Islands',
  'Perth and Kinross',
  'Renfrewshire',
  'Shetland Islands',
  'South Ayrshire',
  'South Lanarkshire',
  'Stirling',
  'The Scottish Borders',
  'West Dunbartonshire',
  'West Lothian'],
 'tld': [],
 'wiki': 'http://en.wikipedia.org/wiki/scotland'}

# Languages

In [795]:
name = 'India'
country = CountryInfo(name)

data4 = country.languages()
print(data4)

['hi', 'en']

In [801]:
l = Locale.parse(data4[0])
l = l.get_language_name('en')
print(l)

Hindi

# Budget

# Gross

# Keyword

# Duration